#top {
    position: relative;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#114b60),color-stop(0.15,#196f8d),color-stop(1,#0c3443));
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    background: #0c3443;
    background-image: -moz-linear-gradient(left,#114b60 0,#196f8d 15%,#0c3443 60%);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#114b60),color-stop(0.15,#196f8d),color-stop(1,#0c3443));
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
.footer {
    height: 30px; /* .push must be the same height as .footer */
    /*background-color: #c2dfef; */
    /*background-color: #036fab;
    color: white;*/
    color:#036fab;
    font-size: 12px;
    font-weight : bold;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.center_content {
    position: relative;
    background-color: #dddddd;
    /*background-image:url('/resources/images/sicofaa.png');*/

    padding: 5px;
}
.push {
    height: 30px; /* .push must be the same height as .footer */
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: honeydew;
}

.center-margin {
    margin: 0 auto;
    padding: 5px;
}

.incompleto{
   background-color:#F5CBA7;
   background-image:none;
}

.pendiente{
   background-color:#ffdf7f;
   background-image:none;
}

.terminado{
   background-color:#00FFFF;
   background-image:none;
}


.normal{
   background-color:#FFFFFF;
   background-image:none;
}

.container {
    background-color: #FFA500;
    padding: 10px;
}
 
.text {
    width: 200px;
    padding: 10px;
    color: #0066FF;
    border-color: #FFFFFF;
    border: 0px;   
}
.text_red {
    width: 200px;
    padding: 10px;
    color: #D50C12;
    border-color: #D50C12;
    border: 2px;   
}

.text_white{
    width: 200px;
    padding: 10px;
    color: #FFFFFF;
}

.background {
    background-image: url("../images/fondoed2.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}
 
.background_botonEva {
    background-image: url("../images/13.png");
    background-repeat: no-repeat;
    background-size: auto;
  
}
.trans {
    opacity: 0.8;
}

.contenedor{

width: 900px;
height: auto;
overflow: hidden;
    
}


.datosPerGrid td {
     border-style: hidden !important;
}