.centrado{
    margin: auto !important;
}
.q-b tr{
    border: transparent;
}
.tituloPantalla {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-position: center;
    margin: 0px auto;
}

.requerido{
    font-weight: bold;
    color: #FF0000;
}

.ui-widget,.ui-widget .ui-widget {
    font-size: 95% !important;
}
.nombreFiltro input{
    width: 300px !important;
}

.nombre1Filtro input{
    width: 100px !important;
}
.nombre2Filtro input{
    width: 200px !important;
}
.nombre1000Filtro input{
    width: 200px !important;
}
.nombre3Filtro input{
    width: 300px !important;
}
.nombre4Filtro input{
    width: 30px !important;
}
.nombre5Filtro input{
    width: 60px !important;
}
.nombre0Filtro input{
    width: 50px !important;
}
.nombre10Filtro input{
    width: 70px !important;
}
.nombre11Filtro input{
    width: 85px !important;
}
.nombre12Filtro input{
    width: 90px !important;
}
.nombre13Filtro input{
    width: 150px !important;
}
.nombre1Filtro input{
    width: 100px !important;
}
.nombre2Filtro input{
    width: 200px !important;
}
.nombre3Filtro input{
    width: 300px !important;
}
.nombre14Filtro input{
    width: 15px !important;
}
.negrita{
    font-weight: normal;
    font-size: 1.2em;
}

.black{
    font-weight: bold;
    font-size: 1.2em;
}
.centrado-texto{
    text-align: center;
}
.centrado-izq{
    text-align: left;
}
.centrado-derecha{
    text-align: right;
}
.estiloGrid{
    cursor: pointer;
}
.siseFont0{
    font-size: 0.7em;
}
.siseFont1{
    font-size: 0.8em;
}
.siseFont2{
    font-size: 0.9em;
}
.siseFont3{
    font-size: 0.975em;
}
.siseFont4{
    font-size: 0.1em;
}

.siseFontTable1{
    font-size: 0.6em;
}
.siseFontTable2{
    font-size: 0.7em !important;
}
.siseFontTable3{
    font-size: 0.8em;
}
.siseFontTable4{
    font-size: 0.9em;
}


.siseFontGrid{
    font-size: 0.9em;
}
.siseFontGrid1{
    font-size: 0.6em;
}
.siseFontGrid2{
    font-size: 0.7em;
}
.siseFontGrid3{
    font-size: 0.8em;
}
.siseFontGrid4{
    font-size: 0.9em;
}
.siseFontGrid5{
    font-size: 1em;
}
.siseFontGrid6{
    font-size: 2em;
}

.siseFontGrid7{
    font-size: 1.5em;
}
.siseFontGrid8{
    font-size: 1.1em;
}
.siseFontGrid9{
    font-size: 1.25em;
}
.siseFontGrid10{
    font-size: 1.35em;
}


.nombreFiltro0 input{
    width: 50px !important;
}
.nombreFiltrom1 input{
    width: 40px !important;
}
.nombreFiltro1 input{
    width: 50px !important;
}
.nombreFiltro2 input{
    width: 60px !important;
}
.nombreFiltro3 input{
    width: 70px !important;
}
.nombreFiltro4 input{
    width: 80px !important;
}
.nombreFiltro5 input{
    width: 90px !important;
}
.nombreFiltro6 input{
    width: 100px !important;
}
.nombreFiltro7 input{
    width: 150px !important;
}
.nombreFiltro8 input{
    width: 200px !important;
}
.nombreFiltro9 input{
    width: 250px !important;
}
.nombreFiltro10 input{
    width: 300px !important;
}
.nombreFiltro11 input{
    width: 350px !important;
}
.resetSelect label{
    width: auto !important;
}
.resetSelect2{
    width: auto !important;
}

.autoWidthDialog {
    width: auto !important;
}
.alignRightFont{
    float: right;
}
.alignLeftFont{
    float: left;
}

.titulo span{
    font-size: 1.25em !important;
}

.pintarFila {
    background-color: gold !important;
}
.pintarError {
    background-color: red !important;
}

.ui-picklist1 .ui-picklist-list1{
    height:250px;
    width: 275px;
    /*width: 350px;*/
}
/*.ui-ring-item{ 
    background-color: red !important; 
} */
.ui-ring1 { 
    height: 18em; 
}
.aro li{
    background-image: url(../images/silueta.jpg);
}

.ui-ring {
    list-style: none;
    width: 75%;
    height: 400px;
    margin: 1em auto;
}

.ui-ring-item {
    height: 300px !important;
    width: 300px !important;
    border-radius: 100px !important;
    /*line-height:230px;*/
    /*background-image: url(../images/silueta.jpg);*/
    /*cursor: pointer;*/
}
/*.item{
    background-color: orange !important;
}*/
.vcenter{
    width: 250px;
    height: 200px;
}
.vcenter:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vcenter :first-child {
    display:inline-block;
    vertical-align:middle;
}

.ui-ring-item-focus {
    cursor: auto;
}

#contenedor {
    width: 185%;
}
.enlace a:hover { 
    /*color: red;*/
    background-color: black;
}

#first-content{
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:-1;
}
#page{
    position: relative;
    top: 100%;

}

/*//Mis Librerias:*/

.row:before,
.row:after{
    display: table;
    content: " ";
}
.row:after{
    clear: both;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.img {
    border: 0;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-muted {
    color: #777;
}
.text-primary {
    color: #428bca;
}
.fieldsize1 legend{
    font-size: 0.6em;
}
.fieldsize2 legend{
    font-size: 0.7em;
}
.fieldsize3 legend{
    font-size: 0.8em;
}
.fieldsize4 legend{
    font-size: 0.9em;
}
.anchoT td{
    width: 500px !important;
}
.foto{
    padding: 10px;
    display: inline-block;
}
/*.ui-picklist .ui-picklist-list{
    width:400px !important;
}*/
.pickFam{
    font-size: 0.8em !important;
}
.formatNum{
    text-align: right;
}

.fileupload-simple > .ui-fileupload-content {
    display: none;
}
.fileupload-simple > .ui-fileupload-buttonbar {
     
    border-radius: 4px;
}
 