
.card1 {
    background-color: #f7f7f7;
    padding: 20px 25px 20px;
    margin: 0 auto;
    width: 570px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.card2 {
    background-color: #f5f5f5;
    padding: 20px 25px 20px;
    margin: 0 auto 25px;
    width: 300px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.banner {
    text-align: center;
    color: #000;
}
.banner h1 {
    font-size: 25px;
    margin-bottom: 15px;
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-weight: 300;
    margin-top: 0;

}
.logoEmgra{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.inputUsuario{
    margin-bottom: 0;
    height: 40px;
    font-size: 16px !important;
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border-radius: 1px;
    color: #404040;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;


}.inputUsuario:hover{
    z-index: 3;
}
.inputUsuario:focus{
    outline:solid 1px #666;
}
.inputPass:hover{
    z-index: 3;
}
.inputPass:focus{
    outline:solid 1px #666;
}
.inputPass{
    margin-bottom: 0;
    height: 40px;
    font-size: 16px !important;
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border-radius: 1px;
    color: #404040;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    margin-top: -1px;
}
.inputSubmit{
    width: 100% !important; 
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px  !important;
    font-weight: bold;
    border: 1px solid #000 !important;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #000 !important;
    background-color: #4d90fe !important;
    background-image: -webkit-linear-gradient(top,#1D1C1C,#424141) !important;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed) !important;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    transition: all 0.218s;
    -webkit-user-select: none;
    cursor: default;
    -webkit-appearance: push-button;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    -webkit-writing-mode: horizontal-tb;


}
.inputSubmit:visited{
    min-width: 46px;
text-align: center;
font-weight: 700;
height: 36px;
line-height: 36px;
border-radius: 3px;
}
.mensajeLogin{
    margin: .5em 0;
    display: block;
    color: #000 !important;
    line-height: 17px;
    
}
body{
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: honeydew;
}

.rf-msgs-err{
    color: #000 !important; 
}
#footer{
width: 960px;
height: 150px;
margin: -150px auto 0;
}
#page-wrap{
width: 960px;
margin: auto;
height: auto;
min-height:100%;
}
 
#page-wrap:after{
width: 100%;
height:150px;
display:block;
clear:both;
}
html,body{
height:100%;
}