<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.marista.sigma.dao.CajaChicaDAO"> 
    <sql id="consultaCampos">
        Select  
        caja.uniNeg,
        caja.idCajaChica,
        caja.anio,
        caja.idCajero,
        per.apepat,
        per.apemat,
        per.nombre,
        per.idUniOrg,
        caja.idSuperviza,
        perSup.apepat as apepatSup, 
        perSup.apemat as apematSup,
        perSup.nombre as nombreSup,
        caja.aperturaSol,
        caja.aperturaDol,
        caja.utilizadoSol,
        caja.utilizadoDol,
        caja.saldoSol,
        caja.saldoDol,
        caja.diferenciaSol,
        caja.diferenciaDol,
        caja.montoMaxMovSol,
        caja.montoMaxMovDol,
        caja.devueltoSol,
        caja.devueltoDol,
        caja.fecApertura,
        caja.fecCierre,
        caja.creaPor,
        caja.creaFecha,
        caja.modiPor,
        caja.idSolRep,
        caja.idTipoCajaChica,
        cod.codigo as codTipoCajaChica,
        uniCo.codigo as uniCodigo,
        uni.nombreUniNeg
        From MT_CajaChica caja
        Left Join MO_Personal per On caja.idCajero=per.idPersonal and caja.uniNeg=per.uniNeg
        Left Join MO_Personal perSup On caja.idSuperviza=perSup.idPersonal and caja.uniNeg=perSup.unineg
        Left Join MO_Codigo cod On caja.idTipoCajaChica=cod.idCodigo
        Inner Join MO_UnidadNegocio uni On caja.unineg=uni.unineg
        Inner Join MO_Codigo uniCo On uni.idtipoUniNeg=uniCo.idCodigo
    </sql>
    <resultMap id="cajaChicaResultado" type="pe.marista.sigma.bean.CajaChicaBean">
        <id property="unidadNegocioBean.uniNeg" column="uniNeg" />
        <id property="idCajaChica" column="idCajaChica" />
        <result property="anio" column="anio" />
        <result property="aperturaSol" column="aperturaSol" />
        <result property="aperturaDol" column="aperturaDol" />
        <result property="utilizadoSol" column="utilizadoSol" />
        <result property="utilizadoDol" column="utilizadoDol" />
        <result property="saldoSol" column="saldoSol" />
        <result property="saldoDol" column="saldoDol" />
        <result property="diferenciaSol" column="diferenciaSol" />
        <result property="diferenciaDol" column="diferenciaDol" />
        <result property="montoMaxMovSol" column="montoMaxMovSol" />
        <result property="montoMaxMovDol" column="montoMaxMovDol" />
        <result property="devueltoSol" column="devueltoSol" />
        <result property="devueltoDol" column="devueltoDol" />
        <result property="fecApertura" column="fecApertura" />
        <result property="fecCierre" column="fecCierre" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="modiPor" column="modiPor" />
        <result property="solicitudCajaCHBean.idSolicitudCajaCh" column="idSolRep" />
        <result property="tipoCajaChica.idCodigo" column="idTipoCajaChica" />
        <result property="tipoCajaChica.codigo" column="codTipoCajaChica" />
        <result property="unidadNegocioBean.codigoBean.codigo" column="uniCodigo" />
        <result property="unidadNegocioBean.nombreUniNeg" column="nombreUniNeg" />
        <association property="personalCajeroBean" column="idCajero" 
                     javaType="pe.marista.sigma.bean.PersonalBean" 
                     resultMap="personalResultado"/>
        <association property="personalBean" column="idSuperviza" 
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalSuperResultado"/>
        <!--association property="tipoCambioBean" column="idTipoMoneda" 
        javaType="pe.marista.sigma.bean.TipoCambioBean"
        resultMap="tipoCambioResultado"/-->
    </resultMap>
    <!--resultMap id="tipoCambioResultado" type="pe.marista.sigma.bean.TipoCambioBean">
        <id property="idTipoMoneda" column="idTipoMoneda" />
        <result property="tcCompra" column="tcCompra" />
        <result property="tcVenta" column="tcVenta" />
    </resultMap-->
    <resultMap id="personalResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idCajero" />
        <result property="nombre" column="nombre" />
        <result property="apepat" column="apepat" />
        <result property="apemat" column="apemat" />
        <result property="unidadOrganicaBean.idUniOrg" column="idUniOrg" />
    </resultMap>
    <!--
    <resultMap id="personalResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idPersonal" />
        <result property="nombre" column="nombre" />
        <result property="apepat" column="apepat" />
        <result property="apemat" column="apemat" />
    </resultMap>
    -->
    <resultMap id="personalSuperResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idSuperviza" />
        <result property="nombre" column="nombreSup" />
        <result property="apepat" column="apepatSup" />
        <result property="apemat" column="apematSup" />
    </resultMap>
    <select id="obtenerCajaChica" resultMap="cajaChicaResultado">
        <include refid="consultaCampos" />Where caja.uniNeg = #{unidadNegocioBean.uniNeg} order by fecApertura desc
    </select>
    <select id="obtenerCajaChicaAbierto" resultMap="cajaChicaResultado" parameterType="pe.marista.sigma.bean.CajaChicaBean">
        <include refid="consultaCampos" />
        Where caja.uniNeg = #{unidadNegocioBean.uniNeg} and fecCierre is null and caja.idTipoCajaChica = #{tipoCajaChica.idCodigo}
        order by caja.idCajaChica desc
    </select>
    <select id="obtenerCajaChicaPorFiltro" resultMap="cajaChicaResultado">
        <include refid="consultaCampos" />Where caja.uniNeg = #{unidadNegocioBean.uniNeg} order by fecApertura desc
    </select>
    <select id="obtenerCajaChicaPorId" resultMap="cajaChicaResultado">
        <include refid="consultaCampos" />Where caja.uniNeg = #{unidadNegocioBean.uniNeg} and caja.idCajaChica = #{idCajaChica}
    </select>
    <insert id="insertarCajaChica" parameterType="pe.marista.sigma.bean.CajaChicaBean">
        Insert Into MT_CajaChica (idCajaChica,uniNeg,anio,idCajero,idSuperviza,aperturaSol,aperturaDol,utilizadoSol,utilizadoDol,saldoSol,saldoDol,diferenciaSol,diferenciaDol,
        montoMaxMovSol,montoMaxMovDol,fecApertura,fecCierre,creaPor,creaFecha,idTipoCajaChica)
        Values (0,#{unidadNegocioBean.uniNeg},#{anio},#{personalCajeroBean.idPersonal},#{personalBean.idPersonal},#{aperturaSol},#{aperturaDol},#{utilizadoSol},#{utilizadoDol},
        #{saldoSol},#{saldoDol},#{diferenciaSol},#{diferenciaDol},#{montoMaxMovSol},#{montoMaxMovDol},#{fecApertura},
        #{fecCierre},#{creaPor},getDate(),#{tipoCajaChica.idCodigo})
        <selectKey keyProperty="idCajaChica" order="AFTER" resultType="Integer">
            SELECT max(idCajaChica) FROM MT_CajaChica WHERE uniNeg = #{unidadNegocioBean.uniNeg};
        </selectKey>
    </insert> 
    <update id="modificarCajaChica" parameterType="pe.marista.sigma.bean.CajaChicaBean">
        Update MT_CajaChica set
        anio = #{anio},
        idCajero = #{personalCajeroBean.idPersonal},
        idSuperviza = #{personalBean.idPersonal},
        aperturaSol = #{aperturaSol},
        aperturaDol = #{aperturaDol},
        utilizadoSol = #{utilizadoSol},
        utilizadoDol = #{utilizadoDol},
        saldoSol = #{saldoSol},
        saldoDol = #{saldoDol},
        diferenciaSol = #{diferenciaSol},
        diferenciaDol = #{diferenciaDol},
        montoMaxMovSol = #{montoMaxMovSol},
        montoMaxMovDol = #{montoMaxMovDol},
        devueltoSol = #{devueltoSol},
        devueltoDol = #{devueltoDol},
        fecApertura = #{fecApertura},
        fecCierre = #{fecCierre},
        modiPor = #{modiPor}
        Where uniNeg = #{unidadNegocioBean.uniNeg} and idCajaChica = #{idCajaChica}   
    </update>
    <update id="modificarCajaChicaCantidadades" parameterType="pe.marista.sigma.bean.CajaChicaBean">
        Update MT_CajaChica set
        aperturaSol = #{aperturaSol},
        aperturaDol = #{aperturaDol},
        utilizadoSol = #{utilizadoSol},
        utilizadoDol = #{utilizadoDol},
        saldoSol = #{saldoSol},
        saldoDol = #{saldoDol},
        diferenciaSol = #{diferenciaSol},
        diferenciaDol = #{diferenciaDol},
        devueltoSol = #{devueltoSol},
        devueltoDol = #{devueltoDol},
        modiPor = #{modiPor}
        Where uniNeg = #{unidadNegocioBean.uniNeg} and idCajaChica = #{idCajaChica}   
    </update>
    <delete id="eliminarCajaChica" parameterType="pe.marista.sigma.bean.CajaChicaBean">
        Delete from MT_CajaChica Where uniNeg = #{unidadNegocioBean.uniNeg} and idCajaChica = #{idCajaChica}  
    </delete>
    <update id="cerrarCaja" parameterType="pe.marista.sigma.bean.CajaChicaBean">
        Update MT_CajaChica set
        fecCierre = #{fecCierre}
        Where uniNeg = #{unidadNegocioBean.uniNeg} and idCajaChica = #{idCajaChica}   
    </update>
    <insert id="insertarCajaChicaSaldo" parameterType="pe.marista.sigma.bean.CajaChicaSaldoBean">
        Insert Into MT_CajaChicaSaldo (idCajaChicaSaldo,uniNeg,idCajaChica,idTipoMoneda,importe,creaPor,creaFecha) 
        Values(0,#{cajaChicaBean.unidadNegocioBean.uniNeg},#{cajaChicaBean.idCajaChica},#{tipoMonedaBean.idCodigo},#{importe},#{creaPor},getDate())
    </insert>
    <update id="modificarCajaChicaSaldo" parameterType="pe.marista.sigma.bean.CajaChicaSaldoBean">
        Update MT_CajaChicaSaldo set importe=#{importe},modiPor=#{modiPor}
        Where uniNeg = #{cajaChicaBean.unidadNegocioBean.uniNeg} and idCajaChica = #{cajaChicaBean.idCajaChica} and idCajaChicaSaldo=#{idCajaChicaSaldo}
    </update>
    <select id="obtenerCajaChicaSaldoPorCCH" resultMap="cajaChicaSaldoResultado" parameterType="pe.marista.sigma.bean.CajaChicaSaldoBean">
        Select uniNeg,idCajaChica,idCajaChicaSaldo,idTipoMoneda,importe,creaPor,creaFecha From MT_CajaChicaSaldo
        Where uniNeg = #{cajaChicaBean.unidadNegocioBean.uniNeg} and idCajaChica = #{cajaChicaBean.idCajaChica} and idTipoMoneda = #{tipoMonedaBean.idCodigo}
    </select>
    <resultMap id="cajaChicaSaldoResultado" type="pe.marista.sigma.bean.CajaChicaSaldoBean">
        <id property="cajaChicaBean.unidadNegocioBean.uniNeg" column="uniNeg" />
        <id property="cajaChicaBean.idCajaChica" column="idCajaChica" />
        <id property="idCajaChicaSaldo" column="idCajaChicaSaldo" />
        <result property="tipoMonedaBean.idCodigo" column="idTipoMoneda" />
        <result property="importe" column="importe" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
    </resultMap>
    <!--Repsocion Caja Chica-->
    <select id="obtenerUltimaCajaChicaCerrada" parameterType="pe.marista.sigma.bean.CajaChicaBean" resultMap="cajaChicaResultado">
        <include refid="consultaCampos"/>
        Where caja.fecapertura = (select max(fecapertura) From MT_CajaChica Where unineg = #{unidadNegocioBean.uniNeg}) and caja.feccierre is not null and caja.idTipoCajaChica = #{tipoCajaChica.idCodigo}
    </select>
    <update id="modificarIdSolRep" parameterType="pe.marista.sigma.bean.CajaChicaBean">
        Update MT_CajaChica set idSolRep = #{solicitudCajaCHBean.idSolicitudCajaCh}
        Where idCajaChica = #{idCajaChica} and uniNeg = #{unidadNegocioBean.uniNeg}
    </update>
    <update id="modificarCajaChicaAnulacionSoles"  parameterType="map">
        Update MT_CajaChica set
        utilizadoSol = #{utilizado},
        saldoSol = #{saldo},
        modiPor = #{modiPor}
        Where uniNeg = #{uniNeg} and idCajaChica = #{idCajaChica}   
    </update>
    <update id="modificarCajaChicaAnulacionDolares"  parameterType="map">
        Update MT_CajaChica set
        utilizadoDol = #{utilizado},
        saldoDol = #{saldo}, 
        modiPor = #{modiPor}
        Where uniNeg = #{uniNeg} and idCajaChica = #{idCajaChica}   
    </update>
    <update id="modificarCajaChicaSaldoAnulacion"  parameterType="map">
        Update MT_CajaChicaSaldo set
        importe = #{importe},     
        modiPor = #{modiPor}
        Where uniNeg = #{uniNeg} and idCajaChica = #{idCajaChica}   and idtipomoneda=#{idTipoMoneda}
    </update>
</mapper>
