<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.marista.sigma.dao.CajaChicaLiquidacionDAO">
    <sql id="consultaCampos">
        Select 
        liq.uniNeg,
        liq.idCajaChicaMov,
        liq.idDocEgreso,
        mov.motivo,
        mov.monto,
        doc.montoPagado as montoDoc,
        doc.glosa as motivoDoc,
        liq.idSolicitudCajaCh,
        liq.idSolicitudCajaCh as idSolCajaCh,
        liq.idCajaChicaLiquidacion,
        liq.proveedor,
        liq.ruc,
        liq.idTipoDoc,
        cod.codigo,
        dis.idcodigo as idTipoDis, 
        liq.nroDoc,
        liq.monto as montoT,
        liq.descuento,
        liq.impuesto,
        liq.montoTotal,
        liq.montoDevuelto,
        liq.cr,
        liq.idConcepto,
        con.idTipoConcepto,
        liq.cuentaD,
        liq.cuentaH,
        liq.creaPor,
        liq.creaFecha
        FROM MT_CajaChicaLiquidacion liq
        Left Join MT_CajaChicaMov mov On liq.idCajaChicaMov=mov.idCajaChicaMov and mov.unineg=liq.unineg
        Left Join MT_Concepto con On liq.idConcepto=con.idConcepto
        Left Join MO_Codigo cod On liq.idTipoDoc=cod.idCodigo
        Left Join MO_Codigo dis On liq.idTipoDistribucion=dis.idCodigo
        Left Join MT_DocEgreso doc On liq.idDocEgreso=doc.idDocEgreso and doc.unineg=liq.unineg
    </sql>
    <sql id="consultaCampos2">
        Select distinct
        liq.uniNeg,
        liq.idCajaChicaMov,
        liq.idDocEgreso,
        mov.motivo,
        mov.monto,
        doc.montoPagado as montoDoc,
        doc.glosa as motivoDoc,
        liq.idSolicitudCajaCh,
        liq.idSolicitudCajaCh as idSolCajaCh,
        liq.idCajaChicaLiquidacion,
        liq.proveedor,
        liq.ruc,
        liq.idTipoDoc,
        cod.codigo,
        dis.idcodigo as idTipoDis, 
        liq.nroDoc,
        liq.monto as montoT,
        liq.descuento,
        liq.impuesto,
        liq.montoTotal,
        liq.montoDevuelto,
        liq.cr,
        liq.idConcepto,
        con.idTipoConcepto,
        liq.cuentaD,
        liq.cuentaH,
        liq.creaPor,
        liq.creaFecha
        FROM MT_CajaChicaLiquidacion liq
        Left Join MT_CajaChicaMov mov On liq.idCajaChicaMov=mov.idCajaChicaMov and mov.unineg=liq.unineg
        Left Join MT_Concepto con On liq.idConcepto=con.idConcepto
        Left Join MO_Codigo cod On liq.idTipoDoc=cod.idCodigo
        Left Join MO_Codigo dis On liq.idTipoDistribucion=dis.idCodigo
        Left Join MT_DocEgreso doc On liq.idDocEgreso=doc.idDocEgreso and doc.unineg=liq.unineg
    </sql>
    <resultMap id="cajaChicaLiquidacionResultado" type="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        <id property="cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg" column="uniNeg"/>
        <id property="cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh" column="idSolicitudCajaCh"/>
        <id property="idCajaChicaLiquidacion" column="idCajaChicaLiquidacion"/>
        <result property="cajaChicaMovBean.idCajaChicaMov" column="idCajaChicaMov"/>
        <result property="docEgresoBean.idDocEgreso" column="idDocEgreso"/>
        <result property="conceptoBean.tipoConceptoBean.idTipoConcepto" column="idTipoConcepto"/>
        <result property="tipoDoc.codigo" column="codigo"/>
        <result property="proveedor" column="proveedor"/>
        <result property="ruc" column="ruc"/>
        <result property="tipoDoc.idCodigo" column="idTipoDoc"/>
        <result property="nroDoc" column="nroDoc"/>
        <result property="monto" column="montoT"/>
        <result property="descuento" column="descuento"/>
        <result property="impuesto" column="impuesto"/>
        <result property="montoTotal" column="montoTotal"/>
        <result property="montoDevuelto" column="montoDevuelto"/>
        <result property="centroResponsabilidadBean.cr" column="cr"/>
        <result property="conceptoBean.idConcepto" column="idConcepto"/>
        <result property="cuentaD" column="cuentaH"/>
        <result property="creaPor" column="creaPor"/>
        <result property="creaFecha" column="creaFecha"/>
        <result property="idSolCajaCh" column="idSolCajaCh"/>
        <result property="cajaChicaMovBean.motivo" column="motivo"/>
        <result property="cajaChicaMovBean.monto" column="monto"/>
        <result property="docEgresoBean.glosa" column="motivoDoc"/>
        <result property="docEgresoBean.montoPagado" column="montoDoc"/>
        <result property="tipoDistribucion.idCodigo" column="idTipoDis"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechaDoc" column="fechaDoc"/>
    </resultMap>
    <select id="obtenerCajaChicaLiquidacion" resultMap="cajaChicaLiquidacionResultado" parameterType="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        <include refid="consultaCampos2" />
        left join MT_Asiento asi on asi.idobjeto=liq.idcajachicaliquidacion and asi.unineg=liq.unineg and asi.objeto='MT_CajaChicaLiquidacion'
        Where liq.uniNeg = #{cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg}   
        and (asi.status is null or asi.status=1)
    </select>
    <select id="obtenerCajaChicaLiquidacionPorMov" resultMap="cajaChicaLiquidacionResultado" parameterType="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        <include refid="consultaCampos2" />
        left join MT_Asiento asi on asi.idobjeto=liq.idcajachicaliquidacion and asi.unineg=liq.unineg and asi.objeto='MT_CajaChicaLiquidacion'
        Where liq.uniNeg = #{cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg} and liq.idCajaChicaMov = #{cajaChicaMovBean.idCajaChicaMov} 
        and (asi.status is null or asi.status=1)
    </select>
    <select id="obtenerCajaChicaLiquidacionPorDoc" resultMap="cajaChicaLiquidacionResultado" parameterType="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        Select distinct
        liq.uniNeg,
        liq.idCajaChicaMov,
        liq.idDocEgreso,
        mov.motivo,
        mov.monto,
        doc.montoPagado as montoDoc,
        doc.glosa as motivoDoc,
        liq.idSolicitudCajaCh,
        liq.idSolicitudCajaCh as idSolCajaCh,
        liq.idCajaChicaLiquidacion,
        liq.proveedor,
        liq.ruc,
        liq.idTipoDoc,
        cod.codigo,
        dis.idcodigo as idTipoDis, 
        liq.nroDoc,
        liq.monto as montoT,
        liq.descuento,
        liq.impuesto,
        liq.montoTotal,
        liq.montoDevuelto,
        liq.cr,
        liq.idConcepto,
        con.idTipoConcepto,
        liq.cuentaD,
        liq.cuentaH,
        liq.creaPor,
        liq.creaFecha,
        liq.descripcion as descripcion,
        asi.fechadoc as fechaDoc
        FROM MT_CajaChicaLiquidacion liq
        Left Join MT_CajaChicaMov mov On liq.idCajaChicaMov=mov.idCajaChicaMov and mov.unineg=liq.unineg
        Left Join MT_Concepto con On liq.idConcepto=con.idConcepto
        Left Join MO_Codigo cod On liq.idTipoDoc=cod.idCodigo
        Left Join MO_Codigo dis On liq.idTipoDistribucion=dis.idCodigo
        Left Join MT_DocEgreso doc On liq.idDocEgreso=doc.idDocEgreso and doc.unineg=liq.unineg 
        left join MT_Asiento asi on asi.idobjeto=liq.idcajachicaliquidacion and asi.unineg=liq.unineg and asi.objeto='MT_CajaChicaLiquidacion'
        Where liq.uniNeg = #{cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg} and liq.idDocEgreso = #{docEgresoBean.idDocEgreso} 
        and (asi.status is null or asi.status=1)
    </select>
    <select id="obtenerCajaChicaLiquidacionPorId" resultMap="cajaChicaLiquidacionResultado" parameterType="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        <include refid="consultaCampos2" />
        left join MT_Asiento asi on asi.idobjeto=liq.idcajachicaliquidacion and asi.unineg=liq.unineg and asi.objeto='MT_CajaChicaLiquidacion'
        Where liq.uniNeg = #{cajaChicaMovBean.uniNeg} and liq.idCajaChicaMov = #{cajaChicaMovBean.idCajaChicaMov} and 
        liq.idSolicitudCajaCh = #{cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh} and liq.idCajaChicaLiquidacion = #{idCajaChicaLiquidacion}
        and (asi.status is null or asi.status=1)
    </select>
    <insert id="insertarCajaChicaLiquidacion" parameterType="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        Insert Into MT_CajaChicaLiquidacion(uniNeg,idCajaChicaMov,idDocEgreso,idSolicitudCajaCh,proveedor,ruc,idTipoDoc,
        nroDoc,monto,descuento,impuesto,montoTotal,idConcepto,creaPor,creaFecha,cuentaD,cuentaH,idtipodistribucion,descripcion) 
        Values(#{cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg},#{cajaChicaMovBean.idCajaChicaMov},#{docEgresoBean.idDocEgreso},#{cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh},
        #{proveedor},#{ruc},#{tipoDoc.idCodigo},#{nroDoc},#{monto},#{descuento},#{impuesto},#{montoTotal},
        #{conceptoBean.idConcepto},#{creaPor},getDate(),#{cuentaD},#{cuentaH},#{tipoDistribucion.idCodigo},#{descripcion})
        <selectKey keyProperty="idCajaChicaLiquidacion" order="AFTER" resultType="Integer">
            SELECT max(idCajaChicaLiquidacion) FROM MT_CajaChicaLiquidacion WHERE uniNeg = #{cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg}
            and idSolicitudCajaCh = #{cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh}
        </selectKey> 
    </insert> 
    <update id="modificarCajaChicaLiquidacion" parameterType="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        Update MT_CajaChicaLiquidacion 
        set
        proveedor = #{proveedor},
        ruc = #{ruc},
        idTipoDoc = #{tipoDoc.idCodigo},
        nroDoc = #{nroDoc},
        monto = #{monto},
        descuento = #{descuento},
        impuesto = #{impuesto},
        montoTotal = #{montoTotal},
        cr = #{centroResponsabilidadBean.cr},
        idConcepto = #{conceptoBean.idConcepto},
        idtipodistribucion=#{tipoDistribucion.idCodigo},
        descripcion=#{descripcion},
        modiPor = #{modiPor}
        Where uniNeg = #{cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg}
        <if test="cajaChicaMovBean.idCajaChicaMov == null and docEgresoBean.idDocEgreso != null">
            and idDocEgreso = #{docEgresoBean.idDocEgreso}
        </if>
        <if test="docEgresoBean.idDocEgreso == null and cajaChicaMovBean.idCajaChicaMov != null">
            and idCajaChicaMov = #{cajaChicaMovBean.idCajaChicaMov} 
        </if>
        and idSolicitudCajaCh = 
        <if test="cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh == null and docEgresoBean.solicitudCajaCHBean.idSolicitudCajaCh != null">
            #{docEgresoBean.solicitudCajaCHBean.idSolicitudCajaCh} 
        </if>
        <if test="docEgresoBean.solicitudCajaCHBean.idSolicitudCajaCh == null and cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh != null">
            #{cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh} 
        </if>
        and idCajaChicaLiquidacion = #{idCajaChicaLiquidacion}
    </update> 
    <update id="modificarDevCajaChicaLiquidacion" parameterType="map">
        Update MT_CajaChicaLiquidacion 
        set
        montoDevuelto=#{montoDevuelto} 
        Where uniNeg = #{uniNeg} and idSolicitudCajaCh = #{idSolicitudCajaCh}
    </update> 
    <delete id="eliminarCajaChicaLiquidacion" parameterType="pe.marista.sigma.bean.CajaChicaLiquidacionBean">
        Delete From MT_CajaChicaLiquidacion Where uniNeg = #{cajaChicaMovBean.cajaChicaBean.unidadNegocioBean.uniNeg} and idCajaChicaMov = #{cajaChicaMovBean.idCajaChicaMov} and 
        idSolicitudCajaCh = #{cajaChicaMovBean.solicitudCajaCHBean.idSolicitudCajaCh} and idCajaChicaLiquidacion = #{idCajaChicaLiquidacion}
    </delete>    
    <select id="obtenerLiquidacion" parameterType="map" resultType="pe.marista.sigma.bean.reporte.LiquidacionRepBean" >
        DECLARE @idsolicitud int ,@unineg varchar(6)
        set @idsolicitud=#{idObjeto}
        set @unineg=#{uniNeg}
        DECLARE
        @MONTOTOTALLIQ MONEY=(SELECT SUM(C.montototal) FROM MT_CajaChicaLiquidacion C WHERE C.idsolicitudcajach=#{idObjeto} AND C.unineg=#{uniNeg}
        AND C.idcajachicaliquidacion IN (select distinct idobjeto from MT_Asiento where idobjeto in ( select idcajachicaliquidacion from MT_CajaChicaLiquidacion where idsolicitudcajach=@idsolicitud)
        and  (isnull(status,0)=1))) ,
        @MONTODEV MONEY=(SELECT SUM(C.montodevuelto) FROM MT_CajaChicaLiquidacion  C WHERE C.idsolicitudcajach=@idsolicitud AND C.unineg=@unineg
        AND C.idcajachicaliquidacion IN (select distinct idobjeto from MT_Asiento where idobjeto in ( select idcajachicaliquidacion from MT_CajaChicaLiquidacion where idsolicitudcajach=@idsolicitud)
        and  (isnull(status,0)=1))) ,
        @TOTALCOMPROBANTES int = (SELECT count(*) FROM MT_CajaChicaLiquidacion C WHERE C.idsolicitudcajach=#{idObjeto} AND C.unineg=#{uniNeg}
        AND C.idcajachicaliquidacion IN (select distinct idobjeto from MT_Asiento where idobjeto in ( select idcajachicaliquidacion from MT_CajaChicaLiquidacion where idsolicitudcajach=@idsolicitud)
        and  (isnull(status,0)=1)))  
        select entUni.nombre as nombreUniNeg, 'R.U.C.: '+entUni.ruc as rucUniNeg,liq.idcajachicaliquidacion as idCajaChicaLiquidacion,
        (case when sol.idTipoSolicitante ='COL' then concat(UPPER(per.apepat),' ',UPPER(per.apemat),', ',UPPER(per.nombre))
        when sol.idTipoSolicitante ='PER' then concat(UPPER(pers.apepat),' ',UPPER(pers.apemat),', ',UPPER(pers.nombre))
        when sol.idTipoSolicitante ='PRO' then  (UPPER(ent.nombre)) end
        ) as nombreSolicitante,
        CONVERT(varchar, CAST(isnull(sol.montoaprobado,0) AS money), 1)  as montoAprobado,
        CONVERT(varchar, CAST((isnull(sol.montoaprobado,0)-isnull(@MONTOTOTALLIQ,0)) AS money), 1) as montoDev,
        isnull(sol.montoaprobado,0)-isnull(@MONTOTOTALLIQ,0) as montoDev,
        CONVERT(varchar, CAST(isnull(@MONTOTOTALLIQ,0) AS money), 1)     as montoTotalLiq,
        CONVERT(varchar, CAST((isnull(sol.montoaprobado,0)-isnull(@MONTOTOTALLIQ,0)) AS money), 1) as diferencia,
        isnull(cod.codigo,'Soles') as moneda,
        con.nombre as glosa,
        liq.proveedor, 
        (select CONVERT(VARCHAR(10),liq.creafecha, 103) + ' '  + convert(VARCHAR(8),liq.creafecha, 14))  as  fechaLiq,
        substring(doc.numcheque,1,4)+ ' '+substring(doc.numcheque,5,15) as numCheque,
        CONVERT(VARCHAR(10),isnull(doc.fechaemision,doc.creafecha), 103) as fechaDocE,
        CONVERT(VARCHAR(10),isnull(LIQ.creafecha,GETDATE()), 103)  AS fechaDoc,
        @TOTALCOMPROBANTES as totalComprobantes
        from   MT_CajaChicaLiquidacion  LIQ 
        inner join MT_SolicitudCajaCh sol on sol.idsolicitudcajach=liq.idsolicitudcajach and   liq.unineg=sol.unineg
        inner join MT_DocEgreso doc on doc.idsolicitudcajach=sol.idsolicitudcajach and doc.unineg=sol.unineg
        left  join MO_Personal per on sol.idPersonal =per.idPersonal and per.uniNeg=sol.uniNeg
        left  join MX_Persona pers on sol.idPersonal =pers.idPersona and pers.uniNeg=sol.uniNeg
        left  join MO_Entidad ent on sol.idPersonal =ent.ruc and ent.uniNeg=sol.uniNeg
        inner join MO_UnidadNegocio uni on uni.unineg=LIQ.unineg
        inner join MO_Entidad entUni on entUni.ruc=uni.RUC and entUni.unineg=uni.unineg 
        inner join MO_Codigo cod on cod.idcodigo=sol.idtipomoneda
        inner join MT_Concepto con on con.idconcepto=liq.idconcepto  
        WHERE SOL.idsolicitudcajach=@idsolicitud and sol.unineg=#{uniNeg} 
        <!--and liq.idCajachicaLiquidacion=#{idCajachicaLiquidacion}-->
    </select>
    <select id="obtenerDetLiquidacion" parameterType="map" resultType="pe.marista.sigma.bean.reporte.LiquidacionRepBean" >
        DECLARE @idsolicitud int ,@unineg varchar(6)
        set @idsolicitud=#{idObjeto}
        set @unineg=#{uniNeg}
        DECLARE 
        @MONTOTOTALLIQ MONEY=(SELECT SUM(C.montototal) FROM MT_CajaChicaLiquidacion  C WHERE C.idsolicitudcajach=@idsolicitud AND C.unineg=@unineg
        AND C.idcajachicaliquidacion IN (select distinct idobjeto from MT_Asiento where  objeto='MT_CajaChicaLiquidacion' and idobjeto in ( select idcajachicaliquidacion from MT_CajaChicaLiquidacion where idsolicitudcajach=@idsolicitud)
        and (isnull(status,0)=1))) ,
        @MONTODEV MONEY=(SELECT SUM(C.montodevuelto) FROM MT_CajaChicaLiquidacion  C WHERE C.idsolicitudcajach=@idsolicitud AND C.unineg=@unineg
        AND C.idcajachicaliquidacion IN (select distinct idobjeto from MT_Asiento where  objeto='MT_CajaChicaLiquidacion' and idobjeto in ( select idcajachicaliquidacion from MT_CajaChicaLiquidacion where idsolicitudcajach=@idsolicitud)
        and (isnull(status,0)=1))) ,
        @TOTALCOMPROBANTES int = (SELECT count(*) FROM MT_CajaChicaLiquidacion C WHERE C.idsolicitudcajach=#{idObjeto} AND C.unineg=#{uniNeg}
        AND C.idcajachicaliquidacion IN
        (select distinct idobjeto from MT_Asiento where objeto='MT_CajaChicaLiquidacion' and idobjeto in ( select idcajachicaliquidacion from MT_CajaChicaLiquidacion where idsolicitudcajach=@idsolicitud)
        and (isnull(status,0)=1))) 
        select distinct entUni.nombre as nombreUniNeg, 'R.U.C.: '+entUni.ruc as rucUniNeg,liq.idcajachicaliquidacion as idCajaChicaLiquidacion,
        (UPPER(isnull(sol.nomrespcheque,''))) as nombreSolicitante,
        CONVERT(varchar, CAST(isnull(sol.montoaprobado,0) AS money), 1)  as montoAprobado,
        <!--CONVERT(varchar, CAST(isnull(@MONTODEV,0) AS money), 1)  as montoDev,-->
        CONVERT(varchar, CAST((isnull(sol.montoaprobado,0)-isnull(@MONTOTOTALLIQ,0)) AS money), 1) as montoDev,
        CONVERT(varchar, CAST(isnull(@MONTOTOTALLIQ,0) AS money), 1)     as montoTotalLiq,
        CONVERT(varchar, CAST((isnull(sol.montoaprobado,0)-isnull(@MONTOTOTALLIQ,0)) AS money), 1) as diferencia,
        convert(varchar,asi.cr) as cr,
        CONVERT(varchar,asi.cuentad) as cuentad, 
        CONVERT(varchar, CAST(isnull(asi.monto,0) AS money), 1)  as montoLiq,
        <!--(case when tipDoc.codigo = 'Factura' then 'Fac. ' when tipDoc.codigo = 'Boleta' then 'Bol. ' when tipDoc.codigo = 'Recibo' then 'Rec. '  else '' end ) +asi.numerocomprobante as numComprobante,-->
        substring(isnull(tipDoc.codigo,'Recibo'),1,3) +isnull(asi.numerocomprobante,'0') as   numComprobante,
        isnull(cod.codigo,'Soles') as moneda,
        isnull(liq.descripcion,'-') as glosa,
        liq.proveedor, 
        (select CONVERT(VARCHAR(10),liq.creafecha, 103) + ' '  + convert(VARCHAR(8),liq.creafecha, 14))  as  fechaLiq,
        (case when doc.numcheque is not null then substring(doc.numcheque,1,4)+ ' '+substring(doc.numcheque,5,15) else '-'  end) as numCheque,
        (case when doc.numcheque is not null then CONVERT(VARCHAR(10),isnull(doc.fechaemision,doc.creafecha), 103) else CONVERT(VARCHAR(10),mov.fecpago,103)  end) as fechaDocE,
        CONVERT(VARCHAR(10),isnull(asi.fechadoc,GETDATE()), 103)  AS fechaDoc ,
        @TOTALCOMPROBANTES as totalComprobantes
        from MT_Asiento asi
        inner join MT_CajaChicaLiquidacion liq on liq.idcajachicaliquidacion=asi.idobjeto and asi.unineg=liq.unineg
        inner join MT_SolicitudCajaCh sol on sol.idsolicitudcajach=liq.idsolicitudcajach and   liq.unineg=sol.unineg
        left  join MT_DocEgreso doc on doc.idsolicitudcajach=sol.idsolicitudcajach and doc.unineg=sol.unineg
        left  join MT_CajaChicaMov mov on mov.idsolicitudcajach=sol.idsolicitudcajach and mov.unineg=sol.unineg
        left  join MO_Personal per on sol.idPersonal =per.idPersonal and per.uniNeg=sol.uniNeg
        left  join MX_Persona pers on sol.idPersonal =pers.idPersona and pers.uniNeg=sol.uniNeg
        left  join MO_Entidad ent on sol.idPersonal =ent.ruc and ent.uniNeg=sol.uniNeg
        inner join MO_UnidadNegocio uni on uni.unineg=asi.unineg
        inner join MO_Entidad entUni on entUni.ruc=uni.RUC and entUni.unineg=uni.unineg
        inner join MT_CentroResponsabilidad cr on cr.cr=asi.cr
        inner join MO_Codigo cod on cod.idcodigo=sol.idtipomoneda
        inner join MT_Concepto con on con.idconcepto=liq.idconcepto
        INNER JOIN MO_Codigo tipDoc on tipDoc.idcodigo=asi.idtipodoc
        WHERE SOL.idsolicitudcajach=@idsolicitud AND sol.unineg=@unineg AND asi.objeto='MT_CajaChicaLiquidacion'
        and isnull(asi.status,0)=1
    </select>
    <update id="modificarCajaChicaLiquidacionAnulacion"  parameterType="map">
        Update MT_CajaChicaLiquidacion set
        monto = 0,
        impuesto = 0, 
        montototal=0,
        modiPor = #{modiPor}
        Where uniNeg = #{uniNeg} and idSolicitudCajaCh = #{idSolicitudCajaCh} 
    </update>
</mapper>
