<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.CarreraSubAreaDAO">  
    
    <sql id="consultaCampos">
        Select
        csa.idCarreraSubArea
        ,csa.idCarreraArea
        ,csa.subarea as nombreSA
        ,ca.area
        From MO_CarreraSubArea  csa
        Inner Join MO_CarreraArea ca on csa.idCarreraArea=ca.idCarreraArea
    </sql>
    <resultMap id="carreraSubAreaResultado" type="pe.marista.sigma.bean.CarreraSubAreaBean">
        <id property="idCarreraSubArea" column="idCarreraSubArea"/>
        <result property="subArea" column="nombreSA"/>  
        <association property="carreraAreaBean" column="idCarreraArea"
                     javaType="pe.marista.sigma.bean.CarreraAreaBean"
                     resultMap="carreraAreaResultado"/>
    </resultMap>
    
    <resultMap id="carreraAreaResultado" type="pe.marista.sigma.bean.CarreraAreaBean">
        <id property="idCarreraArea" column="idCarreraArea"/>
        <result property="codigo" column="codigo"/>
    </resultMap>
    
    <select id="obtenerTodosSA" resultMap="carreraSubAreaResultado">
        <include refid="consultaCampos" />
        order by csa.idCarreraSubArea
    </select>
     
    <select id="obtenerCarreraSubAreaPorCarreraArea" resultMap="carreraSubAreaResultado" parameterType="Integer">
        <include refid="consultaCampos" />
        where csa.idCarreraArea=#{carreraAreaBean.idCarreraArea}
    </select>
    
    <select id="obtenerSubAreaPorId" resultMap="carreraSubAreaResultado" parameterType="Integer">
        <include refid="consultaCampos" /> Where csa.idCarreraSubArea = #{csa.idCarreraSubArea}
    </select>
    
    <insert id="insertarSubArea" parameterType="pe.marista.sigma.bean.CarreraSubAreaBean">
        Insert Into MO_CarreraSubArea (idCarreraArea,subarea) 
        Values (#{carreraAreaBean.idCarreraArea},#{subArea})
    </insert> 
    
    <update id="modificarSubArea" parameterType="pe.marista.sigma.bean.CarreraSubAreaBean">
        Update MO_CarreraSubArea set
        idCarreraArea = #{carreraAreaBean.idCarreraArea},
        subarea = #{subArea}
        Where idCarreraSubArea = #{idCarreraSubArea}   
    </update>
    
    <delete id="eliminarSubArea" parameterType="Integer">
        Delete from MO_CarreraSubArea Where idCarreraSubArea = #{idCarreraSubArea}  
    </delete>
</mapper>
