<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="pe.marista.sigma.dao.CatalogoFamiliaDAO">  
    
    <sql id="consultaCampos">
        select idcatalogofamilia,nombre from ML_CatalogoFamilia     
    </sql>
    
    <resultMap id="familiaResultado" type="pe.marista.sigma.bean.CatalogoFamiliaBean">
        <id property="idCatalogoFamilia" column="idCatalogoFamilia"/>
        <result property="nombre" column="nombre"/>
    </resultMap>
    
    <select id="obtenerTodos" resultMap="familiaResultado">
        <include refid="consultaCampos" />
        order by nombre
    </select>
    
    <select id="obtenerPorId" resultMap="familiaResultado" parameterType="Integer">
        <include refid="consultaCampos" />where idcatalogofamilia = #{idCatalogoFamilia}
    </select>
    
    <insert id="insertar" parameterType="pe.marista.sigma.bean.CatalogoFamiliaBean">
        insert into ML_CatalogoFamilia (nombre)
        values(#{nombre})
    </insert> 
    
    <update id="actualizar" parameterType="pe.marista.sigma.bean.CatalogoFamiliaBean">
        update ML_CatalogoFamilia 
        set 
        nombre = #{nombre}
        where idcatalogofamilia = #{idCatalogoFamilia}
    </update>
    
    <delete id="eliminar" parameterType="pe.marista.sigma.bean.CatalogoFamiliaBean">
        delete from ML_CatalogoFamilia 
        where idCatalogoFamilia = #{idCatalogoFamilia}
    </delete>
    
</mapper>
