<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.CentroCostoDAO">  
    <sql id="consultaCentroCosto">
      Select  
      CC.idcentrocosto
      ,CC.codigo
      ,CC.nombre
      ,CC.nivel
      ,CC.idcentrocostopadre
       From ME_CentroCosto CC
       
        
    </sql>
     <resultMap id="centroCostoResultado" type="pe.marista.sigma.bean.CentroCostoBean">
        <id property="idCentroCosto" column="idCentroCosto"/>
        <result property="codigo" column="codigo"/>
        <result property="nombre" column="nombre"/>
        <result property="nivel" column="nivel"/>
        <result property="idCentroCostoPadre" column="idCentroCostoPadre"/>
        <!--<association property="centroCostoBean" column="idcentrocostopadre"
                     javaType="pe.marista.sigma.bean.CentroCostoBean"
                     resultMap="centroCostoPadreResultado"/>
      -->
     </resultMap>
    <!--
    <resultMap id="centroCostoPadreResultado" type="pe.marista.sigma.bean.CentroCostoBean">
        <id property="idCentroCosto" column="centroCostoBean"/>
        <result property="nombre" column="nombre"/>
    </resultMap>
      -->
    <select id="obtenerCentroCosto" resultMap="centroCostoResultado">
        <include refid="consultaCentroCosto"/>
    </select>
</mapper>
