<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.DetraccionDAO">  
    <sql id="consultaCampos">
        SELECT 
        det.idDetraccion
        ,det.descripcion
        ,det.valor
        ,det.status
        ,det.creaPor
        ,det.creaFecha
        ,det.modiPor
        FROM MT_Detraccion det 
    </sql>
    <resultMap id="detraccionResultado" type="pe.marista.sigma.bean.DetraccionBean">
        <id property="idDetraccion" column="idDetraccion"/>
        <result property="descripcion" column="descripcion"/>
        <result property="valor" column="valor"/>
        <result property="status" column="status"/>
        <result property="creaPor" column="creaPor"/>
        <result property="modiPor" column="modiPor"/>
        <result property="creaFecha" column="creaFecha"/> 
    </resultMap> 
    <select id="obtenerTodos" resultMap="detraccionResultado">
        <include refid="consultaCampos" /> order by det.status
    </select>
    <select id="obtenerTodosActivos" resultMap="detraccionResultado">
        <include refid="consultaCampos" /> Where det.status = 1 
        order by det.valor  
    </select>
    <select id="obtenerPorId" resultMap="detraccionResultado" parameterType="pe.marista.sigma.bean.DetraccionBean">
        <include refid="consultaCampos" />
        WHERE det.idDetraccion = #{idDetraccion}
    </select>
    <insert id="insertarDetraccion" parameterType="pe.marista.sigma.bean.DetraccionBean">
        INSERT INTO MT_Detraccion 
        (descripcion,status,valor,creaPor,creaFecha)
        Values
        (#{descripcion},#{status},#{valor},#{creaPor},getDate())
    </insert> 
    <update id="modificarDetraccion" parameterType="pe.marista.sigma.bean.DetraccionBean">
        UPDATE MT_Detraccion
        SET 
        descripcion = #{descripcion}, 
        valor = #{valor},
        status = #{status},
        modiPor=#{modiPor}
        WHERE 
        idDetraccion = #{idDetraccion} 
    </update>
    <delete id="eliminarDetraccion" parameterType="pe.marista.sigma.bean.DetraccionBean">
        Delete From MT_Detraccion 
        WHERE 
        idDetraccion = #{idDetraccion}
    </delete>
    <update id="cambiarEstadoDetraccion" parameterType="pe.marista.sigma.bean.DetraccionBean">
        UPDATE MT_Detraccion
        SET 
        status = #{status}
        WHERE 
        idDetraccion = #{idDetraccion}
    </update> 
    <select id="redondearDetraccionAfavor" resultType="double" parameterType="map" >
        SELECT CAST((ROUND(#{monto} , 0)) AS INT)
    </select>
</mapper>

