<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.DiccionarioDAO">  
    <sql id="consultaDiccionario">
        SELECT 
        idObjeto
        ,tabla
        ,columna
        ,tipo
        ,[precision]
        ,maxLong
        ,nulos
        ,[identity]
        ,descripcion
        ,foreignKey
        ,tablaRef
        ,columnaRef
        ,status
        FROM MM_Diccionario
        order by idobjeto
    </sql>
    <sql id="consultaTablaDiccionario">
        SELECT DISTINCT tabla FROM MM_Diccionario
    </sql>
    <sql id="consultaColumnaDiccionario">
        SELECT DISTINCT columna FROM MM_Diccionario
    </sql>
    <sql id="consultaTipoDiccionario">
        SELECT DISTINCT tipo FROM MM_Diccionario
    </sql>
     
    <!-- Microsot SQL Server -->
    <select  id="ejecutarStoredProcedure" parameterType="pe.marista.sigma.bean.DiccionarioBean" resultType="Object">
        exec PRO_ACTUALIZA_DICCIONARIO
    </select>
    <resultMap id="diccionarioResultado" type="pe.marista.sigma.bean.DiccionarioBean">
        <id property="idObjeto" column="idObjeto"/>
        <id property="tabla" column="tabla"/>
        <id property="columna" column="columna"/>
        <result property="tipo" column="tipo"/>
        <result property="precision" column="precision"/>
        <result property="maxLong" column="maxLong"/>
        <result property="nulos" column="nulos"/>
        <result property="identity" column="identity"/>
        <result property="descripcion" column="descripcion"/>
       
        <result property="foreignkey" column="foreignkey"/>
        <result property="tablaRef" column="tablaRef"/>
        <result property="columnaRef" column="columnaRef"/>
        <result property="status" column="status"/>
    </resultMap>
      
    <select id="obtenerTablaDiccionario" resultMap="diccionarioResultado">
        <include refid="consultaTablaDiccionario"/>
    </select>
    <select id="obtenerColumnaDiccionario" resultMap="diccionarioResultado">
        <include refid="consultaColumnaDiccionario"/>
    </select>
    <select id="obtenerTipoDiccionario" resultMap="diccionarioResultado">
        <include refid="consultaTipoDiccionario"/>
    </select>
    <select id="obtenerDiccionario" resultMap="diccionarioResultado">
        <include refid="consultaDiccionario"/>
    </select>
    
        
    <select id="obtenerTodosActivos" resultMap="diccionarioResultado">
        <include refid="consultaDiccionario"/>
        Where status = 1
    </select>
     
    <select id="obtenerDiccionarioPorId" resultMap="diccionarioResultado" parameterType="pe.marista.sigma.bean.DiccionarioBean">
        <include refid="consultaDiccionario"/>
        WHERE idObjeto=#{idObjeto} and tabla=#{tabla} and columna=#{columna}
    </select>
    
    <update id="modificarDiccionarioDescripcion" parameterType="pe.marista.sigma.bean.DiccionarioBean">
        UPDATE MM_Diccionario SET  
        descripcion = #{descripcion}
        WHERE idObjeto=#{idObjeto} and tabla=#{tabla} and columna=#{columna}  
    </update>
     
</mapper>
