<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.DistritoDAO">  
    <select id="obtenerDepartamentos" resultMap="departamentoResultado">
        Select
        idDepartamento,
        nombre as nombreDep
        From MO_Departamento  
    </select>
    <select id="obtenerProvinciaPorDep" resultMap="provinciaResultado" parameterType="pe.marista.sigma.bean.DepartamentoBean">
        Select
        pro.idProvincia,
        pro.nombre as nombrePro,
        pro.idDepartamento,
        dep.nombre
        From MO_Provincia pro  
        Inner Join Mo_Departamento dep ON pro.idDepartamento=dep.idDepartamento
        Where pro.idDepartamento=#{idDepartamento}
    </select>
    <select id="obtenerDistritoPorProv" resultMap="distritoResultado" parameterType="pe.marista.sigma.bean.ProvinciaBean">
        Select
        dis.idDistrito,
        dis.nombre as nombreDis,
        dis.idProvincia,
        pro.nombre as nombrePro,
        pro.idDepartamento,
        dep.nombre as nombreDep
        From MO_Distrito dis  
        Inner Join MO_Provincia pro ON pro.idProvincia=dis.idProvincia
        Inner Join MO_Departamento dep ON dep.idDepartamento=pro.idDepartamento
        Where dis.idProvincia=#{idProvincia}
    </select> 
    <resultMap id="departamentoResultado" type="pe.marista.sigma.bean.DepartamentoBean">
        <id property="idDepartamento" column="idDepartamento"/>
        <result property="nombre" column="nombreDep"/>        
    </resultMap>
    <resultMap id="provinciaResultado" type="pe.marista.sigma.bean.ProvinciaBean">
        <id property="idProvincia" column="idProvincia"/>
        <result property="nombre" column="nombrePro"/>
        <association property="departamentoBean" column="idDepartamento"
                     javaType="pe.marista.sigma.bean.DepartamentoBean"
                     resultMap="departamentoResultado"/>
    </resultMap>
    <resultMap id="distritoResultado" type="pe.marista.sigma.bean.DistritoBean">
        <id property="idDistrito" column="idDistrito"/>
        <result property="nombre" column="nombreDis"/>
        <association property="provinciaBean" column="idProvincia"
                     javaType="pe.marista.sigma.bean.ProvinciaBean"
                     resultMap="provinciaResultado"/>
    </resultMap>
    <select id="obtenerDistritoPorId" resultMap="distritoResultado" parameterType="Integer">
        Select
        dis.idDistrito,
        dis.nombre as nombreDis,
        dis.idProvincia,
        pro.nombre as nombrePro,
        pro.idDepartamento,
        dep.nombre as nombreDep
        From MO_Distrito dis  
        Inner Join MO_Provincia pro ON pro.idProvincia=dis.idProvincia
        Inner Join MO_Departamento dep ON dep.idDepartamento=pro.idDepartamento
        Where dis.iddistrito= #{idDistrito}
    </select>
</mapper>
