<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.marista.sigma.dao.DocumentoCargoDAO">  
    <sql id="consultaCampos">
        SELECT
        docCar.idCargo
        ,docCar.idDocumento 
        ,docCar.flgObligatorio
        ,docCar.status
        ,docCar.creaPor
        ,docCar.creaFecha
        ,docCar.idTipoCopia
        ,car.idCargo as idCar
        ,car.nombre as nombreCar
        ,doc.idDocumento as idDoc 
        ,doc.nombre as nombreDoc
        ,doc.flgCaduca
        ,codCat.idCodigo as codTipoCatDoc
        ,codCat.codigo as nomCatCargo
        ,cod.idCodigo as codTipoDoc
        ,cod.codigo as nomDoc
        ,cop.idcodigo as codTipoCop
        ,cop.codigo as nomTipoCop
        From MO_DocumentoCargo docCar
        left Join MO_Cargo car ON docCar.idCargo=car.idCargo
        left JOIN MO_Codigo codCat ON car.idTipoCategoriaCargo=codCat.idCodigo
        left Join MO_Documento doc ON docCar.idDocumento=doc.idDocumento  
        left Join MO_Codigo cod ON doc.idTipoCatDoc=cod.idcodigo
        left Join MO_Codigo cop ON docCar.idTipoCopia=cop.idcodigo
    </sql>
    <resultMap id="documentoCargoResultado" type="pe.marista.sigma.bean.DocumentoCargoBean"> 
        <id property="documentoBean.idDocumento" column="idDocumento"/>
        <id property="cargoBean.idCargo" column="idCargo"/>
        <result property="nombre" column="nombre"/>
        <result property="status" column="status"/>
        <result property="flgObligatorio" column="flgObligatorio"/>
        <result property="creaPor" column="creaPor"/>
        <result property="modiPor" column="modiPor"/>
        <result property="creaFecha" column="creaFecha"  jdbcType="DATE"/>
        <association property="documentoBean" column="idDocumento"
                     javaType="pe.marista.sigma.bean.DocumentoBean"
                     resultMap="documentoResultado"/>
        <association property="cargoBean" column="idCargo"
                     javaType="pe.marista.sigma.bean.CargoBean"
                     resultMap="cargoResultado"/>
        <association property="tipoCopiaBean" column="idTipoCopia"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoCopiaResultado"/>
    </resultMap>
    <resultMap id="documentoResultado" type="pe.marista.sigma.bean.DocumentoBean">
        <id property="idDocumento" column="idDoc"/>
        <result property="nombre" column="nombreDoc"/>
        <result property="status" column="status"/>
        <result property="flgCaduca" column="flgCaduca"/>
        <association property="tipoCatDocBean" column="idTipoCatDoc"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoCatDocResultado"/>
         
    </resultMap> 
    <resultMap id="tipoCatDocResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codTipoDoc"/>
        <result property="codigo" column="nomDoc"/>
    </resultMap>
    <resultMap id="cargoResultado" type="pe.marista.sigma.bean.CargoBean">
        <id property="idCargo" column="idCar"/>
        <result property="nombre" column="nombreCar"/>
        <result property="codigo" column="codigo"/>
        <result property="status" column="nombre"/>
        <association property="tipoCategoriaCargoBean" column="idTipoCategoriaCargo"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoCategoriaCargoResultado"/>
    </resultMap>
    <resultMap id="tipoCategoriaCargoResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codTipoCatDoc"/>
        <result property="codigo" column="nomCatCargo"/>
    </resultMap>     
    <resultMap id="tipoCopiaResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codTipoCop"/>
        <result property="codigo" column="nomTipoCop"/>
    </resultMap>     
    
    <select id="obtenerTodos" resultMap="documentoCargoResultado">
        <include refid="consultaCampos" />
      
    </select>
    <select id="obtenerTodosActivos" resultMap="documentoCargoResultado">
        <include refid="consultaCampos" />
        Where docCar.status = 1
    </select>
    <!--
     <select id="obtenerTodosPorUniNeg" resultMap="documentoCargoResultado" parameterType="String">
         <include refid="consultaCampos" />
         where docCar.unineg=#{documentoBean.unidadNegocioBean.uniNeg}
     </select>
     <select id="obtenerTodosActivosPorUniNeg" resultMap="documentoCargoResultado" parameterType="String">
         <include refid="consultaCampos" />
         Where docCar.status = 1 and docCar.unineg=#{documentoBean.unidadNegocioBean.uniNeg}
     </select>
    -->
    <select id="obtenerDocumentoCargoPorId" resultMap="documentoCargoResultado" parameterType="pe.marista.sigma.bean.DocumentoCargoBean">
        <include refid="consultaCampos" />
        WHERE  docCar.idDocumento= #{documentoBean.idDocumento} 
        and docCar.idCargo=#{cargoBean.idCargo}
    </select>
    
    <select id="obtenerPorCargo" resultMap="documentoCargoResultado" parameterType="pe.marista.sigma.bean.CargoBean">
        <include refid="consultaCampos" />
        WHERE docCar.idCargo=#{idCargo}
    </select>
   
    <select id="obtenerDocPorCargo" resultMap="documentoCargoResultado" parameterType="Integer">
        <include refid="consultaCampos" />
        WHERE doccar.idCargo= #{idDocu} and docCar.status = 1
    </select>
   
    <select id="obtenerDocumentoPorCargo" resultMap="documentoCargoResultado" parameterType="Integer">
        <include refid="consultaCampos" />
        WHERE doccar.idCargo= #{idCargo} and docCar.status = 1
    </select>
    <insert id="insertarDocumentoCargo" parameterType="pe.marista.sigma.bean.DocumentoCargoBean">
        INSERT INTO MO_DocumentoCargo (idCargo,idDocumento,flgObligatorio,idTipoCopia,status,creaPor)
        Values (#{cargoBean.idCargo},#{documentoBean.idDocumento},#{flgObligatorio},#{tipoCopiaBean.idCodigo},#{status},#{creaPor})
    </insert> 
    <update id="modificarDocumentoCargo" parameterType="pe.marista.sigma.bean.DocumentoCargoBean">
        UPDATE MO_DocumentoCargo
        SET 
        flgObligatorio = #{flgObligatorio},
        idTipoCopia = #{tipoCopiaBean.idCodigo},
        status = #{status},
        modiPor=#{modiPor}
        WHERE  idDocumento= #{documentoBean.idDocumento}  
        and idCargo=#{cargoBean.idCargo}
    </update>
    <delete id="eliminarDocumentoCargo" parameterType="pe.marista.sigma.bean.DocumentoCargoBean">
        Delete From MO_DocumentoCargo
        WHERE idDocumento= #{documentoBean.idDocumento} 
        and idCargo=#{cargoBean.idCargo}
    </delete>
    <delete id="eliminarDocumentoCargoDOC" parameterType="Integer">
        Delete From MO_DocumentoCargo Where idCargo= #{idCargo} 
    </delete>
    <update id="cambiarEstados" parameterType="pe.marista.sigma.bean.DocumentoCargoBean">
        UPDATE MO_DocumentoCargo
        SET 
        idTipoCopia = #{tipoCopiaBean.idCodigo},
        flgObligatorio = #{flgObligatorio},
        status = #{status}
        WHERE docCar.idDocumento= #{idDocumento} 
        and docCar.idCargo=#{idCargo} 
    </update>
    
</mapper>
