<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.marista.sigma.dao.EntidadDAO">
    <sql id="consultaCampos">
        SELECT em.unineg
        ,em.ruc
        ,em.nombre  
        ,em.nombrecomercial
        ,em.direccion
        ,em.telefono
        ,em.correo
        ,em.contacto
        ,em.url
        ,em.flgProveedor
        ,em.flgPrevisional
        ,em.flgSalud
        ,em.flgEduSup
        ,em.flgFinanciera 
        ,em.idTipoEntidad
        ,em.idPais
        ,em.idDistrito
        ,em.detraccionCuenta
        ,em.detraccionBanco
        ,em.rucPadre
        ,em.partidaregistral as partidaRegistral
        ,em.sexorepresentante as sexoRepresentante
        ,em.dnirepresentante as dniRepresentante
        ,em.representante as representante
        ,codEntidad.idCodigo as codigoEnt
        ,codEntidad.codigo as codEntidad
        ,codRubro.idCodigo as codigoRubro
        ,codRubro.codigo as codRubro
        ,pais.nombre as nomPais
        ,pais.idPais as codPais
        ,distrito.nombre as distrito  
        ,entPad.ruc as rucEntPadre
        ,entPad.uniNeg as uniNegPadre
        ,entPad.nombre as nombrePadre
        ,un.nombreUniNeg as nombreUniNeg
        ,un.unineg as uniNeg 
        
        ,EM.numctasol as numCtaSol
        ,EM.numctadol as numCtaDol        
        ,EM.ccisol as cciSol
        ,EM.ccidol as cciDol        
        ,isnull(ES.nombre,'') as nombreBancoSol
        ,isnull(ED.nombre,'') as nombreBancoDol
        ,em.rucbancosol as rucBancoSol
        ,em.rucbancodol as rucBancoDol
        FROM MO_Entidad em
        left Join MO_Codigo codEntidad On em.idTipoEntidad=codEntidad.idCodigo
        left Join MO_Codigo codRubro On em.idTipoRubro=codRubro.idCodigo
        left Join MO_Pais pais On pais.idPais=em.idPais
        left Join MO_Distrito distrito On distrito.idDistrito = em.idDistrito
        left join MO_UnidadNegocio un on em.unineg= un.unineg 
        left join MO_Entidad entPad on em.rucPadre = entPad.Ruc and em.uniNeg=entPad.uniNeg
        LEFT JOIN MO_Entidad ES ON EM.rucbancosol=ES.ruc AND EM.UNINEG=ES.unineg
        LEFT JOIN MO_Entidad ED ON EM.rucbancoDol=ED.ruc AND EM.UNINEG=ED.unineg
    </sql>
    
    <sql id="consultaCampos2">
        SELECT em.unineg
        ,em.ruc
        ,em.nombre  
        ,em.nombrecomercial
        ,em.direccion
        ,em.flgProveedor
        ,em.idTipoEntidad
        ,em.idPais
        ,em.idDistrito 
        ,codEntidad.idCodigo as codigoEnt
        ,codEntidad.codigo as codEntidad
        ,codRubro.idCodigo as codigoRubro
        ,codRubro.codigo as codRubro
        ,pais.idPais as codPais
        ,pais.nombre as nomPais
        ,distrito.nombre as distrito  
        ,un.nombreUniNeg
        FROM MO_Entidad em
        left Join MO_Codigo codEntidad On em.idTipoEntidad=codEntidad.idCodigo
        left Join MO_Codigo codRubro On em.idTipoRubro=codRubro.idCodigo
        Inner Join MO_Pais pais On pais.idPais=em.idPais
        left Join MO_Distrito distrito On distrito.idDistrito = em.idDistrito
        left join MO_UnidadNegocio un on em.unineg= un.unineg  
    </sql>
    <resultMap id="entidadResultado" type="pe.marista.sigma.bean.EntidadBean">
        <id property="ruc" column="ruc" />
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <result property="nombre" column="nombre" />
        <result property="nombreComercial" column="nombreComercial" />
        <result property="direccion" column="direccion" />
        <result property="telefono" column="telefono" />
        <result property="correo" column="correo" />
        <result property="contacto" column="contacto" />
        <result property="url" column="url" />
        <result property="flgProveedor" column="flgproveedor" />
        <result property="flgPrevisional" column="flgPrevisional" />
        <result property="flgSalud" column="flgSalud" />
        <result property="flgEduSup" column="flgEduSup" />
        <result property="flgFinanciera" column="flgFinanciera" />
        <result property="detraccionBanco" column="detraccionBanco" />  
        <result property="detraccionCuenta" column="detraccionCuenta" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="modiPor" column="modiPor" />
        <result property="modiVer" column="modiver" />
        <result property="partidaRegistral" column="partidaRegistral" />
        <result property="sexoRepresentante" column="sexoRepresentante" />
        <result property="dniRepresentante" column="dniRepresentante" />
        <result property="representante" column="representante" /> 
        <result property="numCtaSol" column="numCtaSol" /> 
        <result property="cciSol" column="cciSol" /> 
        <result property="rucBancoSol" column="rucBancoSol" />  
        <result property="nombreBancoSol" column="nombreBancoSol" /> 
        
        <result property="numCtaDol" column="numCtaDol" /> 
        <result property="cciDol" column="cciDol" /> 
        <result property="rucBancoDol" column="rucBancoDol" /> 
        <result property="nombreBancoDol" column="nombreBancoDol" />  
        <association property="tipoEntidadBean" column="idTipoEntidad" 
                     javaType="pe.marista.sigma.bean.CodigoBean" 
                     resultMap="tipoEntidadResultado"/>
        <association property="tipoRubroBean" column="idTipoRubro" 
                     javaType="pe.marista.sigma.bean.CodigoBean" 
                     resultMap="tipoRubroResultado"/>
        <association property="paisBean" column="idPais" 
                     javaType="pe.marista.sigma.bean.PaisBean" 
                     resultMap="paisResultado"/>
        <association property="distritoBean" column="idDistrito" 
                     javaType="pe.marista.sigma.bean.DistritoBean" 
                     resultMap="distritoResultado"/>
        <association property="unidadNegocioBean" column="uniNeg" 
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean" 
                     resultMap="uniNegResultado"/>  
       
        <association property="entidadPadreBean" column="rucEntPadre" 
                     javaType="pe.marista.sigma.bean.EntidadBean" 
                     resultMap="entidadPadreResultado"/> 
    </resultMap>
    <!--Faltantes: ResultMap
        codigoRubroResultado
        codigoEntidadResultado
        paisResultado
        distritoResultado
    -->
    <resultMap id="paisResultado" type="pe.marista.sigma.bean.PaisBean">
        <id property="idPais" column="codPais"/>
        <result property="nombre" column="nomPais"/>
    </resultMap>
    <resultMap id="distritoResultado" type="pe.marista.sigma.bean.DistritoBean">
        <id property="idDistrito" column="idDistrito"/>
        <result property="nombre" column="distrito"/>
    </resultMap>    
    <resultMap id="tipoEntidadResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codigoEnt"/> 
        <result property="codigo" column="codEntidad"/>
    </resultMap>
    <resultMap id="tipoRubroResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codigoRubro"/> 
        <result property="codigo" column="codRubro"/>
    </resultMap>
    <resultMap id="uniNegResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNeg" />
        <result property="nombreUniNeg" column="nombreUniNeg" />
    </resultMap>
   
    <resultMap id="entidadPadreResultado" type="pe.marista.sigma.bean.EntidadBean">
        <id property="ruc" column="rucEntPadre" /> 
        <result property="nombre" column="nombrePadre" />
        <association property="unidadNegocioBean" column="uniNegPadre" 
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean" 
                     resultMap="uniNegPadreResultado"/> 
    </resultMap>
    <resultMap id="uniNegPadreResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegPadre" /> 
        <result property="nombre" column="nomEntPad"/>
    </resultMap>
    
    <select id="obtenerEntidadPorUniNeg" resultMap="entidadResultado" parameterType="pe.marista.sigma.bean.EntidadBean">
        <include refid="consultaCampos" />
        where em.uniNeg=#{unidadNegocioBean.uniNeg}
        order by em.nombre
        
    </select>
    <select id="obtenerEntidadPorId" resultMap="entidadResultado" parameterType="pe.marista.sigma.bean.EntidadBean">
        <include refid="consultaCampos" /> Where em.ruc = #{ruc}  and em.uniNeg = #{unidadNegocioBean.uniNeg}
    </select>
    <select id="obtenerEntidadPorIdCot" resultMap="entidadResultado" parameterType="map">
        <include refid="consultaCampos" /> Where em.ruc = #{ruc}  and em.uniNeg = #{uniNeg}
    </select>
    <!--<select id="obtenerEntidadPorRubro" parameterType="pe.marista.sigma.bean.CodigoBean" resultMap="entidadResultado">
        <include refid="consultaCampos" />Where codRubro.codigo = #{codigo}
        order by em.nombre
    </select>-->
    
    <select id="obtenerFlgFinanciero" resultMap="entidadResultado" parameterType="String" >
        <include refid="consultaCampos" /> 
        where em.uniNeg=#{uniNeg} and em.flgfinanciera = 1
    </select>
    
    <insert id="insertarEntidad" parameterType="pe.marista.sigma.bean.EntidadBean">
        Insert Into MO_Entidad
        (uniNeg,ruc,nombre,idTipoEntidad,idTipoRubro,idPais,idDistrito,
        uninegPadre,rucPadre,direccion,
        telefono,correo,contacto,url,flgProveedor,flgPrevisional,flgSalud,flgEduSup,flgFinanciera,creaPor,creaFecha,
        detraccionBanco,detraccionCuenta, partidaregistral , sexorepresentante , dnirepresentante , representante,
        nombrecomercial,numctasol,numctadol,ccisol,ccidol,rucbancosol,rucbancodol)
        Values
        (#{unidadNegocioBean.uniNeg},#{ruc},#{nombre},#{tipoEntidadBean.idCodigo},#{tipoRubroBean.idCodigo},#{paisBean.idPais},#{distritoBean.idDistrito},
        #{entidadPadreBean.unidadNegocioBean.uniNeg},#{entidadPadreBean.ruc},#{direccion},
        #{telefono},#{correo},#{contacto},#{url},#{flgProveedor},#{flgPrevisional},#{flgSalud},#{flgEduSup},#{flgFinanciera},#{creaPor},getDate(),
        #{detraccionBanco},#{detraccionCuenta}, #{partidaRegistral},#{sexoRepresentante},#{dniRepresentante},#{representante},
        #{nombreComercial},#{numCtaSol},#{numCtaDol},#{cciSol},#{cciDol},#{rucBancoSol},#{rucBancoDol})
    </insert> 
    <update id="modificarEntidad" parameterType="pe.marista.sigma.bean.EntidadBean">
        Update MO_Entidad 
        SET
        nombre=#{nombre},
        nombrecomercial =#{nombreComercial},
        idTipoEntidad=#{tipoEntidadBean.idCodigo},
        idTipoRubro=#{tipoRubroBean.idCodigo},
        idPais=#{paisBean.idPais},
        idDistrito = #{distritoBean.idDistrito},
        uninegPadre=#{entidadPadreBean.unidadNegocioBean.uniNeg},
        rucPadre=#{entidadPadreBean.ruc},
        direccion=#{direccion},
        telefono=#{telefono},
        correo=#{correo},
        contacto=#{contacto},
        url=#{url},
        flgProveedor=#{flgProveedor},
        flgPrevisional=#{flgPrevisional},
        flgSalud=#{flgSalud},
        flgEduSup=#{flgEduSup},
        flgFinanciera=#{flgFinanciera},
        detraccionBanco=#{detraccionBanco},
        detraccionCuenta=#{detraccionCuenta},
        partidaregistral= #{partidaRegistral}, 
        sexorepresentante= #{sexoRepresentante}, 
        dnirepresentante= #{dniRepresentante}, 
        representante= #{representante},          
        numctasol= #{numCtaSol},
        numctadol= #{numCtaDol},
        ccisol= #{cciSol},
        ccidol= #{cciDol},
        rucbancosol= #{rucBancoSol},
        rucbancodol= #{rucBancoDol},
        modiPor = #{modiPor}
        Where ruc = #{ruc}  and  unineg = #{unidadNegocioBean.uniNeg} 
    </update>
    <delete id="eliminarEntidad" parameterType="pe.marista.sigma.bean.EntidadBean">
        Delete from MO_Entidad Where ruc = #{ruc}  
    </delete>
    <!--
    <select id="obtenerEntidadPorFiltro" resultMap="entidadResultado" parameterType="pe.marista.sigma.bean.EntidadBean">
        <include refid="consultaCampos"/>
        <where>
            <if test="nombre != null and nombre != ''">
                and upper(ent.nombre) like concat('%',#{nombre},'%')
            </if>
            <if test="tipoRubroBean.idCodigo != null and tipoRubroBean.idCodigo != 0">
                and ent.idTipoStatusEst = #{tipoRubroBean.idCodigo}
            </if>
            <if test="tipoEntidadBean.idCodigo != null and tipoEntidadBean.idCodigo != 0">
                and ent.idTipoEntidad = #{tipoEntidadBean.idCodigo}
            </if>
        </where>
    </select>
    -->
    <select id="obtenerEntidadPorFiltro" resultMap="entidadResultado" parameterType="pe.marista.sigma.bean.EntidadBean">
        <include refid="consultaCampos"/>
        <where>
            and em.uniNeg=#{unidadNegocioBean.uniNeg}
            <if test="ruc != null and ruc != ''">
                and em.ruc=#{ruc}
            </if>
            <if test="nombre != null and nombre != ''">
                and upper(em.nombre) like concat('%',#{nombre},'%')
            </if>
            <if test="tipoEntidadBean.idCodigo != null and tipoEntidadBean.idCodigo != 0">
                and em.idTipoEntidad = #{tipoEntidadBean.idCodigo}
            </if>
            <if test="tipoRubroBean.idCodigo != null and tipoRubroBean.idCodigo != 0">
                and em.idTipoRubro = #{tipoRubroBean.idCodigo}
            </if>
            <if test="distritoBean.idDistrito != null and distritoBean.idDistrito != 0">
                and distrito.idDistrito = #{distritoBean.idDistrito}
            </if>
            <if test="flgProveedor == true">
                and em.flgProveedor = #{flgProveedor}
            </if>
            <if test="flgSalud == true">
                and em.flgSalud = #{flgSalud}
            </if>
            <if test="flgEduSup == true">
                and em.flgEduSup = #{flgEduSup}
            </if>
            <if test="flgFinanciera == true">
                and em.flgFinanciera = #{flgFinanciera}
            </if>
            <if test="flgPrevisional == true">          
                and em.flgPrevisional = #{flgPrevisional}
            </if>
        </where>
    </select>
    <select id="obtenerEntidadPorFiltroProveedor" resultMap="entidadResultado" >
        <include refid="consultaCampos2" /> 
        where  em.flgproveedor = 1 and em.uniNeg=#{unidadNegocioBean.uniNeg} 
        order by em.ruc
    </select>
    
    <select id="obtenerTodosSeguro" resultMap="entidadResultado" parameterType="map">
        <include refid="consultaCampos" />
        <!--Where codRubro.codigo in (#{parms.SalAsiSoc},#{parms.FinSeg})
        order by ent.nombre-->
    </select>
   
    <select id="obtenerEntidadPorVista" resultMap="viewEntidadResultado"  parameterType="string">
        SELECT  ruc as rucView,nombre as nombreView , uniNeg as uniNegView,idPais as idPaisView  FROM ${value} 
    </select>
    <select id="obtenerEntidadPorVistaLegajoNew" resultMap="viewEntidadResultado"  parameterType="map"> 
        SELECT  ruc as rucView,nombre as nombreView , uniNeg as uniNegView,idPais as idPaisView  FROM ${value} 
        WHERE idtipoentidad=#{idTipo} 
    </select>
    <select id="obtenerEntidadPorVistaPorUniNeg" resultMap="viewEntidadResultado" parameterType="map"> 
        SELECT  ruc as rucView,nombre as nombreView, uniNeg as uniNegView,idPais as idPaisView  FROM ${value}        
        Where uniNeg=#{uniNeg}
    </select> 
    
    <select id="obtenerInfoEntidad" resultMap="entidadResultado" parameterType="map" >
        SELECT un.ruc,un.contacto,un.telefono,un.correo,un.correo FROM MO_Entidad un
        inner join MO_UnidadNegocio e on  e.ruc=un.ruc and e.unineg = un.unineg
        where un.unineg = #{uniNeg}
    </select>
    <select id="obtenerInfoCta" resultType="String" parameterType="map" >
        declare @unineg varchar(6),@ruc varchar(11)
        set @unineg=#{uniNeg}
        set @ruc = #{ruc}
        DECLARE @TIPOMONEDA VARCHAR(20)=#{moneda}

        DECLARE @TXTSOLES VARCHAR(150)=(
        SELECT CONCAT('NRO. CTA. ',ISNULL(E.numctasol,''),' / ' ,ISNULL(ES.nombre,''),' / CCI: ' ,ISNULL(E.ccisol,'')) 
        FROM MO_Entidad E
        LEFT JOIN MO_Entidad ES ON E.rucbancosol=ES.ruc AND E.UNINEG=ES.unineg
        WHERE E.RUC=@ruc and e.unineg=@unineg)

        DECLARE @TXTDOL VARCHAR(150)=(
        SELECT CONCAT('NRO. CTA. ',ISNULL(E.numctadol,''),' / ' ,ISNULL(ED.nombre,''),' / CCI: ' ,ISNULL(E.ccidol,'')) 
        FROM MO_Entidad E
        LEFT JOIN MO_Entidad ED ON E.rucbancodol=ED.ruc AND E.UNINEG=ED.unineg
        WHERE E.RUC=@ruc and e.unineg=@unineg)

        SELECT CASE WHEN @TIPOMONEDA ='SOLES' THEN ISNULL(@TXTSOLES,'') 
        WHEN @TIPOMONEDA = 'DOLARES' THEN ISNULL(@TXTDOL,'') 
        ELSE ' '
        END
    </select>
    
    <resultMap id="viewEntidadResultado" type="pe.marista.sigma.bean.ViewEntidadBean">
        <id property="ruc" column="rucView" /> 
        <result property="nombre" column="nombreView" />  
        <result property="uniNeg" column="uniNegView" />  
        <result property="idPais" column="idPaisView" />  
    </resultMap> 
</mapper>
