<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.EstudianteEnfermedadDAO">  
    <sql id="consultaCampos">
        Select  
        estEnf.idEstudiante,
        estEnf.idEnfermedad,
        enf.idEnfermedad as codEnf,
        enf.enfermedad as nomEnfermedad,
        estEnf.edadInicio,
        estEnf.status
        From MX_EstudianteEnfermedad estEnf
        Inner Join MO_Enfermedad enf On enf.idEnfermedad=estEnf.idEnfermedad
        
    </sql>
    <resultMap id="estudianteEnfermedadResultado" type="pe.marista.sigma.bean.EstudianteEnfermedadBean">
        <id property="estudianteBean.personaBean.unidadNegocioBean.uniNeg" column="uniNeg"/>
        <id property="estudianteBean.personaBean.idPersona" column="idEstudiante"/>
        <id property="enfermedadBean.idEnfermedad" column="idEnfermedad"/>
        <result property="edadInicio" column="edadInicio"/>
        <result property="status" column="status"/>
        <result property="creaPor" column="creaPor"/>
        <result property="creaFecha" column="creaFecha"/>
        <result property="modiPor" column="modiPor"/> 
        <association property="estudianteBean" column="idEstudiante"
                     javaType="pe.marista.sigma.bean.EstudianteBean"
                     resultMap="estudianteResultado"/>
        <association property="enfermedadBean" column="idEnfermedad"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="enfermedadResultado"/>
    </resultMap>
    <!--Estudiante-->
    <resultMap id="estudianteResultado" type="pe.marista.sigma.bean.EstudianteBean"> 
        <association property="personaBean" column="idEstudiante"
                     javaType="pe.marista.sigma.bean.PersonaBean"
                     resultMap="personaResultado"/> 
    </resultMap>
    <!--Persona-->
    <resultMap id="personaResultado" type="pe.marista.sigma.bean.PersonaBean">
        <id property="idPersona" column="idEstudiante"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
    </resultMap>
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNeg"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/> 
    </resultMap> 
    <!--Enfermedad-->
    <resultMap id="enfermedadResultado" type="pe.marista.sigma.bean.EnfermedadBean">
        <id property="idEnfermedad" column="codEnf"/>
        <result property="enfermedad" column="nomEnfermedad"/>
    </resultMap>
    <select id="obtenerEstEnfermedadPorId" resultMap="estudianteEnfermedadResultado" parameterType="pe.marista.sigma.bean.EstudianteEnfermedadBean">
        <include refid="consultaCampos" />
        Where estEnf.idEstudiante= #{estudianteBean.personaBean.idPersona}         and 
        estEnf.uniNeg=#{estudianteBean.personaBean.unidadNegocioBean.uniNeg}       and  
        idEnfermedad = #{enfermedadBean.idEnfermedad} 
    </select>
    <select id="obtenerEstEnfermedadPorEst" resultMap="estudianteEnfermedadResultado" parameterType="String">
        <include refid="consultaCampos" />
        Where estEnf.idEstudiante = #{idPersona}
    </select>
    <insert id="insertarEstEnfermedad" parameterType="pe.marista.sigma.bean.EstudianteEnfermedadBean">
        Insert Into MX_EstudianteEnfermedad
        (uniNeg,idEstudiante,
        idEnfermedad,edadInicio,status,creaPor,creaFecha) 
        Values
        (#{estudianteBean.personaBean.unidadNegocioBean.uniNeg},#{estudianteBean.personaBean.idPersona},
        #{enfermedadBean.idEnfermedad},#{edadInicio},#{status},#{creaPor},getDate())  
    </insert> 
    <update id="modificarEstEnfermedad" parameterType="pe.marista.sigma.bean.EstudianteEnfermedadBean">
        Update MX_EstudianteEnfermedad
        Set   
        edadInicio = #{edadInicio},
        status = #{status},
        modiPor=#{modiPor}
        Where idEstudiante= #{estudianteBean.personaBean.idPersona} and 
        uniNeg=#{estudianteBean.personaBean.unidadNegocioBean.uniNeg} and
        idEnfermedad = #{enfermedadBean.idEnfermedad} 
    </update>
    <delete id="eliminarEstEnfermedad" parameterType="pe.marista.sigma.bean.EstudianteEnfermedadBean">
        Delete From MX_EstudianteEnfermedad Where idEstudiante= #{estudianteBean.personaBean.idPersona} and  idEnfermedad = #{enfermedadBean.idEnfermedad} 
    </delete>
    <select id="obtenerEstudianteEnfermedad" resultType="pe.marista.sigma.bean.reporte.EstudianteEnfermedadRepBean" parameterType="map">
        select
        isnull(enf.enfermedad ,'Ninguno') as enfermedad
        ,isnull(en.edadinicio,'-') as edadInicio 
        ,isnull(case
        when en.status = 1  then 'Completado'
        when en.status = 0 then 'En Tratamiento'
        end,'-') as status
        from MX_Estudiante e 
        left join MX_EstudianteEnfermedad en on en.idestudiante = e.idestudiante
        left join MO_Enfermedad enf on enf.idenfermedad= en.idenfermedad 
        WHERE e.idestudiante=#{idEstudiante}  and e.unineg=#{uniNeg}
    </select>
</mapper>
