<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.FamiliarDAO">  
    <sql id="consultaFamiliar">
        Select 
        perFam.nombre as nombreFam
        ,perFam.apepat as apepatFam
        ,perFam.apemat as apematFam
        ,perFam.sexo as sexoFam
        ,perFam.nroDoc as nroDocFam
        ,perFam.fecNac as fecNacFam
        ,perFam.correo as correoFam
        ,fam.unineg as uniNeg
        ,fam.idfamiliar
        ,fam.profesion
        ,fam.ocupacion
        ,fam.idTipoestCivil
        ,codTipEstCiv.codigo as codigoEstCivil
        ,fam.flgVive
        ,fam.flgCatolico
        ,fam.flgMarista
        ,fam.anioEgresoColegio
        ,fam.nombreColegio
        ,fam.foto
        ,fam.telefonoFijo
        ,fam.telefonoCelular
        ,fam.telefonoOficina
        ,fam.centroLaboral
        ,fam.cargo
        ,fam.hobby
        ,fam.flgGrupoParroquial
        ,fam.nombreParroquia
        ,fam.creaPor
        ,fam.creaFecha
        ,fam.idFamiliar
        ,fam.uniNeg 
        ,fam.direccion
        ,perFam.idGradoAcademico
        ,perFam.idPersona as idPersonaOld
        From MX_Familiar fam
        Left Join MX_Persona perFam On fam.idFamiliar=perFam.idPersona and perFam.unineg=fam.unineg
        Left Join MX_GradoAcademico gra ON perFam.idGradoAcademico=gra.idGradoAcademico
        Left Join MO_Codigo codTipEstCiv On fam.idTipoEstCivil=codTipEstCiv.idCodigo
    </sql>
    <!--Familiar--><!--Familiar--><!--Familiar--><!--Familiar--><!--Familiar--><!--Familiar--><!--Familiar--><!--Familiar--><!--Familiar-->
    <resultMap id="familiarResultado" type="pe.marista.sigma.bean.FamiliarBean">
        <id property="personaBean.idPersona" column="idFamiliar"/>
        <id property="personaBean.unidadNegocioBean.uniNeg" column="uniNeg"/> 
        <result property="profesion" column="profesion"/>
        <result property="ocupacion" column="ocupacion"/>
        <result property="flgVive" column="flgVive"/>
        <result property="flgCatolico" column="flgCatolico"/>
        <result property="flgMarista" column="flgMarista"/>
        <result property="anioEgresoColegio" column="anioEgresoColegio"/>
        <result property="nombreColegio" column="nombreColegio"/>
        <result property="foto" column="foto"/>
        <result property="telefonoFijo" column="telefonoFijo"/>
        <result property="telefonoCelular" column="telefonoCelular"/>
        <result property="telefonoOficina" column="telefonoOficina"/>
        <result property="centroLaboral" column="centroLaboral"/>
        <result property="hobby" column="hobby"/>
        <result property="flgGrupoParroquial" column="flgGrupoParroquial"/>
        <result property="nombreParroquia" column="nombreParroquia"/>
        <result property="cargo" column="cargo"/>
        <result property="creaPor" column="creaPor"/>
        <result property="creaFecha" column="creaFecha"/>
        <result property="modiPor" column="modiPor"/>
        <result property="direccion" column="direccion"/>
        <association property="personaBean" column="idFamiliar"
                     javaType="pe.marista.sigma.bean.PersonaBean"
                     resultMap="personaResultado"/> 
        <association property="tipoEstCivil" column="idTipoEstCivil"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipEstCivilResultado"/>
    </resultMap>
    <!--PersonaFamiliar-->
    <resultMap id="personaResultado" type="pe.marista.sigma.bean.PersonaBean">
        <id property="idPersona" column="idFamiliar"/>
        <result property="idPersonaOld" column="idFamiliar"/>
        <result property="nombre" column="nombreFam"/>
        <result property="apepat" column="apepatFam"/>
        <result property="apemat" column="apematFam"/>
        <result property="sexo" column="sexoFam"/>
        <result property="nroDoc" column="nroDocFam"/>
        <result property="fecNac" column="fecNacFam"/>
        <result property="correo" column="correoFam"/>
        <result property="idPersonaOld" column="idPersonaOld"/>
        <result property="gradoAcademicoBean.idGradoAcademico" column="idGradoAcademico"/>
        <result property="idTipoDocPer.idCodigo" column="idTipoDocPerFam"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/> 
        <association property="paisBean" column="idPais"
                     javaType="pe.marista.sigma.bean.PaisBean"
                     resultMap="paisResultado2"/>
    </resultMap>
    <resultMap id="paisResultado2" type="pe.marista.sigma.bean.PaisBean">
        <id property="idPais" column="idPais"/>
        <result property="nombre" column="nombreNacionalidad"/> 
        <result property="nacionalidad" column="nacionalidad"/>   
    </resultMap> 
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNeg"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/> 
    </resultMap> 
    <!--Tipo Estado Civil (Codigo)-->
    <resultMap id="tipEstCivilResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoEstCivil"/>
        <result property="codigo" column="codigoEstCivil"/>
    </resultMap> 
    <select id="obtenerFamiliar" resultMap="familiarResultado">
        <include refid="consultaFamiliar"/>
    </select>
    <select id="obtenerFamiliarPorId" resultMap="familiarResultado" parameterType="pe.marista.sigma.bean.PersonaBean">
        <include refid="consultaFamiliar" />WHERE fam.idFamiliar = #{idPersona} and fam.uniNeg=#{unidadNegocioBean.uniNeg}
    </select>
    <select id="obtenerResPagoPorId" resultMap="familiarResultado" parameterType="pe.marista.sigma.bean.PersonaBean">
        <include refid="consultaFamiliar" />
        WHERE fam.idFamiliar = (select idresppago from MX_Estudiante where idestudiante=#{idPersona} and uniNeg=#{unidadNegocioBean.uniNeg}) and  fam.uniNeg=#{unidadNegocioBean.uniNeg}
    </select>
    <select id="obtenerFamiliarPorFiltro" resultMap="familiarResultado" parameterType="pe.marista.sigma.bean.FamiliarBean">
        <include refid="consultaFamiliar"/>
        <where> perFam.unineg=#{personaBean.unidadNegocioBean.uniNeg}
            <if test="personaBean.idPersona != null and personaBean.idPersona != '' " >
                and perFam.idPersona = #{personaBean.idPersona}
            </if>  
            <if test="personaBean.nombre != null and personaBean.nombre != '' " >
                and upper(perFam.nombre) like concat('%',#{personaBean.nombre},'%') 
            </if>  
            <if test="personaBean.apepat != null and personaBean.apepat != ''">
                and upper(perFam.apepat) like concat('%',#{personaBean.apepat},'%')
            </if>
            <if test="personaBean.apemat != null and personaBean.apemat != ''">
                and upper(perFam.apemat) like concat('%',#{personaBean.apemat},'%')
            </if>
            <if test="personaBean.gradoAcademicoBean.idGradoAcademico != null and personaBean.gradoAcademicoBean.idGradoAcademico != 0">
                and gra.idGradoAcademico = #{personaBean.gradoAcademicoBean.idGradoAcademico}
            </if>
        </where>
    </select>
    <select id="obtenerFamiliarPersonaPorFiltro" resultMap="personaResultado" parameterType="pe.marista.sigma.bean.FamiliarBean">
        Select 
        perFam.nombre as nombreFam
        ,perFam.uniNeg
        ,perFam.idPersona as idFamiliar
        ,perFam.apepat as apepatFam
        ,perFam.apemat as apematFam
        ,perFam.sexo as sexoFam
        ,perFam.nroDoc as nroDocFam
        ,perFam.fecNac as fecNacFam
        ,perFam.correo as correoFam 
        ,perFam.idGradoAcademico
        From MX_Persona  perFam 
        Left Join MX_GradoAcademico gra ON perFam.idGradoAcademico=gra.idGradoAcademico
        <where> perFam.unineg=#{personaBean.unidadNegocioBean.uniNeg}
            <if test="personaBean.idPersona != null and personaBean.idPersona != '' " >
                and perFam.idPersona = #{personaBean.idPersona}
            </if>  
            <if test="personaBean.nombre != null and personaBean.nombre != '' " >
                and upper(perFam.nombre) like concat('%',#{personaBean.nombre},'%') 
            </if>  
            <if test="personaBean.apepat != null and personaBean.apepat != ''">
                and upper(perFam.apepat) like concat('%',#{personaBean.apepat},'%')
            </if>
            <if test="personaBean.apemat != null and personaBean.apemat != ''">
                and upper(perFam.apemat) like concat('%',#{personaBean.apemat},'%')
            </if>
            <if test="personaBean.gradoAcademicoBean.idGradoAcademico != null and personaBean.gradoAcademicoBean.idGradoAcademico != 0">
                and gra.idGradoAcademico = #{personaBean.gradoAcademicoBean.idGradoAcademico}
            </if>
        </where>
    </select>
    <insert id="insertarFamiliar" parameterType="pe.marista.sigma.bean.FamiliarBean">
        INSERT INTO MX_Familiar
        (unineg,idFamiliar,profesion,ocupacion,idTipoEstCivil,flgVive,flgCatolico,flgMarista
        ,anioEgresoColegio,nombreColegio,foto,telefonoFijo,telefonoCelular
        ,telefonoOficina,centroLaboral,cargo,hobby,flgGrupoParroquial
        ,nombreParroquia,creaPor,creaFecha,direccion,dnifamiliar) 
        Values
        (#{personaBean.unidadNegocioBean.uniNeg},#{personaBean.idPersona},#{profesion}, #{ocupacion},#{tipoEstCivil.idCodigo},#{flgVive},#{flgCatolico},#{flgMarista},
        #{anioEgresoColegio},#{nombreColegio},#{foto},#{telefonoFijo},#{telefonoCelular},
        #{telefonoOficina},#{centroLaboral},#{cargo},#{hobby},
        #{flgGrupoParroquial},#{nombreParroquia},#{creaPor},getDate(),#{direccion},#{dniFamiliar})
    </insert> 
    <update id="modificarFamiliar" parameterType="pe.marista.sigma.bean.FamiliarBean">
        UPDATE MX_Familiar SET  
        profesion = #{profesion}
        ,ocupacion = #{ocupacion}
        ,idTipoEstCivil = #{tipoEstCivil.idCodigo}
        ,flgVive = #{flgVive}
        ,flgCatolico = #{flgCatolico}
        ,flgMarista = #{flgMarista}
        ,anioEgresoColegio = #{anioEgresoColegio}
        ,nombreColegio = #{nombreColegio}
        ,foto = #{foto}
        ,telefonoFijo = #{telefonoFijo}
        ,telefonoCelular = #{telefonoCelular}
        ,telefonoOficina = #{telefonoOficina}
        ,centroLaboral = #{centroLaboral}
        ,cargo = #{cargo}
        ,hobby = #{hobby}
        ,flgGrupoParroquial= #{flgGrupoParroquial}
        ,nombreParroquia = #{nombreParroquia}
        ,direccion=#{direccion}
        ,modiPor = #{modiPor}
        ,dnifamiliar=#{dniFamiliar}
        Where idFamiliar = #{personaBean.idPersona} 
    </update>
    <update id="modificarFamiliarRapido" parameterType="pe.marista.sigma.bean.FamiliarBean">
        UPDATE MX_Familiar SET  
        profesion = #{profesion}
        ,idfamiliar=#{personaBean.idPersona} 
        ,ocupacion = #{ocupacion}
        ,idTipoEstCivil = #{tipoEstCivil.idCodigo}
        ,flgVive = #{flgVive}
        ,flgCatolico = #{flgCatolico}
        ,flgMarista = #{flgMarista}
        ,anioEgresoColegio = #{anioEgresoColegio}
        ,nombreColegio = #{nombreColegio}
        ,foto = #{foto}
        ,telefonoFijo = #{telefonoFijo}
        ,telefonoCelular = #{telefonoCelular}
        ,telefonoOficina = #{telefonoOficina}
        ,centroLaboral = #{centroLaboral}
        ,cargo = #{cargo}
        ,hobby = #{hobby}
        ,flgGrupoParroquial= #{flgGrupoParroquial}
        ,nombreParroquia = #{nombreParroquia}
        ,direccion=#{direccion}
        ,modiPor = #{modiPor} 
        ,dnifamiliar=#{dniFamiliar}
        Where idFamiliar = #{personaBean.idPersonaOld} 
    </update>
    <delete id="eliminarFamiliar" parameterType="String">
        Delete From MX_Familiar Where idFamiliar = #{personaBean.idPersona}
    </delete>
    
    <!--Familiar Estudiante--><!--Familiar Estudiante--><!--Familiar Estudiante--><!--Familiar Estudiante--><!--Familiar Estudiante-->
    <sql id="consultaFamiliarEstudiante">
        Select 
        famEst.idEstudiante
        ,fam.profesion
        ,fam.ocupacion
        ,fam.idTipoestCivil
        ,codTipEstCiv.codigo as codigoEstCivil
        ,fam.flgVive
        ,fam.flgCatolico
        ,fam.flgMarista
        ,fam.anioEgresoColegio
        ,fam.nombreColegio
        ,fam.foto
        ,fam.telefonoFijo
        ,fam.telefonoCelular
        ,fam.telefonoOficina
        ,fam.telefonoCelular
        ,fam.centroLaboral
        ,fam.cargo
        ,fam.hobby
        ,fam.flgGrupoParroquial
        ,fam.nombreParroquia 
        ,fam.idFamiliar
        ,fam.uniNeg  
        ,fam.direccion
        ,perEst.nombre,
        perEst.apePat,
        perEst.apeMat,
        perEst.sexo,
        famEst.idFamiliar,
        perEst.nombre as nombreFam,
        perEst.apePat as apePatFam,
        perEst.apeMat as apeMatFam,
        perEst.sexo as sexoFam,
        perEst.nroDoc as nroDocFam,
        perEst.idTipoDocPer as idTipoDocPerFam,
        perEst.fecNac as fecNacFam,
        perEst.correo as correoFam,
        perEst.idNacionalidad as idNacionalidadFam,
        p.nombre as nombreNacionalidad,
        p.idPais as idPais,
        p.nacionalidad as nacionalidad,
        famEst.idTipoParentesco,
        cod.codigo as codigoParentesco,
        famEst.status as status
        From MX_FamiliarEstudiante famEst
        inner Join MX_Estudiante est On famEst.idEstudiante=est.idEstudiante
        inner Join MX_Familiar fam On famEst.idFamiliar=fam.idFamiliar
        Left Join MO_Codigo codTipEstCiv On fam.idTipoEstCivil=codTipEstCiv.idCodigo
        inner Join MX_Persona perEst On fam.idFamiliar=perEst.idPersona 
        inner Join MX_Persona perFam On fam.idFamiliar=perFam.idPersona
        inner  Join MO_Codigo cod On famEst.idTipoParentesco=cod.idCodigo
        inner join MO_Pais p on p.idpais=perEst.idnacionalidad
    </sql>
    <resultMap id="familiarEstudianteResultado" type="pe.marista.sigma.bean.FamiliarEstudianteBean" >
        <result property="creaPor" column="creaPor"/>
        <result property="creaFecha" column="creaFecha"/>
        <result property="modiPor" column="modiPor"/>
        <result property="status" column="status"/>
        <association property="estudianteBean" column="idEstudiante"
                     javaType="pe.marista.sigma.bean.PersonaBean"
                     resultMap="estudianteResultado"/>
        <association property="familiarBean" column="idFamiliar"
                     javaType="pe.marista.sigma.bean.FamiliarBean"
                     resultMap="familiarResultado"/>
        <association property="tipoParentescoBean" column="idTipoParentesco"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoParentescoResultado"/> 
    </resultMap>
    <!--Estudiante-->
    <resultMap id="estudianteResultado" type="pe.marista.sigma.bean.EstudianteBean">
        <result property="codigo" column="codigo"/>
        <result property="anioIngreso" column="anioIngreso"/>
        <result property="fechaIngreso" column="fechaIngreso"/>
        <result property="foto" column="foto"/>
        <result property="refeLugarNaci" column="refeLugarNaci"/>
        <result property="viaDomi" column="viaDomi"/>
        <result property="nroDomi" column="nroDomi"/>
        <result property="urbDomi" column="urbDomi"/>
        <result property="refeDomi" column="refeDomi"/>
        <association property="personaBean" column="idEstudiante"
                     javaType="pe.marista.sigma.bean.PersonaBean"
                     resultMap="personaEstResultado"/>
    </resultMap>
    <!--Persona Estudiante-->
    <resultMap id="personaEstResultado" type="pe.marista.sigma.bean.PersonaBean">
        <id property="idPersona" column="idEstudiante"/>
        <result property="nombre" column="nombreEst"/>
        <result property="apepat" column="apepatEst"/>
        <result property="apemat" column="apematEst"/>
        <result property="sexo" column="sexoEst"/>
        <result property="nroDoc" column="nroDocEst"/>
        <result property="fecNac" column="fecNacEst"/>
        <result property="correo" column="correo"/>
        <result property="idTipoDocPer.idCodigo" column="idTipoDocPer"/>
        <result property="idTipoDocPer.idCodigo" column="idTipoDocPer"/>
        <result property="paisBean.idPais" column="idNacionalidad"/>
        <association property="paisBean" column="idPais"
                     javaType="pe.marista.sigma.bean.PaisBean"
                     resultMap="paisResultado"/>
    </resultMap> 
    
     <resultMap id="paisResultado" type="pe.marista.sigma.bean.PaisBean">
        <id property="idPais" column="idPais"/>
        <result property="nombre" column="nombreNacionalidad"/> 
        <result property="nacionalidad" column="nacionalidad"/>   
    </resultMap> 
    <!--Familiar Estudiante-->
    <resultMap id="familiarEstResultado" type="pe.marista.sigma.bean.FamiliarBean">
        <result property="flgVive" column="flgVive"/>
        <result property="flgCatolico" column="flgCatolico"/>
        <result property="flgMarista" column="flgMarista"/>
        <result property="telefonoFijo" column="telefonoFijo"/>
        <result property="telefonoCelular" column="telefonoCelular"/>
        <result property="foto" column="foto"/>
        <result property="anioEgresoColegio" column="anioEgresoColegio"/>
        <association property="personaBean" column="idFamiliar"
                     javaType="pe.marista.sigma.bean.PersonaBean"
                     resultMap="personaFamiliarResultado"/>        
    </resultMap>
    <!--Persona de Familiar-->
    <resultMap id="personaFamiliarResultado" type="pe.marista.sigma.bean.PersonaBean">
        <id property="idPersona" column="idFamiliar"/>
        <result property="nombre" column="nombreFam"/>
        <result property="apepat" column="apepatFam"/>
        <result property="apemat" column="apematFam"/>
        <result property="sexo" column="sexoFam"/>
        <result property="nroDoc" column="nroDocFam"/>
        <result property="fecNac" column="fecNacFam"/>
        <result property="correo" column="correoFam"/>
        <result property="idTipoDocPer.idCodigo" column="idTipoDocPerFam"/>
        <result property="paisBean.idPais" column="idNacionalidadFam"/>
    </resultMap>
    <!--Tipo Parentesco (Codigo)-->
    <resultMap id="tipoParentescoResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoParentesco"/>
        <result property="codigo" column="codigoParentesco"/>
        <result property="valor" column="valor"/>
    </resultMap>
    <select id="obtenerFamiliarEstPorEst" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean" resultMap="familiarEstudianteResultado">
        <include refid="consultaFamiliarEstudiante"/>Where famEst.idEstudiante = #{idEstudiante}
    </select>
    <select id="obtenerFamiliarEstPorFamiliar" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean" resultMap="familiarEstudianteResultado">
        <include refid="consultaFamiliarEstudiante"/>Where famEst.idFamiliar = #{familiarBean.personaBean.idPersona}
    </select>
    <select id="obtenerFamiliarEstPorEstRapido" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean" resultMap="familiarEstudianteResultado">
        <include refid="consultaFamiliarEstudiante"/>Where famEst.idEstudiante = #{idEstudiante}  and famEst.status is null or famEst.idEstudiante = #{idEstudiante} and famEst.status=0
    </select>
    <select id="obtenerFamiliarEstPorEstSinPadres" parameterType="Integer" resultMap="familiarEstudianteResultado">
        <include refid="consultaFamiliarEstudiante"/>Where famEst.idEstudiante = #{idEstudiante} and cod.codigo != 'Madre' and cod.codigo != 'Padre'
    </select>
    <select id="obtenerFamiliarEstPorId" parameterType="String" resultMap="familiarEstudianteResultado">
        <include refid="consultaFamiliarEstudiante"/>
        Where famEst.uniNeg = #{familiarBean.personaBean.unidadNegocioBean.uniNeg} 
        and famEst.idEstudiante = #{estudianteBean.personaBean.idPersona} 
        and famEst.idFamiliar = #{familiarBean.personaBean.idPersona} 
    </select>
    <insert id="insertarFamiliarEstudiante" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean">
        Insert Into MX_FamiliarEstudiante 
        (unineg,idEstudiante,idFamiliar,idTipoParentesco,
        creaPor,creaFecha,dniEstudiante,dniFamiliar)
        Values 
        (#{estudianteBean.personaBean.unidadNegocioBean.uniNeg},#{estudianteBean.personaBean.idPersona},#{familiarBean.personaBean.idPersona},#{tipoParentescoBean.idCodigo},
        #{creaPor},getDate(),#{dniEstudiante},#{dniFamiliar})
    </insert>
    <delete id="eliminarFamiliarEst" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean">
        Delete From MX_FamiliarEstudiante where idEstudiante = #{estudianteBean.personaBean.idPersona} and idFamiliar = #{familiarBean.personaBean.idPersona}
    </delete>
    <delete id="modificarFamiliarEstudiante" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean">
        Update MX_FamiliarEstudiante set
        idTipoParentesco = #{tipoParentescoBean.idCodigo},  
        modiPor=#{modiPor}
        ,dniEstudiante=#{dniEstudiante},dniFamiliar=#{dniFamiliar}
        where idEstudiante = #{estudianteBean.personaBean.idPersona} and idFamiliar = #{familiarBean.personaBean.idPersona}
    </delete>
    <delete id="modificarFamiliarEstudianteRapido" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean">
        Update MX_FamiliarEstudiante set
        idTipoParentesco = #{tipoParentescoBean.idCodigo}, 
        idfamiliar= #{familiarBean.personaBean.idPersona},
        status = NULL, 
        modiPor=#{modiPor},dniEstudiante=#{dniEstudiante},dniFamiliar=#{dniFamiliar}
        where idEstudiante = #{estudianteBean.personaBean.idPersona} and idFamiliar = #{familiarBean.personaBean.idPersonaOld}
    </delete>
    <update id="modificarFamiliarEstudianteStatus" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean">
        Update MX_FamiliarEstudiante set
        status = #{status},  
        modiPor=#{modiPor}
        where idEstudiante = #{estudianteBean.personaBean.idPersona} and idFamiliar = #{familiarBean.personaBean.idPersonaOld}
    </update>
    <delete id="eliminarFamiliarEstudiantePorFam" parameterType="String">
        Delete From MX_FamiliarEstudiante where idFamiliar = #{idFamiliar}
    </delete>
    <select id="obtenerFamiliarRep" resultType="pe.marista.sigma.bean.reporte.FamiliarRepBean" parameterType="map">
        select  distinct
        ISNULL(per.apepat,'-') as apellidoPat,
        ISNULL(per.apemat,'-') as apellidoMat,
        ISNULL(per.nombre,'-') as nombre,
        ISNULL(pai.nombre,'-') as paisNacionalidad,
        ISNULL(pai.nacionalidad,'-') as nacionalidad,
        ISNULL(case
        when per.sexo= 1 then 'Masculino'
        when per.sexo= 0 then 'Femenino'
        END,'-') AS sexo,
        ISNULL(case
        when fa.flgvive= 0 then 'NO'
        when fa.flgvive= 1 then 'SI'
        end,'-') as vive,
        ISNULL(CONCAT((case
        when PER.idtipodocper=10701 then 'DNI: '
        when per.idtipodocper=10702 then 'C.E: '
        when per.idtipodocper=10703 then 'PAS: '
        END )+'',per.idpersona),'-') AS documento,
        ISNULL(graAca.nombre,'-') as nivelInstruccion,
        ISNULL(per.correo,'-') as correoElectronico,
        isnull(convert(varchar,per.fecnac,103),'-') as fechaNacimiento,
        ISNULL(stacivil.codigo,'-') as tipoStadoCivil,
        ISNULL(fa.direccion,'-') as direccion,
        ISNULL(fa.telefonocelular,'-') as celular,
        ISNULL(fa.telefonofijo,'-') as telefono1,
        ISNULL(fa.centrolaboral,'-') as centroTrabajo,
        ISNULL(fa.telefonooficina,'-') as telefonoOficina,
        ISNULL(fa.cargo,'-') as cargo,
        ISNULL(fa.profesion,'-') as profesion,
        ISNULL(fa.ocupacion,'-') as ocupacion
        from MX_Persona per
        Left join MX_Familiar fa on fa.idfamiliar = per.idpersona
        left join MO_Codigo staCivil on staCivil.idcodigo = fa.idtipoestcivil
        Left join MX_FamiliarEstudiante faEst on faEst.idfamiliar= fa.idfamiliar
        left join MO_Codigo pare on pare.idcodigo= faest.idtipoparentesco
        Left Join MO_Pais pai ON per.idnacionalidad=pai.idpais
        Left Join MX_GradoAcademico graAca On graAca.idGradoAcademico=per.idgradoacademico
        where faEst.idestudiante=#{idEstudiante}  and fa.unineg=#{uniNeg} and (pare.codigo=#{tipo} OR pare.codigo=#{tipo}) OR idpersona =#{idFamiliar} 
    </select>
    <delete id="modificarDniEstudianteFamEst" parameterType="pe.marista.sigma.bean.FamiliarEstudianteBean">
        Update MX_FamiliarEstudiante set
        dniestudiante = #{dniEstudiante}, 
        modiPor=#{modiPor}
        where idEstudiante = #{estudianteBean.personaBean.idPersona}
    </delete>
    
    <!--Familiar Centro de Trabajo 
    <sql id="consultaFamiliarCentroTrabajo">
        Select 
        cent.idFamiliar,
        per.nombre,
        per.apePat,
        per.apeMat,
        per.sexo,
        cent.idEntidadSede,
        sede.nombre as nombreSede,
        ent.idEntidad,
        cent.correo,
        cent.telefono,
        cent.anexo,
        cent.idTipoCargo,
        cod.codigo,
        cod.valor
        From MX_FamiliarCentroTrabajo cent
        Inner Join MX_Familiar fam On cent.idFamiliar=fam.idFamiliar
        Inner Join MX_Persona per On fam.idFamiliar=per.idPersona
        Inner Join MO_EntidadSede sede On cent.idEntidadSede=sede.idEntidadSede
        Inner Join MO_Entidad ent On ent.idEntidad=sede.idEntidad
        Inner Join MO_Codigo cod On cod.idCodigo=cent.idTipoCargo
    </sql> 
    <resultMap id="famCentTraResultado" type="pe.marista.sigma.bean.FamiliarCentroTrabajoBean">
        <result property="correo" column="correo"/>
        <result property="telefono" column="telefono"/>
        <result property="anexo" column="anexo"/>
        <association property="familiarBean" column="idFamiliar"
                     javaType="pe.marista.sigma.bean.FamiliarBean"
                     resultMap="familiarResultado"/>
        <association property="entidadSedeBean" column="idEntidadSede"
                     javaType="pe.marista.sigma.bean.EntidadSedeBean"
                     resultMap="entidadSedeCentTraResultado"/>
        <association property="tipoCargoBean" column="idTipoCargo"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoCargoResultado"/>
    </resultMap>-->
    <!--resultMap id="familiarFamCentResultado" type="pe.marista.sigma.bean.FamiliarBean">
        <result property="flgVive" column="flgVive"/>
        <association property="personaBean" column="idFamiliar"
                     javaType="pe.marista.sigma.bean.PersonaBean"
                     resultMap="personaFamCentResultado"/>
    </resultMap-->
    <!--Persona FamCenTra-->
    <!--<resultMap id="personaFamCentResultado" type="pe.marista.sigma.bean.PersonaBean">
        <id property="idPersona" column="idFamiliar"/>
        <result property="nombre" column="nombre"/>
        <result property="apepat" column="apepat"/>
        <result property="apemat" column="apemat"/>
        <result property="sexo" column="sexo"/>
        <result property="nroDoc" column="nroDoc"/>
        <result property="fecNac" column="fecNac"/>
        <result property="correo" column="correo"/>
    </resultMap>--> 
    <!--Tipo Cargo (Entidad Sede)
    <resultMap id="entidadSedeCentTraResultado" type="pe.marista.sigma.bean.EntidadSedeBean">   
        <id property="idEntidadSede" column="idEntidadSede" />
        <result property="nombre" column="nombreSede" />
        <result property="direccion" column="direccion" />
        <result property="telefono" column="telefono" />
        <result property="correo" column="correo" />
        <result property="urbanizacion" column="urbanizacion" />
        <association property="entidadBean" column="idEntidad"
                     javaType="pe.marista.sigma.bean.EntidadBean"
                     resultMap="entidadCentTraResultado"/>
    </resultMap>
    <resultMap id="entidadCentTraResultado" type="pe.marista.sigma.bean.EntidadBean">
        <id property="idEntidad" column="idEntidad" />
    </resultMap>-->
    <!--Tipo Cargo (Codigo)
    <resultMap id="tipoCargoResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoCargo"/>
        <result property="codigo" column="codigo"/>
        <result property="valor" column="valor"/>
    </resultMap>
    <select id="obtenerCentroTrabajoPorFami" parameterType="String" resultMap="famCentTraResultado">
        <include refid="consultaFamiliarCentroTrabajo"/>Where cent.idFamiliar = #{idFamiliar}
    </select>
    <insert id="insertarFamiliarCentroTra" parameterType="pe.marista.sigma.bean.FamiliarCentroTrabajoBean">
        Insert Into MX_FamiliarCentroTrabajo (idFamiliar,idEntidadSede,correo,telefono,anexo,idTipoCargo) 
        Values (#{familiarBean.personaBean.idPersona},#{entidadSedeBean.idEntidadSede},#{correo},#{telefono},#{anexo},#{tipoCargoBean.idCodigo})
    </insert>
    <update id="modificarFamiliarCentroTra" parameterType="pe.marista.sigma.bean.FamiliarCentroTrabajoBean">
        Update MX_FamiliarCentroTrabajo Set
        idEntidadSede = #{entidadSedeBean.idEntidadSede},
        correo = #{correo},
        telefono = #{telefono},
        anexo = #{anexo},
        idTipoCargo = #{tipoCargoBean.idCodigo}
        Where idFamiliar = #{familiarBean.personaBean.idPersona} and idEntidadSede = #{entidadSedeBean.idEntidadSede}
    </update>
    <delete id="eliminarFamiliarCentroTra" parameterType="pe.marista.sigma.bean.FamiliarCentroTrabajoBean">
        Delete From MX_FamiliarCentroTrabajo Where idFamiliar = #{familiarBean.personaBean.idPersona} and idEntidadSede = #{entidadSedeBean.idEntidadSede}
    </delete>
    <delete id="eliminarFamiliarCentroTraPorFam" parameterType="String">
        Delete From MX_FamiliarCentroTrabajo where idFamiliar = #{familiarBean.personaBean.idPersona}
    </delete>-->
</mapper>
