<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.MovilidadDAO">
    <sql id="consultaCampos">
        SELECT idmovilidad
        ,nroautorizacion
        ,color
        FROM MX_Movilidad
    </sql>
    
    <sql id="consultaPlaca">
        select distinct idMovilidad from MX_Movilidad
    </sql>
    
    <sql id="consultaAutorizacion">
        select distinct nroautorizacion from MX_Movilidad
    </sql>
        
    <resultMap id="autoResultado" type="pe.marista.sigma.bean.MovilidadBean">
        <id property="idmovilidad" column="idmovilidad"/>
        <result property="nroautorizacion" column="nroautorizacion"/>
        <result property="color" column="color"/>  
    </resultMap>
    
    <select id="ObtenerMovilidad" resultMap="autoResultado">
        <include refid="consultaCampos" />
    </select>
    
    <select id="obtenerListaMovilidad" resultMap="autoResultado">
        <include refid="consultaPlaca" />
    </select>
    
    <select id="obtenerAutorizacion" resultMap="autoResultado">
        <include refid="consultaAutorizacion" />
    </select>
    
    <select id="obtenerFiltro" resultType="pe.marista.sigma.bean.MovilidadBean" parameterType="pe.marista.sigma.bean.MovilidadBean" >
        <include refid="consultaCampos" />
        <where>
            <if test="idmovilidad != null and idmovilidad != ''">
                upper(idmovilidad) like CONCAT('%',#{idmovilidad},'%')
            </if>    
        </where>
    </select>
    
    <select id="ObtenerMovilidadPorId" resultMap="autoResultado" parameterType="String">
        <include refid="consultaCampos" />
        Where idmovilidad=#{idmovilidad}
    </select>
    
    <insert id="InsertarMovilidad" parameterType="pe.marista.sigma.bean.MovilidadBean">
        INSERT INTO MX_Movilidad(idmovilidad,nroautorizacion,color)
        VALUES (#{idmovilidad},#{nroautorizacion},#{color})
    </insert>
    
    <update id="ActualizarMovilidad" parameterType="pe.marista.sigma.bean.MovilidadBean">
        UPDATE MX_Movilidad
        SET idmovilidad = #{idmovilidad}
        ,nroautorizacion = #{nroautorizacion}
        ,color = #{color}
        WHERE idmovilidad = #{idmovilidad}
    </update>
    
    <delete id="EliminarMovilidad" parameterType="pe.marista.sigma.bean.MovilidadBean">
        DELETE FROM MX_Movilidad
        WHERE idmovilidad = #{idmovilidad}
    </delete>
    
</mapper>


