<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="pe.marista.sigma.dao.NivelAcademicoDAO">  
    
    <sql id="consultaCampos">
        select na.idnivelacademico,na.nombre,tf.idtipoformacion,tf.nombre as nomTipForm
        from mx_nivelacademico na
        inner join mx_tipoformacion tf on na.idtipoformacion = tf.idtipoformacion
    </sql>
    
    <resultMap id="nivelResultado" type="pe.marista.sigma.bean.NivelAcademicoBean">
        <id property="idNivelAcademico" column="idNivelAcademico"/>
        <result property="nombre" column="nombre"/>
        <association property="tipoFormacionBean" column="idTipoFormacion"
                     javaType="pe.marista.sigma.bean.TipoFormacionBean"
                     resultMap="tipoResultado"/>
    </resultMap>
    
    <resultMap id="tipoResultado" type="pe.marista.sigma.bean.TipoFormacionBean">
        <id property="idTipoFormacion" column="idTipoFormacion"/>
        <result property="nombre" column="nomTipForm"/>
    </resultMap>
    
    <select id="obtenerTodos" resultMap="nivelResultado">
        <include refid="consultaCampos" />
        order by nombre
    </select>
    
    <select id="obtenerPorTipoFormacion" resultMap="nivelResultado" parameterType="Integer">
        <include refid="consultaCampos" />
        where na.idtipoformacion = #{idTipoFormacion} order by na.nombre
    </select>
    
    <select id="obtenerPorTipoFormacionSinIniPriSec" resultMap="nivelResultado" parameterType="Integer">
        <include refid="consultaCampos" />
        where na.idtipoformacion = #{idTipoFormacion} and na.nombre!='Ini-Pri-Sec' order by na.nombre
    </select>
   
    <select id="obtenerPorId" resultMap="nivelResultado" parameterType="pe.marista.sigma.bean.NivelAcademicoBean">
        <include refid="consultaCampos" />where idNivelAcademico = #{idNivelAcademico}
    </select>
    
    <insert id="insertar" parameterType="pe.marista.sigma.bean.NivelAcademicoBean">
        insert into mx_nivelacademico (nombre,idTipoFormacion,creaFecha)
        values(#{nombre},#{tipoFormacionBean.idTipoFormacion},getDate())
    </insert> 
    
    <update id="actualizar" parameterType="pe.marista.sigma.bean.NivelAcademicoBean">
        update mx_nivelacademico 
        set 
        nombre = #{nombre},
        idTipoFormacion = #{tipoFormacionBean.idTipoFormacion}
        where idNivelAcademico = #{idNivelAcademico}
    </update>
    
    <delete id="eliminar" parameterType="pe.marista.sigma.bean.NivelAcademicoBean">
        delete from mx_nivelacademico
        where idNivelAcademico = #{idNivelAcademico}
    </delete>
    
    <select id="obtenerNivelAcaPorTipoFormacion" resultMap="nivelResultado" parameterType="pe.marista.sigma.bean.TipoFormacionBean">
        <include refid="consultaCampos" />
        where tf.nombre = #{nombre} and na.nombre!='Ini-Pri-Sec'  order by na.nombre
    </select>
</mapper>
