<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.PaisDAO">  
    <sql id="consultaPais">
        Select  
        idPais,
        codigo,
        nombre,
        nacionalidad
        From MO_Pais
    </sql>
    <resultMap id="paisResultado" type="pe.marista.sigma.bean.PaisBean">
        <id property="idPais" column="idPais"/>
        <result property="codigo" column="codigo"/>
        <result property="nombre" column="nombre"/>
        <result property="nacionalidad" column="nacionalidad"/>
    </resultMap>
    <select id="obtenerPais" resultMap="paisResultado">
        <include refid="consultaPais"/>
    </select>
     
    <select id="obtenerPaisPorDefectoPeru" resultMap="paisResultado" parameterType="String">
        <include refid="consultaPais" /> Where nombre=#{nombre}
    </select>
    <select id="obtenerPaisPorId" resultMap="paisResultado" parameterType="Integer">
        <include refid="consultaPais" /> Where idPais = #{idPais}
    </select>
    <insert id="insertarPais" parameterType="pe.marista.sigma.bean.PaisBean">
        Insert Into MO_Pais (codigo,nombre,nacionalidad) 
        Values (#{codigo},#{nombre},#{nacionalidad})
    </insert> 
    <update id="modificarPais" parameterType="pe.marista.sigma.bean.PaisBean">
        Update MO_Pais set
        codigo = #{codigo},
        nombre = #{nombre},
        nacionalidad = #{nacionalidad}
        Where idPais = #{idPais}   
    </update>
    <delete id="eliminarPais" parameterType="Integer">
        Delete from MO_Pais Where idPais = #{idPais}  
    </delete>
    
</mapper>
