<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.marista.sigma.dao.PerfilUnidadNegocioDAO">
    <sql id="consultaCampos">
        Select  
        perUniNeg.idUniNeg,
        perUniNeg.idPerfil,
        perUniNeg.status,
        per.nombre,
        uniNeg.nombreUniNeg
        From MM_PERFILUNIDADNEGOCIO perUniNeg
        INNER JOIN MO_UNIDADNEGOCIO uniNeg ON uniNeg.idUniNeg=perUniNeg.idUniNeg
        INNER JOIN MM_PERFIL  per ON per.idPerfil=perUniNeg.idPerfil
        
    </sql>
    <resultMap id="perfilUnidadNegocioResultado" type="pe.marista.sigma.bean.PerfilUnidadNegocioBean">
        <result property="status" column="status" />
        <association property="perfilBean" column="idPerfil"  
                     javaType="pe.marista.sigma.bean.PerfilBean" 
                     resultMap="perfilResultado"/>
        <association property="unidadNegocioBean" column="idUniNeg" 
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean" 
                     resultMap="unidadNegocioResultado"/>
    </resultMap>
    <resultMap id="perfilResultado" type="pe.marista.sigma.bean.PerfilBean">
        <id property="idPerfil" column="idPerfil" />
        <result property="nombre" column="nombre" />
    </resultMap>
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="idUniNeg" column="idUniNeg" />
        <result property="nombreUniNeg" column="nombreUniNeg" />
    </resultMap>
    <select id="obtenerTodos" resultMap="perfilUnidadNegocioResultado">
        <include refid="consultaCampos" />
    </select>
    <select id="obtenerPorFiltro" parameterType="pe.marista.sigma.bean.PerfilUnidadNegocioBean"
            resultMap="perfilUnidadNegocioResultado">
        <include refid="consultaCampos" /> 
        <where>
            <if test="perfilBean.nombre != null and perfilBean.nombre != '' " >
                and upper(per.nombre) like ('%'||#{perfilBean.nombre}||'%') 
            </if>    
        </where>
    </select>
    <select id="obtenerPorId" resultMap="perfilUnidadNegocioResultado" parameterType="pe.marista.sigma.bean.PerfilUnidadNegocioBean">
        <include refid="consultaCampos" /> Where  perUniNeg.idPerfil=#{perfilBean.idPerfil}
    </select>
    <select id="obtenerPorIdPerfil" resultType="pe.marista.sigma.bean.PerfilUnidadNegocioBean" parameterType="pe.marista.sigma.bean.PerfilUnidadNegocioBean">
        <include refid="consultaCampos" /> Where  perUniNeg.idPerfil=#{perfilBean.idPerfil}
    </select>
    <insert id="insertar" parameterType="pe.marista.sigma.bean.PerfilUnidadNegocioBean">
        INSERT INTO MM_PERFILUNIDADNEGOCIO (idUniNeg,idPerfil,status)
        Values (#{unidadNegocioBean.idUniNeg},#{perfilBean.idPerfil},#{status})
    </insert> 
    <update id="actualizar" parameterType="pe.marista.sigma.bean.UsuarioBean">
        UPDATE MM_PERFILUNIDADNEGOCIO
        SET 
        status=#{status}
        Where perUniNeg.idUniNeg = #{unidadNegocioBean.idUniNeg} and perUniNeg.idPerfil=#{perfilBean.idPerfil}
    </update>
    <delete id="eliminarTodos" parameterType="pe.marista.sigma.bean.PerfilUnidadNegocioBean">
        DELETE FROM MM_PERFILUNIDADNEGOCIO WHERE idPerfil=#{perfilBean.idPerfil}
    </delete>
    <!--Perfil-->
    <insert id="insertarPerfil" parameterType="pe.marista.sigma.bean.PerfilBean"
            useGeneratedKeys="true" keyProperty="idPerfil" keyColumn="idPerfil">
        INSERT INTO MM_PERFIL(nombre,status,creaPor,creaFecha)
        Values (#{nombre},#{status},#{creaPor},#{creaFecha})
    </insert> 
    <delete id="eliminarPerfil" parameterType="pe.marista.sigma.bean.PerfilBean">
        DELETE FROM MM_PERFIL WHERE idPerfil=#{idPerfil}
    </delete> 
    <update id="actualizarPerfil" parameterType="pe.marista.sigma.bean.PerfilBean">
        UPDATE MM_PERFIL
        SET nombre = #{nombre}
        Where idPerfil = #{idPerfil} 
    </update>
    <sql id="consultaCamposPerfil">
        SELECT 
        idPerfil,
        nombre,
        status,
        creaPor,
        creaFecha
        FROM MM_PERFIL 
    </sql>
    <select id="obtenerTodosPerfil" resultType="pe.marista.sigma.bean.PerfilBean">
       <include refid="consultaCamposPerfil" />
    </select>
    <select id="obtenerTodosFiltroPerfil" resultType="pe.marista.sigma.bean.PerfilBean" parameterType="pe.marista.sigma.bean.PerfilBean">
       <include refid="consultaCamposPerfil" />
        <where>
            <if test="nombre != null and nombre != ''">
                upper(nombre) like CONCAT('%',#{nombre},'%')
            </if>    
        </where>
    </select>
    <!--Modulo-->
    <select id="obtenerTodosModulo" resultType="pe.marista.sigma.bean.ModuloBean">
        SELECT 
        idModulo,
        nombre,
        idModuloPadre,
        index;
        folder,
        icono,
        status,
        creaPor,
        creaFecha
        FROM MM_MODULO     
    </select>
    <!--Unidad Negocio-->
    <select id="obtenerTodosUnidadNegocio" resultType="pe.marista.sigma.bean.UnidadNegocioBean">
        SELECT 
        idUniNeg,
        codigoUniNeg,
        nombreUniNeg,
        ruc,
        fecfundacion,
        idTipoUniNeg,
        idUniNegPadre
        FROM MO_UNIDADNEGOCIO
    </select>
</mapper>
