<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.marista.sigma.dao.PersonalContratoDAO">
    <sql id="consultaCampos">
        SELECT
        PCON.idPersonalContrato,
        PCON.unineg as  uniNegP,
        PCON.idPersonal,
        PCON.idTipoContrato,
        PCON.documento,
        PCON.fecIni,
        PCON.fecFin,
        PCON.obs,
        PCON.creaPor,
        PCON.creaFecha,
        CO.codigo as nombreTipoCon,
        PCON.diaLunes,
        PCON.diaMartes, 
        PCON.diaMiercoles, 
        PCON.diaJueves, 
        PCON.diaViernes, 
        PCON.diaSabado,
        PCON.horaIniLunes, 
        PCON.horaIniMartes, 
        PCON.horaIniMiercoles, 
        PCON.horaIniJueves, 
        PCON.horaIniViernes, 
        PCON.horaIniSabado, 
        PCON.horaFinLunes, 
        PCON.horaFinMartes, 
        PCON.horaFinMiercoles, 
        PCON.horaFinJueves, 
        PCON.horaFinViernes, 
        PCON.horaFinSabado,
        PCON.horaRefrigerioLunes, 
        PCON.horaRefrigerioMartes, 
        PCON.horaRefrigerioMiercoles, 
        PCON.horaRefrigerioJueves, 
        PCON.horaRefrigerioViernes, 
        PCON.horaRefrigerioSabado,
        PCON.periodo as periodo
        FROM MO_PersonalContrato PCON
        INNER JOIN MO_Personal PE on PCON.IDPERSONAL = PE.IDPERSONAL  and PCON.unineg=pe.unineg
        INNER JOIN MO_Codigo CO ON PCON.idTipoContrato = CO.idcodigo
    </sql>
    <resultMap id="personalContratoResultado" type="pe.marista.sigma.bean.PersonalContratoBean">
        <id property="idPersonalContrato" column="idPersonalContrato" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" />
        <result property="documento" column="documento" />
        <result property="fecIni" column="fecIni" />
        <result property="fecFin" column="fecFin" />
        <result property="obs" column="obs" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="idTipoVacaciones" column="idTipoVacaciones" />
        <result property="modiPor" column="modiPor" />
        
        <result property="diaLunes" column="diaLunes" /> 
        <result property="diaMartes" column="diaMartes" /> 
        <result property="diaMiercoles" column="diaMiercoles" /> 
        <result property="diaJueves" column="diaJueves" /> 
        <result property="diaViernes" column="diaViernes" /> 
        <result property="diaSabado" column="diaSabado" /> 
        
        <result property="horaIniLunes" column="horaIniLunes" /> 
        <result property="horaIniMartes" column="horaIniMartes" /> 
        <result property="horaIniMiercoles" column="horaIniMiercoles" /> 
        <result property="horaIniJueves" column="horaIniJueves" /> 
        <result property="horaIniViernes" column="horaIniViernes" /> 
        <result property="horaIniSabado" column="horaIniSabado" /> 
        
        <result property="horaFinLunes" column="horaFinLunes" /> 
        <result property="horaFinMartes" column="horaFinMartes" /> 
        <result property="horaFinMiercoles" column="horaFinMiercoles" /> 
        <result property="horaFinJueves" column="horaFinJueves" /> 
        <result property="horaFinViernes" column="horaFinViernes" /> 
        <result property="horaFinSabado" column="horaFinSabado" /> 
        
        <result property="horaRefrigerioLunes" column="horaRefrigerioLunes" /> 
        <result property="horaRefrigerioMartes" column="horaRefrigerioMartes" /> 
        <result property="horaRefrigerioMiercoles" column="horaRefrigerioMiercoles" /> 
        <result property="horaRefrigerioJueves" column="horaRefrigerioJueves" /> 
        <result property="horaRefrigerioViernes" column="horaRefrigerioViernes" /> 
        <result property="horaRefrigerioSabado" column="horaRefrigerioSabado" /> 
        
        <result property="periodo" column="periodo" /> 
        
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        <!--1 idPersonal-->                
        <association property="personalBean" column="idPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
        <!--1 idTipoContrato--> 
        <association property="tipoContratoBean" column="idTipoContrato"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoContratoResultado"/>
    </resultMap>
    
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegP"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/> 
    </resultMap>

    <!--1 idPersonal-->         
    <resultMap id="personalResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idPersonal"/>
        <result property="codPer" column="codPer" />
        <result property="nombre" column="nombre" />
        <result property="apepat" column="apepat" />
        <result property="apemat" column="apemat" />
    </resultMap>
    <!--1 idTipoContrato-->         
    <resultMap id="tipoContratoResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoContrato"/>
        <result property="codigo" column="nombreTipoCon"/>  
    </resultMap>
    
    <select id="obtenerPersonalContratoPorPersonal" resultMap="personalContratoResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCampos" />
        where PCON.idPersonal=#{idPersonal} and pcon.unineg=#{unidadNegocioBean.uniNeg} 
        <if test="idTipoVacaciones != null" >
            and  PCON.idTipoContrato!=#{idTipoVacaciones}
        </if> 
    </select> 
    <select id="obtenerPersonalContratoPorId" resultMap="personalContratoResultado" parameterType="pe.marista.sigma.bean.PersonalContratoBean">
        <include refid="consultaCampos" />
        where PCON.idPersonalContrato=#{idPersonalContrato} and pcon.unineg=#{unidadNegocioBean.uniNeg}
    </select>
     
    <insert id="insertarPersonalContrato" parameterType="pe.marista.sigma.bean.PersonalContratoBean">
        INSERT INTO  MO_PersonalContrato
        (unineg,idPersonal,idTipoContrato,documento,fecIni,fecFin,obs,creaPor,
        dialunes,diamartes,diamiercoles,diajueves,diaviernes,diasabado,
        horainilunes,horainimartes,horainimiercoles,horainijueves,horainiviernes,horainisabado,
        horafinlunes,horafinmartes,horafinmiercoles,horafinjueves,horafinviernes,horafinsabado,
        horarefrigeriolunes,horarefrigeriomartes,horarefrigeriomiercoles,horarefrigeriojueves,horarefrigerioviernes,
        horarefrigeriosabado,periodo)
        Values (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{tipoContratoBean.idCodigo},#{documento},#{fecIni},#{fecFin},#{obs},#{creaPor},
        #{diaLunes},#{diaMartes},#{diaMiercoles},#{diaJueves},#{diaViernes},#{diaSabado},
        #{horaIniLunes},#{horaIniMartes},#{horaIniMiercoles},#{horaIniJueves},#{horaIniViernes},#{horaIniSabado},
        #{horaFinLunes},#{horaFinMartes},#{horaFinMiercoles},#{horaFinJueves},#{horaFinViernes},#{horaFinSabado},
        #{horaRefrigerioLunes},#{horaRefrigerioMartes},#{horaRefrigerioMiercoles},#{horaRefrigerioJueves}
        ,#{horaRefrigerioViernes},#{horaRefrigerioSabado},#{periodo})
    </insert>                                                                                                       
     
    <update id="modificarPersonalContrato" parameterType="pe.marista.sigma.bean.PersonalContratoBean">
        Update MO_PersonalContrato set 
        <if test="tipoContratoBean.idCodigo != null" >
            idTipoContrato=#{tipoContratoBean.idCodigo},
        </if> 
        documento=#{documento},
        fecIni=#{fecIni},
        fecFin=#{fecFin},
        obs=#{obs},
        modiPor=#{modiPor},
        dialunes=#{diaLunes},diamartes=#{diaMartes},diamiercoles=#{diaMiercoles},diajueves=#{diaJueves},
        diaviernes=#{diaViernes},diasabado=#{diaSabado},
        horainilunes=#{horaIniLunes},horainimartes=#{horaIniMartes},horainimiercoles=#{horaIniMiercoles},
        horainijueves=#{horaIniJueves},horainiviernes=#{horaIniViernes},horainisabado=#{horaIniSabado},
        horafinlunes=#{horaFinLunes},horafinmartes=#{horaFinMartes},horafinmiercoles=#{horaFinMiercoles},
        horafinjueves=#{horaFinJueves},horafinviernes=#{horaFinViernes},horafinsabado=#{horaFinSabado},
        horarefrigeriolunes=#{horaRefrigerioLunes},horarefrigeriomartes=#{horaRefrigerioMartes},
        horarefrigeriomiercoles=#{horaRefrigerioMiercoles},horarefrigeriojueves=#{horaRefrigerioJueves},
        horarefrigerioviernes=#{horaRefrigerioViernes},horarefrigeriosabado=#{horaRefrigerioSabado},
        periodo=#{periodo}
        Where idPersonalContrato=#{idPersonalContrato} and  unineg=#{unidadNegocioBean.uniNeg}
    </update>
     
    <delete id="eliminarPersonalContrato" parameterType="pe.marista.sigma.bean.PersonalContratoBean">
        Delete From MO_PersonalContrato Where idPersonalContrato = #{idPersonalContrato} and unineg=#{unidadNegocioBean.uniNeg}
    </delete>
     
    <select  id="obtenerContratoPorPersonalRep" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PersonalContratoRepBean">
        SELECT   
        ISNULL(cod.codigo,'') AS tipo, 
        (case when Pcon.documento is null or Pcon.documento='' then 'Sin Documento' else Pcon.documento end) as documento, 
        (case when Pcon.fecini is null then '  / /  ' else (SELECT CONVERT(VARCHAR(10),  Pcon.fecini, 103))  end) +' - '+  (case when Pcon.fecfin is null then '  / /  ' else (SELECT CONVERT(VARCHAR(10),  Pcon.fecfin, 103))  end) as periodo
        FROM MO_PersonalContrato Pcon
        inner JOIN MO_Codigo cod on cod.idcodigo=Pcon.idtipocontrato 
        where cod.codigo!='VACACIONES'
        and Pcon.idpersonal=#{idPersonal} and Pcon.unineg=#{uniNeg}
        order by 3 
    </select>
    <select  id="obtenerVacacionesPorPersonalRep" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PersonalContratoRepBean">
        SELECT   
        ISNULL(cod.codigo,'') AS tipo,
        isnull(Pcon.documento,'Sin Documento') AS documento ,
        (case when Pcon.documento is null or Pcon.documento='' then 'Sin Documento' else Pcon.documento end) as documento, 
        (case when Pcon.fecini is null then '  / /  ' else (SELECT CONVERT(VARCHAR(10),  Pcon.fecini, 103))  end) +' - '+  (case when Pcon.fecfin is null then '  / /  ' else (SELECT CONVERT(VARCHAR(10),  Pcon.fecfin, 103))  end) as periodo
        FROM MO_PersonalContrato Pcon
        inner JOIN MO_Codigo cod on cod.idcodigo=Pcon.idtipocontrato 
        where cod.codigo='VACACIONES'        
        and Pcon.idpersonal=#{idPersonal} and Pcon.unineg=#{uniNeg}
        order by 3
    </select>
          
    <sql id="consultaCamposInterbancaria">
        select  
        uni.unineg as uniNegP,
        per.idpersonal as idPersonal,
        inf.idpersonalinformacionbancaria as idPersonalInformacionBancaria,
        inf.nombreentidadhaberes as nombreEntidadHaberes,
        inf.cuentabancariahaberes as cuentaBancariaHaberes,
        inf.cuentainterbancariahaberes as cuentaInterbancariaHaberes,
        inf.nombreentidadcts as nombreEntidadCts,
        inf.cuentasolescts as cuentaSolesCts,
        inf.cuentadolarescts as cuentaDolaresCts, 
        inf.creapor as creaPor,
        inf.creafecha as creFecha,
        inf.modipor as modiPor
        from MO_PersonalInformacionBancaria inf
        inner join MO_UnidadNegocio uni on uni.unineg=inf.unineg
        inner join MO_Personal per on per.idpersonal=inf.idpersonal
    </sql>
    <resultMap id="personalInterbancariaResultado" type="pe.marista.sigma.bean.PersonalInformacionBancariaBean">
        <id property="idPersonalInformacionBancaria" column="idPersonalInformacionBancaria" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" /> 
        <result property="nombreEntidadHaberes" column="nombreEntidadHaberes" />
        <result property="cuentaBancariaHaberes" column="cuentaBancariaHaberes" />
        <result property="cuentaInterbancariaHaberes" column="cuentaInterbancariaHaberes" />
        <result property="nombreEntidadCts" column="nombreEntidadCts" />
        <result property="cuentaDolaresCts" column="cuentaDolaresCts" /> 
        <result property="cuentaSolesCts" column="cuentaSolesCts" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" /> 
        <result property="modiPor" column="modiPor" /> 
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        <!--1 idPersonal-->                
        <association property="personalBean" column="idPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
    </resultMap>
        
    <select id="obtenerPersonalBancariaPorPersonal" resultMap="personalInterbancariaResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCamposInterbancaria" />
        where per.idPersonal=#{idPersonal} and uni.unineg=#{unidadNegocioBean.uniNeg} 
    </select> 
    <insert id="insertarPersonalBancaria" parameterType="pe.marista.sigma.bean.PersonalInformacionBancariaBean">
        INSERT INTO  MO_PersonalInformacionBancaria
        (unineg,idPersonal,nombreEntidadHaberes,cuentaBancariaHaberes,cuentaInterbancariaHaberes,nombreEntidadCts,
        cuentaSolesCts,cuentaDolaresCts,
        creaPor)
        Values (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{nombreEntidadHaberes},#{cuentaBancariaHaberes},
        #{cuentaInterbancariaHaberes},#{nombreEntidadCts},#{cuentaSolesCts},#{cuentaDolaresCts},
        #{creaPor})
    </insert>                                                                                                       
     
    <update id="modificarPersonalBancaria" parameterType="pe.marista.sigma.bean.PersonalInformacionBancariaBean">
        Update MO_PersonalInformacionBancaria set  
        nombreEntidadHaberes=#{nombreEntidadHaberes},
        cuentaBancariaHaberes=#{cuentaBancariaHaberes},
        cuentaInterbancariaHaberes=#{cuentaInterbancariaHaberes},
        nombreEntidadCts=#{nombreEntidadCts},
        modiPor=#{modiPor},
        cuentaSolesCts=#{cuentaSolesCts},
        cuentaDolaresCts=#{cuentaDolaresCts} 
        Where idPersonalInformacionBancaria=#{idPersonalInformacionBancaria} and  unineg=#{unidadNegocioBean.uniNeg}
    </update>
     
    <delete id="eliminarPersonalBancaria" parameterType="pe.marista.sigma.bean.PersonalInformacionBancariaBean">
        Delete From MO_PersonalInformacionBancaria Where idPersonalInformacionBancaria = #{idPersonalInformacionBancaria} and unineg=#{unidadNegocioBean.uniNeg}
    </delete>
    
    
    <sql id="consultaCamposDesvinculacion">
        select 
        uni.unineg as uniNegP,
        per.idpersonal as idPersonal,
        desv.idpersonaldesvinculacion as idPersonalDesvinculacion,
        desv.fechadesvinculacion as fechaDesvinculacion,
        desv.motivo as motivo,
        desv.encuesta as encuesta,
        desv.cartarenuncia as cartaRenuncia,
        desv.cartadespido as cartaDespido,
        desv.liquidacion as liquidacion,
        desv.compensaciongracia as compensacionGracia, 
        desv.creapor as creaPor,
        desv.creafecha as creaFecha,
        desv.modipor as modiPor
        from MO_PersonalDesvinculacion desv
        inner join MO_UnidadNegocio uni on uni.unineg=desv.unineg
        inner join MO_Personal per on per.idpersonal=desv.idpersonal
    </sql>
    <resultMap id="personalDesvinculacionResultado" type="pe.marista.sigma.bean.PersonalDesvinculacionBean">
        <id property="idPersonalDesvinculacion" column="idPersonalDesvinculacion" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" />
        <result property="fechaDesvinculacion" column="fechaDesvinculacion" />
        <result property="motivo" column="motivo" />
        <result property="encuesta" column="encuesta" />
        <result property="cartaRenuncia" column="cartaRenuncia" />
        <result property="cartaDespido" column="cartaDespido" />
        <result property="liquidacion" column="liquidacion" />
        <result property="compensacionGracia" column="compensacionGracia" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" /> 
        <result property="modiPor" column="modiPor" /> 
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        <!--1 idPersonal-->                
        <association property="personalBean" column="idPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
    </resultMap>
        
    <select id="obtenerPersonalDesvinculacionPorPersonal" resultMap="personalDesvinculacionResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCamposDesvinculacion" />
        where per.idPersonal=#{idPersonal} and uni.unineg=#{unidadNegocioBean.uniNeg} 
    </select>
    <select id="obtenerPersonalDesvinculacionPorId" resultMap="personalDesvinculacionResultado" parameterType="pe.marista.sigma.bean.PersonalDesvinculacionBean">
        <include refid="consultaCamposDesvinculacion" />
        where desv.idPersonalDesvinculacion=#{idPersonalDesvinculacion} and uni.unineg=#{unidadNegocioBean.uniNeg}
    </select>  
    <select id="obtenerPersonalHorasTrabajadas" parameterType="map" resultType="String">
        declare @horasalida datetime
        declare @horaentrada datetime

        set @horasalida = #{horaSalida}
        set @horaentrada =#{horaEntrada}
        select concat(right('00'+replace(datepart(HOUR,isnull(@horaentrada,''))-datepart(HOUR,isnull(@horasalida,'')),'-',''),2),':',right('00'+replace(datepart(MINUTE,isnull(@horaentrada,''))-datepart(MINUTE,isnull(@horasalida,'')),'-',''),2) )
        
    </select>
    <select id="obtenerPersonalTiempoContrato" parameterType="map" resultType="String">
        declare @periodo int
        declare @idPersonal int 
        set @periodo = #{periodo}
        set @idPersonal =#{idPersonal}
        ;with lista(diasTrabajo,anio)
        as
        (select   
        (case when (DATEDIFF(DAY, min(fecini), MAX(fecfin)) + 1)=365 then 365
        when (DATEDIFF(DAY, min(fecini), MAX(fecfin)) + 1)=366 then 366
        else cast(convert(varchar(20),(DATEDIFF(DAY, min(fecini), MAX(fecfin)) + 1)) as integer)
        end),periodo
        FROM mo_personalcontrato O 
        WHERE periodo=@periodo
        AND idpersonal=@idPersonal
        group by periodo   )
        select
        (case when l.diasTrabajo in(365,366) then '1 AÑO DEL ' +convert(varchar(4),anio)  
        else convert(varchar(20),sum(diasTrabajo))+' DÍAS DEL ' +  convert(varchar(4),anio)     end)
        from lista l
        group by diasTrabajo,anio
    </select>
    <select id="obtenerPersonalTotalHorasTrabajadas" resultType="String" parameterType="map">
        declare @idPersonal int=#{idPersonal} , @idPersonalContrato int=#{idPersonalContrato}
        ;with lista (hora)
        as 
        (
        select concat(right('00'+replace(datepart(HOUR,isnull(horainilunes,''))-datepart(HOUR,isnull(horafinlunes,'')),'-',''),2),':',right('00'+replace(datepart(MINUTE,isnull(horainilunes,''))-datepart(MINUTE,isnull(horafinlunes,'')),'-',''),2) ) from MO_PersonalContrato 
        where idpersonal=@idPersonal and idpersonalcontrato=@idPersonalContrato
        union all
        select concat(right('00'+replace(datepart(HOUR,isnull(horainimartes,''))-datepart(HOUR,isnull(horafinmartes,'')),'-',''),2),':',right('00'+replace(datepart(MINUTE,isnull(horainimartes,''))-datepart(MINUTE,isnull(horafinmartes,'')),'-',''),2) ) from MO_PersonalContrato 
        where idpersonal=@idPersonal and idpersonalcontrato=@idPersonalContrato
        union all
        select concat(right('00'+replace(datepart(HOUR,isnull(horainimiercoles,''))-datepart(HOUR,isnull(horafinmiercoles,'')),'-',''),2),':',right('00'+replace(datepart(MINUTE,isnull(horainimiercoles,''))-datepart(MINUTE,isnull(horafinmiercoles,'')),'-',''),2) ) from MO_PersonalContrato 
        where idpersonal=@idPersonal and idpersonalcontrato=@idPersonalContrato
        union all
        select concat(right('00'+replace(datepart(HOUR,isnull(horainiJueves,''))-datepart(HOUR,isnull(horafinjueves,'')),'-',''),2),':',right('00'+replace(datepart(MINUTE,isnull(horainijueves,''))-datepart(MINUTE,isnull(horafinjueves,'')),'-',''),2) ) from MO_PersonalContrato 
        where idpersonal=@idPersonal and idpersonalcontrato=@idPersonalContrato
        union all
        select concat(right('00'+replace(datepart(HOUR,isnull(horainiViernes,''))-datepart(HOUR,isnull(horafinViernes,'')),'-',''),2),':',right('00'+replace(datepart(MINUTE,isnull(horainiViernes,''))-datepart(MINUTE,isnull(horafinViernes,'')),'-',''),2) ) from MO_PersonalContrato 
        where idpersonal=@idPersonal and idpersonalcontrato=@idPersonalContrato
        union all
        select concat(right('00'+replace(datepart(HOUR,isnull(horainiSabado,''))-datepart(HOUR,isnull(horafinSabado,'')),'-',''),2),':',right('00'+replace(datepart(MINUTE,isnull(horainiSabado,''))-datepart(MINUTE,isnull(horafinSabado,'')),'-',''),2) ) from MO_PersonalContrato 
        where idpersonal=@idPersonal and idpersonalcontrato=@idPersonalContrato
        )
        select concat(right('00'+cast(sum(datepart(hour,hora) ) as varchar(2)),2),':',right('00'+ cast(sum(datepart(MINUTE,hora) ) as varchar(2)),2)) as horaTotal from lista 

    </select>
    <insert id="insertarPersonalDesvinculacion" parameterType="pe.marista.sigma.bean.PersonalDesvinculacionBean">
        INSERT INTO  MO_PersonalDesvinculacion
        (unineg,idPersonal,fechaDesvinculacion,motivo,encuesta,cartaRenuncia,
        cartaDespido,liquidacion,compensacionGracia,creaPor)
        Values (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{fechaDesvinculacion},#{motivo},
        #{encuesta},#{cartaRenuncia},#{cartaDespido},#{liquidacion},#{compensacionGracia},#{creaPor})
    </insert>                                                                                                       
     
    <update id="modificarPersonalDesvinculacion" parameterType="pe.marista.sigma.bean.PersonalDesvinculacionBean">
        Update MO_PersonalDesvinculacion set  
        fechaDesvinculacion=#{fechaDesvinculacion},
        motivo=#{motivo},
        encuesta=#{encuesta},
        cartaRenuncia=#{cartaRenuncia},
        cartaDespido=#{cartaDespido},
        modiPor=#{modiPor},
        liquidacion=#{liquidacion},
        compensacionGracia=#{compensacionGracia} 
        Where idPersonalDesvinculacion=#{idPersonalDesvinculacion} and  unineg=#{unidadNegocioBean.uniNeg}
    </update>
     
    <delete id="eliminarPersonalDesvinculacion" parameterType="pe.marista.sigma.bean.PersonalDesvinculacionBean">
        Delete From MO_PersonalDesvinculacion Where idPersonalDesvinculacion = #{idPersonalDesvinculacion} and unineg=#{unidadNegocioBean.uniNeg}
    </delete>
    
    
    <!-- -->
    <sql id="consultaCamposVacaciones">
        select 
	uni.unineg as uniNegP,
	per.idpersonal as idPersonal,
	vaca.idpersonalvacaciones as idPersonalVacaciones, 
	vaca.periodo as periodo,
	vaca.fecini as fecIni,
	vaca.fecfin as fecFin,
	vaca.creapor as creaPor,
	vaca.creafecha as creaFecha,
	vaca.modipor as modiPor,
	vaca.obs 
	from MO_PersonalVacaciones vaca
	inner join MO_UnidadNegocio uni on uni.unineg=vaca.unineg
	inner join MO_Personal per on per.idpersonal=vaca.idpersonal 
    </sql>
    <resultMap id="personalVacacionesResultado" type="pe.marista.sigma.bean.PersonalVacacionesBean">
        <id property="idPersonalVacaciones" column="idPersonalVacaciones" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" />
        <result property="periodo" column="periodo" />
        <result property="fecIni" column="fecIni" />
        <result property="fecFin" column="fecFin" /> 
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" /> 
        <result property="modiPor" column="modiPor" /> 
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        <!--1 idPersonal-->                
        <association property="personalBean" column="idPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/> 
    </resultMap> 
    <select id="obtenerPersonalVacacionesPorPersonal" resultMap="personalVacacionesResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCamposVacaciones" />
        where per.idPersonal=#{idPersonal} and uni.unineg=#{unidadNegocioBean.uniNeg} 
    </select>
    <select id="obtenerPersonalVacacionesPorId" resultMap="personalVacacionesResultado" parameterType="pe.marista.sigma.bean.PersonalVacacionesBean">
        <include refid="consultaCamposVacaciones" />
        where vaca.idPersonalVacaciones=#{idPersonalVacaciones} and uni.unineg=#{unidadNegocioBean.uniNeg}
    </select>  
    <insert id="insertarPersonalVacaciones" parameterType="pe.marista.sigma.bean.PersonalVacacionesBean">
        INSERT INTO  MO_PersonalVacaciones
        (unineg,idPersonal,periodo,fecini,fecfin,obs, 
        creaPor)
        Values (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{periodo},
        #{fecIni},#{fecFin},#{obs},#{creaPor})
    </insert>                                                                                                       
     
    <update id="modificarPersonalVacaciones" parameterType="pe.marista.sigma.bean.PersonalVacacionesBean">
        Update MO_PersonalVacaciones set  
        periodo=#{periodo},
        fecini=#{fecIni},
        fecfin=#{fecFin},
        obs=#{obs}, 
        modiPor=#{modiPor} 
        Where idPersonalVacaciones=#{idPersonalVacaciones} and  unineg=#{unidadNegocioBean.uniNeg}
    </update>
     
    <delete id="eliminarPersonalVacaciones" parameterType="pe.marista.sigma.bean.PersonalVacacionesBean">
        Delete From MO_PersonalVacaciones Where idPersonalVacaciones = #{idPersonalVacaciones} and unineg=#{unidadNegocioBean.uniNeg}
    </delete>
</mapper>
