<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.marista.sigma.dao.PersonalFormacionDAO">
    <sql id="consultaCamposForSuperior">
        SELECT
        PFOR.idPersonalFormacion
        ,pfor.unineg as uniNegP
        ,PFOR.idPersonal 
        ,PFOR.idGradoAcademico
        ,PFOR.idCarrera
        ,PFOR.ruc
        ,PFOR.otraCarrera
        ,PFOR.mesIni
        ,PFOR.mesFin
        ,PFOR.anoIni
        ,PFOR.anoFin
        ,PFOR.obs
        ,PFOR.idPais
        ,PFOR.flgGrado
        ,PFOR.flgTitulo
        ,PFOR.descripcionGrado
        ,PFOR.nombreTitulo
        ,PFOR.creaPor
        ,PFOR.creaFecha
        
        ,CAR.idCarrera as idCAR
        ,CAR.carrera as nombreCarrera
        ,car.idCarreraSubArea
        
        ,csa.idCarreraSubArea as idCSA
        ,csa.subArea as nombreSA
        ,csa.idCarreraArea
        
        ,ca.idCarreraArea as idCA
        ,ca.idGradoAcademico
        ,ga.idNivelAcademico
        , ca.area as nombreArea
       
        ,GA.idGradoAcademico as  idGA
        ,GA.nombre as nombreGA
        ,ga.idNivelAcademico
        
        ,na.idNivelAcademico as idNA
        ,na.nombre as nomNA
        ,na.idTipoFormacion

        ,tf.idTipoFormacion as idTF
        ,tf.nombre as nomTF
           
        ,ENT.ruc as idruc
        ,ENT.nombre as  nombreEntidad
        
        ,PA.idPais AS idPAI
        ,PA.nombre as nombrePais,
        PFOR.nombreinstitucion as nombreInstitucion,
        pfor.nombrecarrera as nombreCarrera,
        tipoMod.idcodigo as idTipoModalidad,
        tipoMod.codigo as tipoModalidad
        FROM MO_PersonalFormacion PFOR
        Inner JOIN MO_Personal            PER    on PFOR.idPersonal=PER.idPersonal and per.unineg=pfor.unineg
        LEFT JOIN MO_Carrera            CAR    on PFOR.idCarrera=CAR.idCarrera
        LEFT Join MO_CarreraSubArea     csa    ON csa.idCarreraSubArea=CAR.idCarreraSubArea
        LEFT Join MO_CarreraArea        ca     ON ca.idCarreraArea=csa.idCarreraArea
        LEFT Join MX_GradoAcademico     GA     on PFOR.idGradoAcademico=GA.idGradoAcademico
        Inner join MX_NivelAcademico     NA     on PFOR.idNivelAcademico=na.idNivelAcademico
        Inner join MX_TipoFormacion      TF     on tf.idTipoFormacion =na.idTipoFormacion
        LEFT JOIN MO_Entidad             ENT    on PFOR.ruc = ENT.ruc
        Inner JOIN MO_PAIS                PA     On PFOR.idPais = PA.idPais 
        LEFT join MO_Codigo tipoMod on tipoMod.idcodigo = PFOR.idtipomodalidad
    </sql>
    <sql id="consultaCamposForBasica">
        SELECT
        PFOR.idPersonalFormacion
        ,pfor.unineg as uniNegP
        ,PFOR.idPersonal 
        ,PFOR.idGradoAcademico
        ,PFOR.ruc
        ,PFOR.anoIni
        ,PFOR.anoFin
        ,PFOR.obs
        ,PFOR.idPais
        ,PFOR.creaPor
        ,PFOR.creaFecha
        ,GA.idGradoAcademico as  idGA
        ,GA.nombre as nombreGA
        ,na.idNivelAcademico as idNA
        ,na.nombre as nomNA
        ,na.idTipoFormacion 
        ,tf.idTipoFormacion as idTF
        ,tf.nombre as nomTF 
        ,ENT.ruc as idruc
        ,ENT.nombre as  nombreEntidad
        ,PA.idPais AS idPAI
        ,PA.nombre as nombrePais,
        pfor.flgmarista as flgMarista,
        tipoEs.idcodigo as idTipoEstudio,
        tipoes.codigo as tipoEstudio
        FROM MO_PersonalFormacion PFOR
        inner JOIN MO_Personal PER      on PFOR.idPersonal=PER.idPersonal
        inner JOIN MX_GradoAcademico GA on PFOR.idGradoAcademico=GA.idGradoAcademico
        inner join MX_NivelAcademico     NA     on ga.idNivelAcademico=na.idNivelAcademico
        inner join MX_TipoFormacion      TF     on tf.idTipoFormacion =na.idTipoFormacion
        inner JOIN MO_Entidad ENT       on PFOR.ruc = ENT.ruc
        inner JOIN MO_PAIS PA           on PFOR.idPais = PA.idPais
        LEFT join MO_Codigo tipoEs on tipoEs.idcodigo = PFOR.idtipoestudio 
    </sql>
    <sql id="consultaCamposForBasicaNew">
        SELECT
        PFOR.idPersonalFormacion
        ,pfor.unineg as uniNegP
        ,PFOR.idPersonal  
        ,PFOR.ruc
        ,PFOR.anoIni
        ,PFOR.anoFin
        ,PFOR.obs
        ,PFOR.idPais
        ,PFOR.creaPor
        ,PFOR.creaFecha 
        ,na.idNivelAcademico as idNA
        ,na.nombre as nomNA
        ,na.idTipoFormacion 
        ,tf.idTipoFormacion as idTF
        ,tf.nombre as nomTF  
        ,PA.idPais AS idPAI
        ,PA.nombre as nombrePais ,
        PFOR.nombreinstitucion as nombreInstitucion,
        pfor.flgmarista as flgMarista,
        tipoEs.idcodigo as idTipoEstudio,
        tipoes.codigo as tipoEstudio
        FROM MO_PersonalFormacion PFOR
        inner JOIN MO_Personal PER      on PFOR.idPersonal=PER.idPersonal 
        inner join MX_NivelAcademico     NA     on PFOR.idNivelAcademico=na.idNivelAcademico
        inner join MX_TipoFormacion      TF     on tf.idTipoFormacion =na.idTipoFormacion 
        inner JOIN MO_PAIS PA           on PFOR.idPais = PA.idPais 
        LEFT join MO_Codigo tipoEs on tipoEs.idcodigo = PFOR.idtipoestudio 
    </sql> 
    <resultMap id="personalFormacionResultado" type="pe.marista.sigma.bean.PersonalFormacionBean">
        <id property="idPersonalFormacion" column="idPersonalFormacion" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" />
        <result property="otraCarrera" column="otraCarrera" />
        <result property="mesIni" column="mesIni" />
        <result property="mesFin" column="mesFin" />
        <result property="anioIni" column="anoIni" />
        <result property="anioFin" column="anoFin" />
        <result property="obs" column="obs" />
        <result property="flgGrado" column="flgGrado" />
        <result property="flgTitulo" column="flgTitulo" />
        <result property="descripcionGrado" column="descripcionGrado" />
        <result property="nombreTitulo" column="nombreTitulo" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="nombreInstitucion" column="nombreInstitucion" /> 
        <result property="nombreCarrera" column="nombreCarrera" /> 
        <result property="flgMarista" column="flgMarista" /> 
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        
        <!--1 idPersonal-->                
        <association property="personalBean" column="idPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
        
        <!--2 idGradoAcademico-->
        <association property="gradoAcademicoBean" column="idGradoAcademico" 
                     javaType="pe.marista.sigma.bean.GradoAcademicoBean" 
                     resultMap="gradoAcademicoResultado"/>
        
        <!--3 idCarrera-->
        <association property="carreraBean" column="idCarrera" 
                     javaType="pe.marista.sigma.bean.CarreraBean" 
                     resultMap="carreraResultado"/>
        
        <!--4 ruc-->
        <association property="entidadBean" column="ruc" 
                     javaType="pe.marista.sigma.bean.EntidadBean" 
                     resultMap="entidadResultado"/>
             
        <!--5 idPais-->     
        <association property="paisBean" column="idPais"
                     javaType="pe.marista.sigma.bean.PaisBean"
                     resultMap="paisResultado"/>
        <!--6 idNivelAca-->     
        <association property="nivelAcademicoBean" column="idNivelAcademico"
                     javaType="pe.marista.sigma.bean.PaisBean"
                     resultMap="nivelResultado"/>
        
        <association property="tipoEstudioBean" column="idTipoEstudio"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoEstudiosResultado"/>
        <association property="tipoModalidadBean" column="idTipoModalidad"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoModalidadResultado"/>
    </resultMap>
    
    <resultMap id="tipoEstudiosResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoEstudio"/>
        <result property="codigo" column="tipoEstudio"/> 
    </resultMap>
    <resultMap id="tipoModalidadResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoModalidad"/>
        <result property="codigo" column="tipoModalidad"/> 
    </resultMap>
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegP"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/> 
    </resultMap>
    <!--1 idPersonal-->         
    <resultMap id="personalResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idPersonal"/>
        <result property="codPer" column="codPer" />
        <result property="nombre" column="nombre" />
        <result property="apepat" column="apepat" />
        <result property="apemat" column="apemat" />
    </resultMap>
    
    <!-- Grado Academico -->
    <resultMap id="gradoAcademicoResultado" type="pe.marista.sigma.bean.GradoAcademicoBean">
        <id property="idGradoAcademico" column="idGradoAcademico"/>
        <result property="nombre" column="nombreGA"/>
        <association property="nivelAcademicoBean" column="idNA"
                     javaType="pe.marista.sigma.bean.NivelAcademicoBean"
                     resultMap="nivelResultado"/>
    </resultMap>
    <resultMap id="nivelResultado" type="pe.marista.sigma.bean.NivelAcademicoBean">
        <id property="idNivelAcademico" column="idNA"/>
        <result property="nombre" column="nomNA"/>
        <association property="tipoFormacionBean" column="idTF"
                     javaType="pe.marista.sigma.bean.TipoFormacionBean"
                     resultMap="tipoResultado"/>
    </resultMap>
    <resultMap id="tipoResultado" type="pe.marista.sigma.bean.TipoFormacionBean">
        <id property="idTipoFormacion" column="idTF"/>
        <result property="nombre" column="nomTF"/>
    </resultMap>
    
    <!--3 idCarrera-->
    <resultMap id="carreraResultado" type="pe.marista.sigma.bean.CarreraBean">
        <id property="idCarrera" column="idCarrera"/>
        <result property="carrera" column="nombreCarrera"/>
        <association property="carreraSubAreaBean" column="idCSA"
                     javaType="pe.marista.sigma.bean.CarreraSubAreaBean"
                     resultMap="carreraSubAreaResultado"/>
    </resultMap>
    <!-- Carrera SubArea -->
    <resultMap id="carreraSubAreaResultado" type="pe.marista.sigma.bean.CarreraSubAreaBean">
        <id property="idCarreraSubArea" column="idCSA"/>
        <result property="subArea" column="nombreSA"/>  
        <association property="carreraAreaBean" column="idCA"
                     javaType="pe.marista.sigma.bean.CarreraAreaBean"
                     resultMap="carreraAreaResultado"/>
    </resultMap>
    <!-- Carrera Area -->
    <resultMap id="carreraAreaResultado" type="pe.marista.sigma.bean.CarreraAreaBean">
        <id property="idCarreraArea" column="idCA"/>
        <result property="area" column="nombreArea"/>  
        <result property="idNivelAcademico" column="idNivelAcademico"/>  
        <association property="gradoAcademicoBean" column="idGA"
                     javaType="pe.marista.sigma.bean.GradoAcademicoBean"
                     resultMap="gradoAcademicoResultado"/>
    </resultMap>
    
    <!--4 ruc-->
    <resultMap id="entidadResultado" type="pe.marista.sigma.bean.EntidadBean">
        <id property="ruc" column="idruc" />
        <result property="nombre" column="nombreEntidad" />
    </resultMap>  
     
    <!--5 idPais-->     
    <resultMap id="paisResultado" type="pe.marista.sigma.bean.PaisBean">
        <id property="idPais" column="idPAI"/>
        <result property="nombre" column="nombrePais"/>
    </resultMap> 
    
    <select id="obtenerPersonalFormacionSuperiorPorPersonal" resultMap="personalFormacionResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCamposForSuperior" />
        where PFOR.idPersonal=#{idPersonal} and (case when tf.nombre is not null then tf.nombre else '' end)!='Básica'  and PFOR.unineg=#{unidadNegocioBean.uniNeg}
    </select>
    <select id="obtenerPersonalFormacionBasicaPorPersonal" resultMap="personalFormacionResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCamposForBasicaNew" />
        where PFOR.idPersonal=#{idPersonal} and (case when tf.nombre is not null then tf.nombre else '' end)='Básica'   and PFOR.unineg=#{unidadNegocioBean.uniNeg} 
    </select>
    <select id="obtenerPersonalFormacionBasicaPorPersonalNew" resultMap="personalFormacionResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCamposForBasicaNew" />
        where PFOR.idPersonal=#{idPersonal} and (case when tf.nombre is not null then tf.nombre else '' end)='Básica'   and PFOR.unineg=#{unidadNegocioBean.uniNeg} 
    </select>
 
    <select id="obtenerPersonalFormacionSuperiorPorId" resultMap="personalFormacionResultado" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        <include refid="consultaCamposForSuperior" />
        where PFOR.idPersonalFormacion=#{idPersonalFormacion}  and PFOR.unineg=#{unidadNegocioBean.uniNeg}
    </select>
    <select id="obtenerPersonalFormacionBasicaPorId" resultMap="personalFormacionResultado" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        <include refid="consultaCamposForBasicaNew" />
        where PFOR.idPersonalFormacion=#{idPersonalFormacion}  and PFOR.unineg=#{unidadNegocioBean.uniNeg}
    </select>
    
     
    <insert id="insertarPersonalFormacionSuperior" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        INSERT INTO  MO_PersonalFormacion
        (unineg,idPersonal,idGradoAcademico,idCarrera,ruc,otraCarrera,mesIni,mesFin,anoIni,anoFin,
        obs,idPais,flgGrado,flgTitulo,descripcionGrado,nombreTitulo,creaPor,nombreinstitucion,idnivelacademico,idtipomodalidad
        ,flgproceso,flgsoloconcluido)
        Values (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{gradoAcademicoBean.idGradoAcademico},#{carreraBean.idCarrera},
        #{entidadBean.ruc},#{otraCarrera},#{mesIni},#{mesFin},#{anioIni},#{anioFin},#{obs},#{paisBean.idPais},
        #{flgGrado},#{flgTitulo},#{descripcionGrado},#{nombreTitulo},#{creaPor},#{nombreInstitucion}
        ,#{nivelAcademicoBean.idNivelAcademico},#{tipoModalidadBean.idCodigo},#{flgProceso},#{flgSoloConcluido})
    </insert>                                                                                                       
    <insert id="insertarPersonalFormacionBasica" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        INSERT INTO  MO_PersonalFormacion
        (unineg,idPersonal,idGradoAcademico,ruc,anoIni,anoFin,obs,idPais,creaPor,nombreinstitucion,idnivelacademico,
        nombrecarrera,flgmarista,idtipoestudio)
        Values 
        (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{gradoAcademicoBean.idGradoAcademico},
        #{entidadBean.ruc},#{anioIni},#{anioFin},#{obs},#{paisBean.idPais},#{creaPor},#{nombreInstitucion}
        ,#{nivelAcademicoBean.idNivelAcademico},#{nombreCarrera},#{flgMarista},#{tipoEstudioBean.idCodigo})
    </insert>                                                                                                       
    
    <update id="modificarPersonalFormacionSuperior" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        Update MO_PersonalFormacion set
        idGradoAcademico = #{gradoAcademicoBean.idGradoAcademico}
        ,idCarrera = #{carreraBean.idCarrera}
        ,ruc = #{entidadBean.ruc}
        ,otraCarrera = #{otraCarrera}
        ,mesIni = #{mesIni}
        ,mesFin = #{mesFin}
        ,anoIni = #{anioIni}
        ,anoFin = #{anioFin}
        ,obs = #{obs}
        ,idPais = #{paisBean.idPais}
        ,flgGrado = #{flgGrado}
        ,flgTitulo = #{flgTitulo}
        ,descripcionGrado = #{descripcionGrado}
        ,nombreTitulo = #{nombreTitulo}
        ,modiPor=#{modiPor}
        ,nombreinstitucion=#{nombreInstitucion}
        ,idnivelacademico=#{nivelAcademicoBean.idNivelAcademico}
        , nombrecarrera= #{nombreCarrera} ,
        ,idtipomodalidad=#{tipoModalidadBean.idCodigo},
        flgproceso=#{flgProceso},flgsoloconcluido=#{flgSoloConcluido}
        where idPersonalFormacion=#{idPersonalFormacion} and unineg=#{unidadNegocioBean.uniNeg}
    </update>
    <update id="modificarPersonalFormacionBasica" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        Update MO_PersonalFormacion set
        idGradoAcademico = #{gradoAcademicoBean.idGradoAcademico}
        ,ruc = #{entidadBean.ruc}
        ,anoIni = #{anioIni}
        ,anoFin = #{anioFin}
        ,obs = #{obs}
        ,idPais = #{paisBean.idPais}
        ,modiPor=#{modiPor}
        ,nombreinstitucion=#{nombreInstitucion}
        ,idnivelacademico=#{nivelAcademicoBean.idNivelAcademico}
        ,flgmarista}=#{flgMarista},idtipoestudio=#{tipoEstudioBean.idCodigo}
        where idPersonalFormacion=#{idPersonalFormacion} and unineg=#{unidadNegocioBean.uniNeg}
    </update>
     
    <delete id="eliminarPersonalFormacionSuperior" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        Delete From MO_PersonalFormacion Where idPersonalFormacion = #{idPersonalFormacion} and unineg=#{unidadNegocioBean.uniNeg}
    </delete>
    <delete id="eliminarPersonalFormacionBasica" parameterType="pe.marista.sigma.bean.PersonalFormacionBean">
        Delete From MO_PersonalFormacion Where idPersonalFormacion = #{idPersonalFormacion} and unineg=#{unidadNegocioBean.uniNeg}
    </delete>
    <select  id="obtenerFormacionBasicaPorPersonalRep" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PersonalFormacionRepBean">
        SELECT
        upper(ISNULL(ent.nombre,'')) AS institucion,
        concat(convert(varchar(4),isnull(anoini,'')) ,' - ' ,convert(varchar(4),isnull(anofin,''))) as periodo,
        <!--upper(isnull(niv.nombre,'')) AS nivel,
        upper(isnull(gra.nombre,'')) as grado-->
        isnull(niv.nombre,'') AS nivel,
        isnull(gra.nombre,'') as grado
        FROM MO_PersonalFormacion PF
        LEFT JOIN MO_Entidad ent on ent.ruc = pf.ruc and ent.unineg=pf.unineg
        left join MX_GradoAcademico GRA ON GRA.idgradoacademico=PF.idgradoacademico
        LEFT JOIN MX_NivelAcademico NIV ON NIV.idnivelacademico=GRA.idnivelacademico
        LEFT JOIN MX_TipoFormacion FORM ON FORM.idtipoformacion=NIV.idtipoformacion
        where FORM.nombre='Básica'
        and pf.idpersonal=#{idPersonal} and pf.unineg=#{uniNeg}
        order by FORM.nombre,concat(convert(varchar(4),isnull(anoini,'')) ,' - ' ,convert(varchar(4),isnull(anofin,'')))
        
    </select>
    <select  id="obtenerFormacionSuperiorPorPersonalRep" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PersonalFormacionRepBean">
        SELECT 
        upper(ISNULL(ent.nombre,'')) AS institucion,  
        concat(convert(varchar(2),right(replicate('0', 1) + rtrim(isnull(pf.mesini,0)), 2)),'/',convert(varchar(4),isnull(pf.anoini,'')) ,' - ' ,convert(varchar(2),right(replicate('0', 1) + rtrim(isnull(pf.mesfin,0)), 2)),'/',convert(varchar(4),isnull(pf.anofin,''))) as periodo,
        isnull(niv.nombre,'') AS nivel,
        isnull(gra.nombre,'') as grado,
        (case when pf.flggrado=1 OR pf.descripciongrado IS NOT NULL then pf.descripciongrado else '' end) as descripGrado,
        (CASE WHEN car.carrera IS NOT NULL THEN 'CARRERA: '+isnull(car.carrera,pf.otracarrera) + (CASE WHEN PF.nombretitulo IS NOT NULL THEN ', TÍTULO: '+PF.nombretitulo ELSE ' ' END) ELSE ''END) AS textoCarreraTitulo
        <!--(CASE WHEN car.carrera IS NOT NULL THEN 'CARRERA: '+UPPER(isnull(car.carrera,pf.otracarrera)) + (CASE WHEN PF.nombretitulo IS NOT NULL THEN ', TÍTULO: '+PF.nombretitulo ELSE ' ' END) ELSE ''END) AS textoCarreraTitulo-->
        FROM MO_PersonalFormacion PF
        LEFT JOIN MO_Entidad ent on ent.ruc = pf.ruc and ent.unineg=pf.unineg
        left join MX_GradoAcademico GRA ON GRA.idgradoacademico=PF.idgradoacademico
        LEFT JOIN MX_NivelAcademico NIV ON NIV.idnivelacademico=GRA.idnivelacademico
        LEFT JOIN MX_TipoFormacion FORM ON FORM.idtipoformacion=NIV.idtipoformacion
        LEFT JOIN MO_Carrera car on car.idcarrera=pf.idcarrera
        where FORM.nombre!='Básica'
        and pf.idpersonal=#{idPersonal} and pf.unineg=#{uniNeg}
        order by FORM.nombre,concat(convert(varchar(2),right(replicate('0', 1) + rtrim(isnull(pf.mesini,0)), 2)),'/',convert(varchar(4),isnull(pf.anoini,'')) ,' - ' ,convert(varchar(2),right(replicate('0', 1) + rtrim(isnull(pf.mesfin,0)), 2)),'/',convert(varchar(4),isnull(pf.anofin,'')))
     </select>
     
     <sql id="consultaCamposForCarismatica">
        select uni.unineg as uniNegP,
        per.idpersonal as idPersonal,
        caris.idpersonalformacioncarisma as idPersonalFormacionCarisma,
        caris.fechaini as fechaIni,
        caris.fechafin as fechaFin, 
        caris.obs as obs,
        pa.idpais as idPais,    
        pa.nombre as nombrePais,
        caris.creapor as creaPor ,
        caris.creafecha as creaFecha,
        caris.modipor as modiPor, 
        caris.nombreinstitucion as nombreInstitucion,
        form.idcodigo as idTipoFormacion,
        form.codigo as tipoFormacion,
        caris.horas
        from MO_PersonalFormacionCarisma caris
        inner join MO_UnidadNegocio uni on uni.unineg=caris.unineg
        inner join MO_Personal per on per.idpersonal=caris.idpersonal
        inner join MO_Pais pa on pa.idpais=caris.idpais
        inner join MO_Codigo form on form.idcodigo=caris.idtipoformacion
    </sql>
      <resultMap id="personalFormacionCarismaResultado" type="pe.marista.sigma.bean.PersonalFormacionCarismaBean">
        <id property="idPersonalFormacionCarisma" column="idPersonalFormacionCarisma" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" /> 
        <result property="fechaIni" column="fechaIni" />
        <result property="fechaFin" column="fechaFin" />
        <result property="obs" column="obs" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="modiPor" column="modiPor" />
        <result property="nombreInstitucion" column="nombreInstitucion" />
        <result property="horas" column="horas" /> 
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>  
        <association property="personalBean" column="idPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
        <association property="paisBean" column="idPais"
                     javaType="pe.marista.sigma.bean.PaisBean"
                     resultMap="paisResultado"/>
        <association property="tipoFormacion" column="idTipoFormacion"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoFormacionResultado"/>
      </resultMap>
      <resultMap id="tipoFormacionResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoFormacion"/>
        <result property="codigo" column="tipoFormacion"/>
    </resultMap> 
    <insert id="insertarPersonalFormacionCarisma" parameterType="pe.marista.sigma.bean.PersonalFormacionCarismaBean">
        INSERT INTO  MO_PersonalFormacionCarisma
        (unineg,idPersonal,fechaIni,fechaFin,obs,idPais,creaPor,nombreinstitucion,idtipoformacion,horas)
        Values 
        (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{fechaIni},#{fechaFin},
        #{obs},#{paisBean.idPais},#{creaPor},#{nombreInstitucion}
        ,#{tipoFormacion.idCodigo},#{horas})
    </insert>      
    <update id="modificarPersonalFormacionCarisma" parameterType="pe.marista.sigma.bean.PersonalFormacionCarismaBean">
        Update MO_PersonalFormacionCarisma set
         fechaIni = #{fechaIni}
        ,fechaFin = #{fechaFin} 
        ,obs = #{obs}
        ,idPais = #{paisBean.idPais}
        ,modiPor=#{modiPor}
        ,nombreinstitucion=#{nombreInstitucion}
        ,idtipoformacion=#{tipoFormacion.idCodigo}
        ,horas=#{horas}
        where idPersonalFormacionCarisma=#{idPersonalFormacionCarisma} and unineg=#{unidadNegocioBean.uniNeg}
    </update>
      <delete id="eliminarPersonalFormacionCarisma" parameterType="pe.marista.sigma.bean.PersonalFormacionCarismaBean">
        Delete From MO_PersonalFormacionCarisma Where idPersonalFormacionCarisma = #{idPersonalFormacionCarisma} and unineg=#{unidadNegocioBean.uniNeg}
    </delete>
    <select id="obtenerPersonalFormacionCarismaID" resultMap="personalFormacionCarismaResultado" parameterType="pe.marista.sigma.bean.PersonalFormacionCarismaBean">
        <include refid="consultaCamposForCarismatica" />
        where caris.idPersonalFormacionCarisma=#{idPersonalFormacionCarisma}  and uni.unineg=#{unidadNegocioBean.uniNeg}
    </select>
     <select id="obtenerPersonalFormacionCarismaLista" resultMap="personalFormacionCarismaResultado" parameterType="pe.marista.sigma.bean.PersonalFormacionCarismaBean">
        <include refid="consultaCamposForCarismatica" />
        where per.idPersonal=#{personalBean.idPersonal} and uni.unineg=#{unidadNegocioBean.uniNeg} 
    </select>
</mapper>
