<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.marista.sigma.dao.PersonalOtrosEstudiosDAO">
    <sql id="consultaCamposOtrosEst">
        SELECT
        POTR.idPersonalOtrosEstudios
        ,POTR.idPersonal 
        ,POTR.uniNeg as uniNegP
        ,POTR.mesIni
        ,POTR.mesFin
        ,POTR.anoIni
        ,POTR.anoFin
        ,POTR.obs
        ,POTR.idPais 
        ,POTR.nroHoras
        ,POTR.nroCreditos
        ,POTR.creaPor
        ,POTR.creaFecha
        ,PA.idPais AS idPAI
        ,PA.nombre as nombrePais
        ,POTR.centroEstudio as centroEstudio1,
        tipoMod.idcodigo as idTipoModalidad,
        tipoMod.codigo as tipoModalidad,
        tipoEst.idcodigo as idTipoOtrosEstudios,
        tipoEst.codigo as tipoOtrosEstudios,
        POTR.flgcertificado as flgCertificado,
        POTR.nombrecertificado as nombreCertificado,
        POTR.financiamientopropio as financiamientoPropio,
        POTR.financiamientoinstitucional as financiamientoInstitucional,
        finan.idcodigo as idTipoFinanciamiento,
        finan.codigo as tipoFinanciamiento
        FROM MO_PersonalOtrosEstudios POTR
        Inner JOIN MO_Personal            PER    on POTR.idPersonal=PER.idPersonal and per.unineg=potr.unineg
        LEFT join MO_Codigo tipoMod on tipoMod.idcodigo = POTR.idtipomodalidad
        LEFT JOIN MO_PAIS                 PA     On POTR.idPais = PA.idPais
        left join MO_Codigo tipoEst on tipoEst.idcodigo = POTR.idtipootrosestudios
        left join MO_Codigo finan on finan.idCodigo = POTR.idtipofinanciamiento
    </sql>
    
    
    <resultMap id="personalOtrosEstudiosResultado" type="pe.marista.sigma.bean.PersonalOtrosEstudiosBean">
        <id property="idPersonalOtrosEstudios" column="idPersonalOtrosEstudios" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" />
        <result property="mesIni" column="mesIni" />
        <result property="mesFin" column="mesFin" />
        <result property="anioIni" column="anoIni" />
        <result property="anioFin" column="anoFin" />
        <result property="obs" column="obs" /> 
        <result property="nroHoras" column="nroHoras" />
        <result property="nroCreditos" column="nroCreditos" />
        <result property="centroEstudio" column="centroEstudio1" />
        <result property="modiPor" column="modiPor" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        
        <result property="flgCertificado" column="flgCertificado" />
        <result property="nombreCertificado" column="nombreCertificado" />
        <result property="financiamientoPropio" column="financiamientoPropio" />
        <result property="financiamientoInstitucional" column="financiamientoInstitucional" />
        
        <!--1 idPersonal-->                
        <association property="personalBean" column="idPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/> 
             
        <!--5 idPais-->     
        <association property="paisBean" column="idPais"
                     javaType="pe.marista.sigma.bean.PaisBean"
                     resultMap="paisResultado"/>
        
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        <association property="tipoModalidadBean" column="idTipoModalidad"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoModalidadResultado"/>
        <association property="tipoOtrosEstudiosBean" column="idTipoOtrosEstudios"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoOtrosEstudiosResultado"/>
        <association property="tipoFinanciamientoBean" column="idTipoFinanciamiento"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoFinanciamientoResultado"/>
    </resultMap>
    
     <resultMap id="tipoModalidadResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoModalidad"/>
        <result property="codigo" column="tipoModalidad"/> 
    </resultMap>
     <resultMap id="tipoOtrosEstudiosResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoOtrosEstudios"/>
        <result property="codigo" column="tipoOtrosEstudios"/> 
    </resultMap>
     <resultMap id="tipoFinanciamientoResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoFinanciamiento"/>
        <result property="codigo" column="tipoFinanciamiento"/> 
    </resultMap>
    
    <!--1 idPersonal-->         
    <resultMap id="personalResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idPersonal"/>
        <result property="codPer" column="codPer" />
        <result property="nombre" column="nombre" />
        <result property="apepat" column="apepat" />
        <result property="apemat" column="apemat" />
    </resultMap> 
     
    <!--5 idPais-->     
    <resultMap id="paisResultado" type="pe.marista.sigma.bean.PaisBean">
        <id property="idPais" column="idPAI"/>
        <result property="nombre" column="nombrePais"/>
    </resultMap>
    
    
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegP"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/> 
    </resultMap>
 
    <select id="obtenerPersonalOtrosEstudiosPorPersonal" resultMap="personalOtrosEstudiosResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCamposOtrosEst" />
        where POTR.idPersonal=#{idPersonal} AND POTR.unineg=#{unidadNegocioBean.uniNeg}
    </select>
     
    <select id="obtenerPersonalOtrosEstudiosPorId" resultMap="personalOtrosEstudiosResultado" parameterType="pe.marista.sigma.bean.PersonalOtrosEstudiosBean">
        <include refid="consultaCamposOtrosEst" />
        where POTR.idPersonalOtrosEstudios=#{idPersonalOtrosEstudios}  AND POTR.unineg=#{unidadNegocioBean.uniNeg}
    </select>
         
    <insert id="insertarPersonalOtrosEstudios" parameterType="pe.marista.sigma.bean.PersonalOtrosEstudiosBean">
        INSERT INTO  MO_PersonalOtrosEstudios
        (unineg,idPersonal,centroestudio,mesIni,mesFin,anoIni,anoFin,obs,idPais, nroHoras,nroCreditos,creaPor,idtipomodalidad,idtipootrosestudios,
        flgcertificado,nombrecertificado,idtipofinanciamiento,financiamientopropio,financiamientoinstitucional)
        Values 
        (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal},#{centroEstudio},#{mesIni},#{mesFin},#{anioIni},#{anioFin},#{obs},#{paisBean.idPais}
        ,#{nroHoras},#{nroCreditos},#{creaPor},#{tipoModalidadBean.idCodigo},#{tipoOtrosEstudiosBean.idCodigo},#{flgCertificado},#{nombreCertificado},
        #{tipoFinanciamientoBean.idCodigo},#{financiamientoPropio},#{financiamientoInstitucional})
    </insert>                                                                                                       
   
    <update id="modificarPersonalOtrosEstudios" parameterType="pe.marista.sigma.bean.PersonalOtrosEstudiosBean">
        Update MO_PersonalOtrosEstudios set
        centroEstudio = #{centroEstudio}
        ,mesIni = #{mesIni}
        ,mesFin = #{mesFin}
        ,anoIni = #{anioIni}
        ,anoFin = #{anioFin}
        ,obs = #{obs}
        ,idPais = #{paisBean.idPais} 
        ,nroHoras = #{nroHoras}
        ,nroCreditos = #{nroCreditos}
        ,modiPor=#{modiPor}
        , idtipomodalidad=#{tipoModalidadBean.idCodigo}
        ,idtipootrosestudios=#{tipoOtrosEstudiosBean.idCodigo},
        flgcertificado=#{flgCertificado},nombrecertificado=#{nombreCertificado},idtipofinanciamiento=#{tipoFinanciamientoBean.idCodigo},
        financiamientopropio=#{financiamientoPropio},financiamientoinstitucional=#{financiamientoInstitucional}
        where idPersonalOtrosEstudios=#{idPersonalOtrosEstudios}  AND  unineg=#{unidadNegocioBean.uniNeg}
    </update>
    
    <delete id="eliminarPersonalOtrosEstudios" parameterType="pe.marista.sigma.bean.PersonalOtrosEstudiosBean">
        Delete From MO_PersonalOtrosEstudios Where idPersonalOtrosEstudios = #{idPersonalOtrosEstudios} AND  unineg=#{unidadNegocioBean.uniNeg}
    </delete>
    <select  id="obtenerOtrosEstudiosPorPersonalRep" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PersonalOtrosEstudiosRepBean">
        SELECT  
        ISNULL(PO.centroestudio,'') AS institucion,  
        concat(convert(varchar(2),right(replicate('0', 1) + rtrim(isnull(PO.mesini,0)), 2)),'/',convert(varchar(4),isnull(pO.anoini,'')) ,' - ' ,convert(varchar(2),right(replicate('0', 1) + rtrim(isnull(PO.mesfin,0)), 2)),'/',convert(varchar(4),isnull(PO.anofin,''))) as periodo,
         (case when po.nrohoras<![CDATA[ < ]]>9 then right(replicate('0', 1) + rtrim(isnull(PO.nrocreditos,0)), 2) else convert(varchar,PO.nrocreditos) end) as nroCreditos,
        (case when po.nrohoras<![CDATA[ < ]]>9 then right(replicate('0', 1) + rtrim(isnull(PO.nrohoras,0)), 2) else convert(varchar,PO.nrohoras) end) as nroHoras
        FROM MO_PersonalOtrosEstudios PO        
        where po.idpersonal=#{idPersonal} and po.unineg=#{uniNeg}
        order by 2        
    </select> 
</mapper>
