<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.marista.sigma.dao.PersonalProcesoJudicialDAO">
    <sql id="consultaCampos">
        SELECT
        PPROJ.idPersonalProcesoJudicial
        ,PPROJ.uniNeg as uniNegP
        ,PPROJ.idPersonal
        ,PPROJ.idTipoProcesoJudicial  
        ,PPROJ.idTipoRetencion  
        ,PPROJ.idTipovalor  
        ,PPROJ.valor
        ,PPROJ.beneficiario
        ,PPROJ.cuenta
        ,PPROJ.fecIni
        ,PPROJ.fecFin
        ,PPROJ.idTipoModoPago  
        ,PPROJ.obs
        ,PPROJ.creaPor
        ,PPROJ.creaFecha
        ,PE.idPersonal as codIdPersonal
        ,CODTIPOPJ.idcodigo AS codTipPJ
        ,CODTIPOPJ.codigo AS tipoProcesoJudicial
        ,CODTIPORE.idcodigo AS codTipRE
        ,CODTIPORE.codigo AS tipoRetencion
        ,CODTIPOVA.idcodigo AS codTipVA
        ,CODTIPOVA.codigo AS tipoValor
        ,CODTIPOMO.idcodigo AS codTipMO
        ,CODTIPOMO.codigo AS tipoModoPago
        FROM MO_PersonalProcesoJudicial PPROJ
        leFT JOIN MO_PERSONAL PE ON PPROJ.idPersonal = PE.idPersonal   and PPROJ.unineg=pe.unineg
        LEFT JOIN MO_Codigo CODTIPOPJ ON PPROJ.idTipoProcesoJudicial = CODTIPOPJ.idcodigo 
        LEFT JOIN MO_Codigo CODTIPORE ON PPROJ.idTipoRetencion = CODTIPORE.idcodigo 
        LEFT JOIN MO_Codigo CODTIPOVA ON PPROJ.idTipovalor = CODTIPOVA.idcodigo 
        LEFT JOIN MO_Codigo CODTIPOMO ON PPROJ.idTipoModoPago = CODTIPOMO.idcodigo       
    </sql>
    <resultMap id="personalProcesoJudicialResultado" type="pe.marista.sigma.bean.PersonalProcesoJudicialBean">
        <id property="idPersonalProcesoJudicial" column="idPersonalProcesoJudicial" />
        <id property="unidadNegocioBean.uniNeg" column="uniNegP" />
        <result property="valor" column="valor" />
        <result property="beneficiario" column="beneficiario" />
        <result property="cuenta" column="cuenta" />
        <result property="fecIni" column="fecIni" />
        <result property="fecFin" column="fecFin" />
        <result property="obs" column="obs" />
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="modiPor" column="modiPor" />
        <association property="unidadNegocioBean" column="uniNegP"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>

        <!--1 idPersonal-->                
        <association property="personalBean" column="codIdPersonal"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
        <!--2 idtipoProcesoJudicial-->
        <association property="tipoProcesoJudicialBean" column="codTipPJ"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoProcesoJudicialResultado"/>
        <!--3 idTipoRetencion-->
        <association property="tipoRetencionBean" column="codTipRE"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoRetencionResultado"/>
        <!--4 idTipoValor-->
        <association property="tipoValorBean" column="codTipVA"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoValorResultado"/>
        <!--5 idTipoModoPago-->
        <association property="tipoModoPagoBean" column="codTipMO"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoModoPagoResultado"/>              
    </resultMap>
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegP"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/> 
    </resultMap>
    
    <!--1 idPersonal-->         
    <resultMap id="personalResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="codIdPersonal"/>
        <result property="codPer" column="codPer" />
        <result property="nombre" column="nombre" />
        <result property="apepat" column="apepat" />
        <result property="apemat" column="apemat" />
    </resultMap>
    <!--2 idTipoProcesoJudicial-->
    <resultMap id="tipoProcesoJudicialResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codTipPJ"/>
        <result property="codigo" column="tipoProcesoJudicial"/>  
    </resultMap>
    
    <!--3 idTipoRetencion-->
    <resultMap id="tipoRetencionResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codTipRE"/>
        <result property="codigo" column="tipoRetencion"/>  
    </resultMap>
    
    <!--4 idTipoValor-->
    <resultMap id="tipoValorResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codTipVA"/>
        <result property="codigo" column="tipoValor"/>  
    </resultMap>
    
    <!--5 idTipoModoPago-->
    <resultMap id="tipoModoPagoResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="codTipMO"/>
        <result property="codigo" column="tipoModoPago"/>  
    </resultMap>
     
       
    <select id="obtenerPersonalProcesoJudicialPorPersonal" resultMap="personalProcesoJudicialResultado" parameterType="pe.marista.sigma.bean.PersonalBean">
        <include refid="consultaCampos" />
        where PPROJ.idPersonal=#{idPersonal} and pproj.unineg=#{unidadNegocioBean.uniNeg}
    </select>
    <select id="obtenerPersonalProcesoJudicialPorId" resultMap="personalProcesoJudicialResultado" parameterType="pe.marista.sigma.bean.PersonalProcesoJudicialBean">
        <include refid="consultaCampos" />
        where PPROJ.idPersonalProcesoJudicial=#{idPersonalProcesoJudicial} and pproj.unineg=#{unidadNegocioBean.uniNeg}
    </select>
     
    <insert id="insertarPersonalProcesoJudicial" parameterType="pe.marista.sigma.bean.PersonalProcesoJudicialBean">
        INSERT INTO  MO_PersonalProcesoJudicial
        (unineg,idPersonal,idTipoProcesoJudicial,idTipoRetencion,idTipovalor,valor,beneficiario,
        cuenta,fecIni,fecFin,idTipoModoPago,obs,creaPor)
        Values (#{unidadNegocioBean.uniNeg},#{personalBean.idPersonal}, #{tipoProcesoJudicialBean.idCodigo},#{tipoRetencionBean.idCodigo},#{tipoValorBean.idCodigo},#{valor},#{beneficiario},
        #{cuenta},#{fecIni},#{fecFin},#{tipoModoPagoBean.idCodigo},#{obs},#{creaPor})
    </insert>
                                                                                                           
    <update id="modificarPersonalProcesoJudicial" parameterType="pe.marista.sigma.bean.PersonalProcesoJudicialBean">
        Update MO_PersonalProcesoJudicial set
        idTipoProcesoJudicial = #{tipoProcesoJudicialBean.idCodigo}
        ,idTipoRetencion = #{tipoRetencionBean.idCodigo}
        ,idTipovalor = #{tipoValorBean.idCodigo}
        ,valor = #{valor}
        ,beneficiario = #{beneficiario}
        ,cuenta = #{cuenta}
        ,fecIni = #{fecIni}
        ,fecFin = #{fecFin}
        ,idTipoModoPago = #{tipoModoPagoBean.idCodigo}
        ,obs = #{obs}
        ,modiPor=#{modiPor}
        Where idPersonalProcesoJudicial=#{idPersonalProcesoJudicial} and  unineg=#{unidadNegocioBean.uniNeg}
    </update>
    
    <delete id="eliminarPersonalProcesoJudicial" parameterType="pe.marista.sigma.bean.PersonalProcesoJudicialBean">
        Delete From MO_PersonalProcesoJudicial Where idPersonalProcesoJudicial = #{idPersonalProcesoJudicial} and  unineg=#{unidadNegocioBean.uniNeg}
    </delete>
    
    <select  id="obtenerProcesoJudicialPorPersonalRep" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PersonalProcesoJudicialRepBean">
        SELECT   
        upper(ISNULL(pjud.beneficiario,'')) AS beneficiario,
        isnull(tipPro.codigo,'') as tipoProceso, 
        pjud.cuenta,
        isnull(tipVal.codigo,'') as tipoValor,  
        CONVERT(varchar, CAST(isnull( pjud.valor,0) AS money), 1)  as valor,
        isnull(tipMod.codigo,'') as tipoModoPago,
        (case when pjud.fecini is null then '  / /  ' else (SELECT CONVERT(VARCHAR(10),  pjud.fecini, 103))  end) +' - '+  (case when pjud.fecfin is null then '  / /  ' else (SELECT CONVERT(VARCHAR(10),  pjud.fecfin, 103))  end) as periodo
        FROM MO_PersonalProcesoJudicial pjud 
        left join MO_Codigo tipPro on tipPro.idcodigo=pjud.idtipoprocesojudicial
        left join MO_Codigo tipRet on tipRet.idcodigo=pjud.idtiporetencion
        left join MO_Codigo tipVal on tipVal.idcodigo=pjud.idtipovalor 
        left join MO_Codigo tipMod on tipMod.idcodigo=pjud.idtipomodopago 
        where pjud.idpersonal=#{idPersonal} and pjud.unineg=#{uniNeg}
        order by 2        
    </select>
</mapper>
