<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.marista.sigma.dao.PlanillaDAO">
    
    <sql id="consultaCampos" > 
        select
        p.[unineg],p.idPlanilla
        ,p.[anio],p.[mes],p.[codigo],p.[empleado],p.[cargo],p.[nombreafp],p.[cuis]
        ,p.[sexo],p.[fecingreso],p.[laboracion]
        
        ,p.[col1],p.[col2],p.[col3],p.[col4]
        ,p.[col5],p.[col6],p.[col7],p.[col8]
        ,p.[col9],p.[col10],p.[col11],p.[col12]
        ,p.[col13],p.[col14],p.[col15] ,p.[col16]
        ,p.[col17],p.[col18],p.[col19],p.[col20]
        ,p.[col21],p.[col22],p.[col23],p.[col24]
        
        ,p.[coll1],p.[coll2],p.[coll3],p.[coll4]
        ,p.[coll5],p.[coll6],p.[coll7],p.[coll8]
        ,p.[coll9],p.[coll10],p.[coll11],p.[coll12]
        ,p.[coll13],p.[coll14],p.[coll15],p.[coll16]
        ,p.[coll17],p.[coll18],p.[coll19],p.[coll20]
        ,p.[coll21],p.[coll22],p.[coll23],p.[coll24]
        
        ,p.[colll1],p.[colll2],p.[colll3],p.[colll4]
        ,p.[colll5],p.[colll6],p.[colll7],p.[colll8]
        ,p.[colll9],p.[colll10],p.[colll11],p.[colll12]
        ,p.[colll13],p.[colll14],p.[colll15],p.[colll16]
        ,p.[creapor],p.[creafecha],p.[modipor],p.[modifecha],p.[modiver]
        ,per.codper,per.apepat,per.apemat,per.nrodoc
        ,u.unineg,u.nombreUniNeg,u.fecfundacion,u.RUC, (isnull(col23,0)+isnull(colll1,0)+isnull(col24,0)) as totalPersonal
        FROM [dbo].[MO_Planilla] p
        inner join MO_Personal per on p.codigo = per.codper and p.unineg = per.unineg 
        inner join MO_UnidadNegocio u on p.unineg = u.unineg and per.unineg = u.unineg
    </sql>
    <sql id="consultaCampos2" > 
        select
        p.[unineg],p.idPlanilla
        ,p.[anio],p.[mes],p.[codigo],p.[empleado],p.[cargo],p.[nombreafp],p.[cuis]
        ,p.[sexo],p.[fecingreso],p.[laboracion]
        
        ,p.[col1],p.[col2],p.[col3],p.[col4]
        ,p.[col5],p.[col6],p.[col7],p.[col8]
        ,p.[col9],p.[col10],p.[col11],p.[col12]
        ,p.[col13],p.[col14],p.[col15] ,p.[col16]
        ,p.[col17],p.[col18],p.[col19],p.[col20]
        ,p.[col21],p.[col22],p.[col23],p.[col24]
        
        ,p.[coll1],p.[coll2],p.[coll3],p.[coll4]
        ,p.[coll5],p.[coll6],p.[coll7],p.[coll8]
        ,p.[coll9],p.[coll10],p.[coll11],p.[coll12]
        ,p.[coll13],p.[coll14],p.[coll15],p.[coll16]
        ,p.[coll17],p.[coll18],p.[coll19],p.[coll20]
        ,p.[coll21],p.[coll22],p.[coll23],p.[coll24]
        
        ,p.[colll1],p.[colll2],p.[colll3],p.[colll4]
        ,p.[colll5],p.[colll6],p.[colll7],p.[colll8]
        ,p.[colll9],p.[colll10],p.[colll11],p.[colll12]
        ,p.[colll13],p.[colll14],p.[colll15],p.[colll16]
        ,p.[creapor],p.[creafecha],p.[modipor],p.[modifecha],p.[modiver] 
        ,u.unineg,u.nombreUniNeg,u.fecfundacion,u.RUC, (isnull(col23,0)+isnull(colll1,0)+isnull(col24,0)) as totalPersonal
        FROM [dbo].[MO_Planilla] p 
        inner join MO_UnidadNegocio u on p.unineg = u.unineg  
    </sql>
    
    <resultMap id="planillaResultado" type="pe.marista.sigma.bean.PlanillaBean" >
        <id property="idPlanilla" column="idPlanilla"/>
        <result property="empleado" column="empleado" />
        <result property="codigo" column="codigo" />
        <result property="cargo" column="cargo" />
        <result property="horas" column="horas" />
        <result property="laboracion" column="laboracion" />
        <result property="fechaSubida" column="fechaSubida" />
        <result property="fechaAyuda" column="fechaAyuda" />
        
        <!-- PRIMERA PARTE -->
        <result property="remuneracion" column="col1" />
        <result property="bonificacion" column="col2" />
        <result property="aisgFam" column="col3" />
        <result property="boniCargo" column="col4" />
        <result property="boniReg" column="col7" />
        <result property="adl1" column="col8" />
        <result property="adl2" column="col9" />
        <result property="evaluacion" column="col10" />
        <result property="nivelacion" column="col11" />
        <result property="heFijas" column="col12" />
        <result property="heVar" column="col13" />
        <result property="compVac" column="col17" />
        <result property="remVac" column="col18" />
        <result property="asigOtros" column="col19" />
        <result property="aum1" column="col20" />
        <result property="aum2" column="col21" />
        <result property="gratOrd" column="col22" />
        <result property="totRem" column="col23" />
        <result property="noRemu" column="col24" />
        
        <!-- SEGUNDA PARTE -->
        <result property="snp" column="coll1" />
        <result property="vidaSa" column="coll2" />
        <result property="quintaCat" column="coll3" />
        <result property="apOblAfp" column="coll4" />
        <result property="apVolAfp" column="coll5" />
        <result property="primaAfp" column="coll6" />
        <result property="cVarAfp" column="coll8" />
        <result property="faltas" column="coll9" />
        <result property="tardanzas" column="coll10" />
        <result property="adelantos" column="coll11" />
        <result property="prestamos" column="coll12" />
        <result property="dsctoJudic" column="coll14" />
        <result property="otros" column="coll16" />
        <result property="asigEduc" column="coll17" />
        <result property="eps" column="coll21" />
        <result property="totDesc" column="coll23" />
        <result property="liquido" column="coll24" />
        
        <!-- TERCERA PARTE -->
        <result property="salud" column="colll1" />
        <result property="aportEps" column="colll2" />
        <result property="totAport" column="colll12" />
        
        <result property="totalPersonal" column="totalPersonal" />
        <!-- UNIDAD DE NEGOCIO -->
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        <!-- PERSONAL -->
        <association property="personalBean" column="idpagante"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
    </resultMap>
    
    <!-- UNIDAD DE NEGOCIO RESULTADO -->
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNeg"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/>
        <result property="ruc" column="ruc"/>
        <result property="fecfundacion" column="fecfundacion"/>
    </resultMap>
    
    <!-- PERSONAL -->
    <resultMap id="personalResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idPersonal"/>
        <result property="apepat" column="apePatPersonal"/>
        <result property="apemat" column="apeMatPersonal"/>
        <result property="nombre" column="nombrePersonal"/>  
        <result property="codPer" column="codPer"/> 
        <result property="nroDoc" column="nroDoc"/> 
        <result property="nombreCompleto" column="nombreCompleto"/> 
    </resultMap>
    
    <select id="obtenerPlanilla" parameterType="pe.marista.sigma.bean.PlanillaBean" resultMap="planillaResultado" >
        <include refid="consultaCampos" />
        where u.unineg = #{unidadNegocioBean.uniNeg}
    </select>
    <select id="obtenerPlanillaMesAnio" parameterType="pe.marista.sigma.bean.PlanillaBean" resultMap="planillaResultado" >
        select distinct anio, mes from MO_Planilla
        where anio=#{anio} and mes=#{mes}
    </select> 
    <select id="obtenerPlanillaUltimoId" resultType="Integer" >
        select isnull(max(idplanilla),0) from MO_Planilla 
    </select>
    <select id="obtenerPlanillaCantidadesInsertadas" resultType="Integer" parameterType="Integer">
        select count(*) as cantidad from MO_Planilla 
        where idplanilla>#{idPlanilla}
    </select>
    <select id="obtenerPlanillaListaProcesados" parameterType="pe.marista.sigma.bean.PlanillaBean" resultMap="planillaResultado" >
        <include refid="consultaCampos" />
        where idplanilla>#{idPlanilla} and u.unineg = #{unidadNegocioBean.uniNeg}
    </select>
    <select id="filtrarPlanilla" parameterType="pe.marista.sigma.bean.PlanillaBean" resultMap="planillaResultado" >
        <include refid="consultaCampos2" />
        <where>
            p.unineg = #{unidadNegocioBean.uniNeg}
            <if test="anio != null" >
                and p.anio = #{anio}
            </if>
            <if test="mes != null" >
                and p.mes = #{mes}
            </if> 
            <if test="empleado != null and empleado != '' " >
                and p.empleado like concat('%',#{empleado},'%') 
            </if>
            <if test="codigo != null and codigo != '' " >
                and p.codigo like concat('%',#{codigo},'%') 
            </if>
            order by p.codigo
        </where>
    </select>
     
    <select id="consultarTemporalConjunto"  resultMap="planillaResultado">
        select COLUMNA_1 as codigo,COLUMNA_6 as horas,columna_8 as col1  from [dbo].[temporal] where personal=1
    </select>
    <select id="consultarPlanillaConjunto"  resultMap="planillaResultado" parameterType="map">
        select horas as horas,col1,col4,codigo from MO_Planilla    
        where mes=#{mes} and anio=#{anio}
    </select>
    
    <select id="proPlanilla" parameterType="pe.marista.sigma.bean.PlanillaBean" resultType="Object" >
        exec PRO_PLANILLA
        @@unineg = #{unidadNegocioBean.uniNeg,javaType=String,jdbcType=VARCHAR,mode=IN},
        @@anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN},
        @@mes = #{mes,javaType=Integer,jdbcType=INTEGER,mode=IN},
        @@creapor = #{creaPor,javaType=String,jdbcType=VARCHAR,mode=IN},
        @@fecha = #{fechaAyuda,javaType=String,jdbcType=VARCHAR,mode=IN} 
    </select>
    
    <select id="proPlanillaAsiento" parameterType="pe.marista.sigma.bean.PlanillaBean" resultType="Object" >
        exec PRO_PLANILLA_ASIENTO
        @@unineg = #{unidadNegocioBean.uniNeg,javaType=String,jdbcType=VARCHAR,mode=IN},
        @@anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN},
        @@mes = #{mes,javaType=Integer,jdbcType=INTEGER,mode=IN},
        @@creapor = #{creaPor,javaType=String,jdbcType=VARCHAR,mode=IN},
        @@fecha = #{fechaAyuda,javaType=String,jdbcType=VARCHAR,mode=IN}
    </select>
    
    <insert id="insertarTemporal" parameterType="pe.marista.sigma.bean.TemporalBean" >
        INSERT INTO [dbo].[temporal]
        ([personal] 
        ,[COLUMNA_1],[COLUMNA_2],[COLUMNA_3],[COLUMNA_4]
        ,[COLUMNA_5],[COLUMNA_6],[COLUMNA_7],[COLUMNA_8]
        ,[COLUMNA_9],[COLUMNA_10],[COLUMNA_11],[COLUMNA_12]
        ,[COLUMNA_13],[COLUMNA_14],[COLUMNA_15],[COLUMNA_16]
        ,[COLUMNA_17],[COLUMNA_18],[COLUMNA_19],[COLUMNA_20]
        ,[COLUMNA_21],[COLUMNA_22],[COLUMNA_23],[COLUMNA_24]
        ,[COLUMNA_25],[COLUMNA_26],[COLUMNA_27],[COLUMNA_28]
        ,[COLUMNA_29],[COLUMNA_30],[COLUMNA_31],[COLUMNA_32]
        ,[COLUMNA_33],[COLUMNA_34],[COLUMNA_35],[COLUMNA_36]
        ,[COLUMNA_37],[COLUMNA_38])
        VALUES(
        #{personal},
        #{columna1},#{columna2},#{columna3},#{columna4},
        #{columna5},#{columna6},#{columna7},#{columna8},
        #{columna9},#{columna10},#{columna11},#{columna12},
        #{columna13},#{columna14},#{columna15},#{columna16},
        #{columna17},#{columna18},#{columna19},#{columna20},
        #{columna21},#{columna22},#{columna23},#{columna24},
        #{columna25},#{columna26},#{columna27},#{columna28},
        #{columna29},#{columna30},#{columna31},#{columna32},
        #{columna33},#{columna34},#{columna35},#{columna36},
        #{columna37},#{columna38})
    </insert>
    
    <sql id="consultaCamposNoProcesados" >
        select
        p.[unineg],p.idPlanilla
        ,p.[anio],p.[mes],p.[codigo],p.[empleado],p.[cargo],p.[nombreafp],p.[cuis]
        ,p.[sexo],p.[fecingreso],p.[laboracion]
        
        ,p.[col1],p.[col2],p.[col3],p.[col4]
        ,p.[col5],p.[col6],p.[col7],p.[col8]
        ,p.[col9],p.[col10],p.[col11],p.[col12]
        ,p.[col13],p.[col14],p.[col15] ,p.[col16]
        ,p.[col17],p.[col18],p.[col19],p.[col20]
        ,p.[col21],p.[col22],p.[col23],p.[col24]
        
        ,p.[coll1],p.[coll2],p.[coll3],p.[coll4]
        ,p.[coll5],p.[coll6],p.[coll7],p.[coll8]
        ,p.[coll9],p.[coll10],p.[coll11],p.[coll12]
        ,p.[coll13],p.[coll14],p.[coll15],p.[coll16]
        ,p.[coll17],p.[coll18],p.[coll19],p.[coll20]
        ,p.[coll21],p.[coll22],p.[coll23],p.[coll24]
        
        ,p.[colll1],p.[colll2],p.[colll3],p.[colll4]
        ,p.[colll5],p.[colll6],p.[colll7],p.[colll8]
        ,p.[colll9],p.[colll10],p.[colll11],p.[colll12]
        ,p.[colll13],p.[colll14],p.[colll15],p.[colll16]
        ,p.[creapor],p.[creafecha],p.[modipor],p.[modifecha],p.[modiver]
        ,per.codper,per.apepat,per.apemat,per.nrodoc
        ,u.unineg,u.nombreUniNeg,u.fecfundacion,u.RUC
        FROM [dbo].[MO_PlanillaNoProcesado] p
        inner join MO_Personal per on p.codigo = per.codper and p.unineg = per.unineg 
        inner join MO_UnidadNegocio u on p.unineg = u.unineg and per.unineg = u.unineg
    </sql>
    
    <resultMap id="planillaNoProcesadoResultado" type="pe.marista.sigma.bean.PlanillaNoProcesadoBean" >
        <id property="idPlanilla" column="idPlanilla"/>
        <result property="empleado" column="empleado" />
        <result property="codigo" column="codigo" />
        <result property="cargo" column="cargo" />
        <result property="horas" column="horas" />
        <result property="laboracion" column="laboracion" />
        
        <!-- PRIMERA PARTE -->
        <result property="remuneracion" column="col1" />
        <result property="bonificacion" column="col2" />
        <result property="aisgFam" column="col3" />
        <result property="boniCargo" column="col4" />
        <result property="boniReg" column="col7" />
        <result property="adl1" column="col8" />
        <result property="adl2" column="col9" />
        <result property="evaluacion" column="col10" />
        <result property="nivelacion" column="col11" />
        <result property="heFijas" column="col12" />
        <result property="heVar" column="col13" />
        <result property="compVac" column="col17" />
        <result property="remVac" column="col18" />
        <result property="asigOtros" column="col19" />
        <result property="aum1" column="col20" />
        <result property="aum2" column="col21" />
        <result property="gratOrd" column="col22" />
        <result property="totRem" column="col23" />
        <result property="noRemu" column="col24" />
        
        <!-- SEGUNDA PARTE -->
        <result property="snp" column="coll1" />
        <result property="vidaSa" column="coll2" />
        <result property="quintaCat" column="coll3" />
        <result property="apOblAfp" column="coll4" />
        <result property="apVolAfp" column="coll5" />
        <result property="primaAfp" column="coll6" />
        <result property="cVarAfp" column="coll8" />
        <result property="faltas" column="coll9" />
        <result property="tardanzas" column="coll10" />
        <result property="adelantos" column="coll11" />
        <result property="prestamos" column="coll12" />
        <result property="dsctoJudic" column="coll14" />
        <result property="otros" column="coll16" />
        <result property="asigEduc" column="coll17" />
        <result property="eps" column="coll21" />
        <result property="totDesc" column="coll23" />
        <result property="liquido" column="coll24" /> 
        
        <!-- TERCERA PARTE -->
        <result property="salud" column="colll1" />
        <result property="aportEps" column="colll2" />
        <result property="totAport" column="colll12" />
        
        <result property="estado" column="estado" />
        
        <!-- UNIDAD DE NEGOCIO -->
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
        <!-- PERSONAL -->
        <association property="personalBean" column="idpagante"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="personalResultado"/>
    </resultMap>
    <select id="obtenerPlanillaListaNoProcesados" parameterType="pe.marista.sigma.bean.PlanillaNoProcesadoBean" resultMap="planillaNoProcesadoResultado" > 
        select
        anio,mes,codigo, empleado,cargo,
        (case when (select status from MO_Personal pp where pp.codper=p.codigo)=0  then 'Personal dado de baja'
        when <!--(mes not in(13,14) and  p.colll1=0) or ( coll24=0 and mes in(13,14) ) -->
        (col1+col2+col3+col4+col5+col6+col7+col8+col9+col10+col11+col12+col13+col14+col15+col16+col17+col18
        +col19+col20+col21+col22+col23+col24+coll1+coll2+coll3+coll4+coll5+coll6+coll7+coll8+coll9+coll10+coll11
        +coll12+coll13+coll14+coll15+coll16+coll17+coll18+coll19+coll20+coll21+coll22+coll23+coll24+colll1+colll2
        +colll3+colll4+colll5+colll6+colll7+colll8+colll9+colll10+colll11+colll12)>0
        then 'Personal dado de baja'
        when p.codigo not in (SELECT codper from MO_Personal)  then 'No coincide su codigo LPM' 
        when p.codigo in(select codigo from MO_Planilla where anio=#{anio} and mes = #{mes}) then 'Duplicado - Personal ya registrado'
        else 'No ingreso - Revisar personal' END)as estado 
        from MO_PlanillaNoProcesado p  
        inner join MO_UnidadNegocio uni on uni.unineg=p.unineg
        where uni.unineg = #{uniNeg} and mes=#{mes} and anio=#{anio} and codigo not in 
        (select codigo from mo_planilla where anio=#{anio} and mes = #{mes})
    </select> 
    <select id="obtenerPlanillaListaNoProcesados2" parameterType="pe.marista.sigma.bean.PlanillaNoProcesadoBean" resultMap="planillaNoProcesadoResultado" >
        select
        anio,mes,codigo, empleado,cargo,
        (case when (select status from MO_Personal pp where pp.codper=p.codigo)=0  then 'Personal dado de baja'
        when <!--(mes not in(13,14) and  p.colll1=0) or ( coll24=0 and mes in(13,14) ) -->
        (col1+col2+col3+col4+col5+col6+col7+col8+col9+col10+col11+col12+col13+col14+col15+col16+col17+col18
        +col19+col20+col21+col22+col23+col24+coll1+coll2+coll3+coll4+coll5+coll6+coll7+coll8+coll9+coll10+coll11
        +coll12+coll13+coll14+coll15+coll16+coll17+coll18+coll19+coll20+coll21+coll22+coll23+coll24+colll1+colll2
        +colll3+colll4+colll5+colll6+colll7+colll8+colll9+colll10+colll11+colll12)>0
        then 'Personal dado de baja'
        when p.codigo not in (SELECT codper from MO_Personal)  then 'No coincide su codigo LPM' 
        when p.codigo in(select codigo from MO_Planilla where anio=#{anio} and mes = #{mes}) then 'Duplicado - Personal ya registrado'
        else 'No ingreso - Revisar personal' END)as estado
        from MO_PlanillaNoProcesado p  
        inner join MO_UnidadNegocio uni on uni.unineg=p.unineg
        where uni.unineg = #{uniNeg} and mes=#{mes} and anio=#{anio}  
    </select> 
    <select id="obtenerCantidadDeProcesados" parameterType="map" resultType="Double" >
        declare @suma decimal(16,2)=(select sum(col23+col24+colll1)from MO_Planilla where unineg = #{uniNeg} and mes=#{mes} and anio=#{anio})
        select @suma as cantidad
    </select> 
    <select id="obtenerUltimoDiaDelMes" parameterType="map" resultType="String" >
        declare @mes as int=#{mes}
        declare @anio as int =#{anio}
        DECLARE @mydate varchar(50)
        SELECT @mydate = (select concat(1,'-'+convert(varchar(5),(CASE WHEN @mes=13 THEN 7 WHEN @mes=14 THEN 12 ELSE @mes END)),'-'+convert(varchar(5),@anio)))
        SELECT (case when @mes= 13 then 
        convert(varchar(25),concat('15/0',+convert(varchar(1),(case WHEN @mes=13 THEN 7 end))+'/'+convert(varchar(5),@anio))) 
        when @mes=14 then
        convert(varchar(25),concat('15/',+convert(varchar(2),(case  WHEN @mes=14 THEN 12 end))+'/'+convert(varchar(5),@anio))) 
        else CONVERT(VARCHAR(25),DATEADD(dd,-(DAY(DATEADD(mm,1,@mydate))),DATEADD(mm,1,@mydate)),103) end) 
    </select>
    
    <sql id="consultaCamposCts" > 
        SELECT
        UNI.unineg AS uniNeg,
        CTS.idPlanillacts as idPlanillaCts,
        CTS.anio as anio, parte as parte,
        CTS.codigo as codigo,
        CTS.empleado as empleado,
        CTS.fechaingreso as fechaIngreso,
        CTS.fechainicio as fechaInicio,
        CTS.fechafin as fechaFin,
        CTS.cantidadmeses as cantidadMeses,
        CTS.cantidaddias as cantidadDias,
        CTS.col1 as col1,
        CTS.col2 as col2,
        CTS.col3 as col3,
        CTS.col4 as col4,
        CTS.col5 as col5,
        CTS.col6 as col6,
        CTS.col7 as col7,
        CTS.col8 as col8,
        CTS.col9 as col9,
        CTS.col10 as col10,
        CTS.col11 as col11,
        CTS.col12 as col12,
        CTS.col13 as col13,
        CTS.col14 as col14,
        CTS.creapor as creaPor,
        CTS.creafecha as creaFecha,
        CTS.modipor as modiPor,
        CTS.modifecha as modiFecha,
        CTS.fechasubida as fechaSubida
        FROM MO_PlanillaCTS CTS
        INNER JOIN MO_UnidadNegocio uni ON UNI.unineg=CTS.UNINEG
    </sql> 
    <resultMap id="planillaCtsResultado" type="pe.marista.sigma.bean.PlanillaCtsBean" >
        <id property="idPlanillaCts" column="idPlanilla"/>
        <result property="empleado" column="empleado" />
        <result property="codigo" column="codigo" />
        <result property="anio" column="anio" />
        <result property="fechaIngreso" column="fechaIngreso" />
        <result property="fechaInicio" column="fechaInicio" />
        <result property="fechaSubida" column="fechaSubida" />
        <result property="fechaFin" column="fechaFin" /> 
        <result property="cantidadMeses" column="cantidadMeses" />
        <result property="cantidadDias" column="cantidadDias" />
        <result property="col1" column="col1" />
        <result property="col2" column="col2" />
        <result property="col3" column="col3" />
        <result property="col4" column="col4" />
        <result property="col5" column="col5" />
        <result property="col6" column="col6" />
        <result property="col7" column="col7" />
        <result property="col8" column="col8" />
        <result property="col9" column="col9" />
        <result property="col10" column="col10" />
        <result property="col11" column="col11" />
        <result property="col12" column="col12" />
        <result property="col13" column="col13" />
        <result property="col14" column="col14" /> 
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="modiPor" column="modiPor" />
        <result property="modiFecha" column="modiFecha" /> 
        <!-- UNIDAD DE NEGOCIO -->
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/> 
    </resultMap>
    
    <insert id="insertarPlanillaCTS" parameterType="pe.marista.sigma.bean.PlanillaCtsBean" >
        INSERT INTO [dbo].[MO_PlanillaCTS]
        (unineg,anio,parte,codigo,empleado,fechaingreso,fechainicio,fechafin,cantidadmeses,cantidaddias
        ,[COL1],[COL2],[COL3],[COL4]
        ,[COL5],[COL6],[COL7],[COL8]
        ,[COL9],[COL10],[COL11],[COL12]
        ,[COL13],[COL14],creapor,creafecha,fechasubida)
        VALUES(
        #{unidadNegocioBean.uniNeg},#{anio},#{parte},#{codigo},#{empleado},#{fechaIngreso},#{fechaInicio},#{fechaFin},#{cantidadMeses},
        #{cantidadDias},
        #{col1},#{col2},#{col3},#{col4},
        #{col5},#{col6},#{col7},#{col8},
        #{col9},#{col10},#{col11},#{col12},
        #{col13},#{col14},#{creaPor},getDate(),getDate())
    </insert> 
    <insert id="insertarPlanillaCTSNoProcesados" parameterType="pe.marista.sigma.bean.PlanillaCtsBean" >
        INSERT INTO [dbo].[MO_PlanillaCTSNoProcesados]
        (unineg,anio,parte,codigo,empleado,fechaingreso,fechainicio,fechafin,cantidadmeses,cantidaddias
        ,[COL1],[COL2],[COL3],[COL4]
        ,[COL5],[COL6],[COL7],[COL8]
        ,[COL9],[COL10],[COL11],[COL12]
        ,[COL13],[COL14],creapor,creafecha,fechasubida)
        VALUES(
        #{unidadNegocioBean.uniNeg},#{anio},#{parte},#{codigo},#{empleado},#{fechaIngreso},#{fechaInicio},#{fechaFin},#{cantidadMeses},
        #{cantidadDias},
        #{col1},#{col2},#{col3},#{col4},
        #{col5},#{col6},#{col7},#{col8},
        #{col9},#{col10},#{col11},#{col12},
        #{col13},#{col14},#{creaPor},getDate(),#{fechaSubida})
    </insert> 

    <select id="obtenerListaTrabajadoresPorMes" resultType="String" parameterType="map">
        select codigo from MO_PlanillaCTS
        where parte=#{parte} and unineg=#{uniNeg} and anio=#{anio} and codigo=#{codigo}
    </select>
    <select id="obtenerListaTrabajadoresPorMesNoProc" resultType="String" parameterType="map">
        select codigo from MO_PlanillaCTSNoProcesados
        where parte=#{parte} and unineg=#{uniNeg} and anio=#{anio} and codigo=#{codigo}
    </select>
    <select id="obtenerListaTrabajadoresCRparCts" resultType="Integer" parameterType="map">
        select (case when cr1porc+cr2porc+cr3porc+cr4porc+cr5porc=100
        and idtiponivelins is not null and status=1
        then 1
        else 0 end ) as resultado from MO_Personal
        where unineg=#{uniNeg} and codper=#{codigo}
    </select>   
    <select id="obtenerReporteCabecera" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PlanillaCtsReapBean">
        declare @unineg varchar(6)=#{uniNeg},@mes int=#{mes}, @anio int =#{anio}
 
        select distinct
        uni.nombreUniNeg, uni.RUC as ruc,  UPPER(co.codigo) as codigo,co.idcodigo as idCodigo,
        CONVERT(VARCHAR(20),CAST(sum(a.monto)  AS MONEY),1) as monto,
        concat(convert(varchar(20),cts.anio),' - '+
        (case when cts.parte=5 then 'MAYO'
        when cts.parte=11 then 'NOVIEMBRE' end)
        ) AS anioPeriodo,
        (select CONVERT(VARCHAR(20),CAST(sum(monto)  AS MONEY),1)
        from MT_Asiento where objeto='mo_planillacts' 
        and anio=@anio and unineg=@unineg and mes=@mes) as total
        from MO_PlanillaCTS cts
        inner join MT_Asiento a on a.idobjeto =cts.idPlanillacts and a.objeto='mo_planillacts'
        inner join MO_Personal p on p.codper=cts.codigo
        inner join MO_Codigo co on co.idcodigo=p.idtiponivelins
        inner join MO_UnidadNegocio uni on uni.unineg=cts.unineg
        where parte=@mes and CTS.anio=@anio and uni.unineg=@unineg
        group by uni.nombreUniNeg,uni.RUC,co.codigo,co.idcodigo,cts.anio,cts.parte
    </select>   
    <select id="obtenerReporteDetalle" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PlanillaCtsReapBean">
        declare @unineg varchar(6)=#{uniNeg},@mes int=#{mes}, @anio int =#{anio},@idtipo int=#{idTipo}
 
        select  distinct 
        concat(p.apepat,' '+p.apemat,', '+p.nombre) as empleado ,cts.idplanillacts as idPlanillaCts,co.codigo,co.idcodigo as idCodigo
        from MO_PlanillaCTS cts
        inner join MT_Asiento a on a.idobjeto =cts.idPlanillacts and a.objeto='mo_planillacts'
        inner join MO_Personal p on p.codper=cts.codigo
        inner join MO_Codigo co on co.idcodigo=p.idtiponivelins
        inner join MO_UnidadNegocio uni on uni.unineg=cts.unineg
        where parte=@mes and cts.anio=@anio and uni.unineg=@unineg and p.idtiponivelins=@idtipo
    </select>   
    <select id="obtenerReporteSubDetalle" parameterType="map" resultType="pe.marista.sigma.bean.reporte.PlanillaCtsReapBean">
        declare @unineg varchar(6)=#{uniNeg},@mes int=#{mes}, @anio int =#{anio},@idtipo int=#{idTipo},
        @idtrabajadorplanilla int=#{idObjeto}
 
        select    
        convert(varchar(3),a.cr) as cr, CONVERT(VARCHAR(20),CAST(a.monto  AS MONEY),1) as monto
        from MO_PlanillaCTS cts
        inner join MT_Asiento a on a.idobjeto =cts.idPlanillacts and a.objeto='mo_planillacts'
        inner join MO_Personal p on p.codper=cts.codigo
        inner join MO_Codigo co on co.idcodigo=p.idtiponivelins
        inner join MO_UnidadNegocio uni on uni.unineg=cts.unineg
        where parte=@mes and cts.anio=@anio and uni.unineg=@unineg and a.idobjeto=@idtrabajadorplanilla
    </select>   
    <select id="sp_ed_obtenerListaTrabajadoresCRparCts" parameterType="pe.marista.sigma.bean.PlanillaCtsBean" resultType="Object" >
        exec PRO_PLANILLACTS
        @uniNeg = #{unidadNegocioBean.uniNeg,javaType=String,jdbcType=VARCHAR,mode=IN},
        @anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN},
        @mes = #{parte,javaType=Integer,jdbcType=INTEGER,mode=IN},
        @creaPor = #{creaPor,javaType=String,jdbcType=VARCHAR,mode=IN},
        @fecha = #{fechaSubida,javaType=Date,jdbcType=DATE,mode=IN}
    </select>
    <select id="filtrarPlanillacts" parameterType="pe.marista.sigma.bean.PlanillaCtsBean" resultMap="planillaCtsResultado" >
        <include refid="consultaCamposCts" />
        <where>
            uni.unineg = #{unidadNegocioBean.uniNeg}
            <if test="anio != null" >
                and cts.anio = #{anio}
            </if>
            <if test="parte != null" >
                and cts.parte = #{parte}
            </if> 
            <if test="empleado != null and empleado != '' " >
                and cts.empleado like concat('%',#{empleado},'%') 
            </if>
            <if test="codigo != null and codigo != '' " >
                and cts.codigo like concat('%',#{codigo},'%') 
            </if>
            order by cts.codigo
        </where>
    </select>
    <sql id="consultaCamposCtsNoProcesado" > 
        SELECT
        UNI.unineg AS uniNeg,
        CTS.idPlanillacts as idPlanillaCts,
        CTS.anio as anio, parte as parte,
        CTS.codigo as codigo,
        CTS.empleado as empleado,
        CTS.fechaingreso as fechaIngreso,
        CTS.fechainicio as fechaInicio,
        CTS.fechafin as fechaFin,
        CTS.cantidadmeses as cantidadMeses,
        CTS.cantidaddias as cantidadDias,
        CTS.col1 as col1,
        CTS.col2 as col2,
        CTS.col3 as col3,
        CTS.col4 as col4,
        CTS.col5 as col5,
        CTS.col6 as col6,
        CTS.col7 as col7,
        CTS.col8 as col8,
        CTS.col9 as col9,
        CTS.col10 as col10,
        CTS.col11 as col11,
        CTS.col12 as col12,
        CTS.col13 as col13,
        CTS.col14 as col14,
        CTS.creapor as creaPor,
        CTS.creafecha as creaFecha,
        CTS.modipor as modiPor,
        CTS.modifecha as modiFecha,
        CTS.fechasubida as fechaSubida
        FROM MO_PlanillaCTS CTS
        INNER JOIN MO_UnidadNegocio uni ON UNI.unineg=CTS.UNINEG
    </sql> 
    <resultMap id="planillaCtsNoProcesadoResultado" type="pe.marista.sigma.bean.PlanillaCtsNoProcesadosBean" >
        <id property="idPlanillaCts" column="idPlanilla"/>
        <result property="empleado" column="empleado" />
        <result property="codigo" column="codigo" />
        <result property="anio" column="anio" />
        <result property="fechaIngreso" column="fechaIngreso" />
        <result property="fechaInicio" column="fechaInicio" />
        <result property="fechaSubida" column="fechaSubida" />
        <result property="fechaFin" column="fechaFin" /> 
        <result property="cantidadMeses" column="cantidadMeses" />
        <result property="cantidadDias" column="cantidadDias" />
        <result property="col1" column="col1" />
        <result property="col2" column="col2" />
        <result property="col3" column="col7" />
        <result property="col4" column="col8" />
        <result property="col5" column="col9" />
        <result property="col6" column="col10" />
        <result property="col7" column="col11" />
        <result property="col8" column="col12" />
        <result property="col9" column="col13" />
        <result property="col10" column="col17" />
        <result property="col11" column="col18" />
        <result property="col12" column="col19" />
        <result property="col13" column="col20" />
        <result property="col14" column="col21" /> 
        <result property="creaPor" column="creaPor" />
        <result property="creaFecha" column="creaFecha" />
        <result property="modiPor" column="modiPor" />
        <result property="modiFecha" column="modiFecha" /> 
        <result property="estado" column="estado" /> 
        <!-- UNIDAD DE NEGOCIO -->
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/> 
    </resultMap>
    
    <select id="obtenerPlanillaCTSListaNoProcesados2" parameterType="pe.marista.sigma.bean.PlanillaCtsBean" resultMap="planillaCtsNoProcesadoResultado" >
        declare @anio int=#{anio}  
        ,@mes int=#{mes},
        @uniNeg varchar(6)=#{uniNeg}
        select
        anio,parte,codigo, empleado, 
        (case when (select status from MO_Personal pp where pp.codper=p.codigo)=0  then 'Personal dado de baja'
        when p.codigo not in (SELECT codper from MO_Personal)  then 'No coincide su codigo LPM' 
        when p.codigo in(select codigo from MO_Planillacts where anio=@anio and parte = @mes) then 'Duplicado - Personal ya registrado'
        else 'No ingreso - Revisar personal' END)as estado
        from MO_PlanillaCTSNoProcesados p  
        inner join MO_UnidadNegocio uni on uni.unineg=p.unineg
        where uni.unineg = @uniNeg and parte=@mes and anio=@anio  
    </select>
    <select id="obtenerPlanillaCTSListaNoProcesados" parameterType="pe.marista.sigma.bean.PlanillaCtsNoProcesadosBean" resultMap="planillaCtsNoProcesadoResultado" > 
        declare @anio int=#{anio}  
        ,@mes int=#{mes},
        @uniNeg varchar(6)=#{uniNeg}
        select
        anio,parte,codigo, empleado, 
        (case when (select status from MO_Personal pp where pp.codper=p.codigo)=0  then 'Personal dado de baja'
        when p.codigo not in (SELECT codper from MO_Personal)  then 'No coincide su codigo LPM' 
        when p.codigo in(select codigo from MO_Planillacts where anio=@anio and parte = @mes) then 'Duplicado - Personal ya registrado'
        else 'No ingreso - Revisar personal' END)as estado 
        from MO_PlanillaCTSNoProcesados p  
        inner join MO_UnidadNegocio uni on uni.unineg=p.unineg
        where uni.unineg = @uniNeg and parte=@mes and anio=@anio and codigo not in 
        (select codigo from mo_planillaCts where anio=@anio and parte = @mes)
    </select>
    <select id="obtenerCantidadDeProcesadosCts" parameterType="map" resultType="Double" >
        declare @suma decimal(16,2)=(select sum(col12)from MO_PlanillaCTS where unineg = #{uniNeg} and parte=#{mes} and anio=#{anio})
        select @suma as cantidad
    </select> 
</mapper>
