<?xml version="1.0" encoding="windows-1252"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="pe.marista.sigma.dao.ProcesoFalloDAO">
    <sql id="consultaFallo" >
        select 
        pf.unineg as unineg,
        per.nombre as nombre,
        per.apepat as apePat,
        per.apemat as apeMat,
        est.idestudiante as idEstudiante,
        est.codigo as codigo,
        (case 
        when pf.mes = 1 then 'Enero'
        when pf.mes = 2 then 'Febrero'
        when pf.mes = 3 then 'Marzo'
        when pf.mes = 4 then 'Abril'
        when pf.mes = 5 then 'Mayo'
        when pf.mes = 6 then 'Junio'
        when pf.mes = 7 then 'Julio'
        when pf.mes = 8 then 'Agosto'
        when pf.mes = 9 then 'Setiembre'
        when pf.mes = 10 then 'Octubre'
        when pf.mes = 11 then 'Noviembre'
        when pf.mes = 12 then 'Diciembre'
        end) as mes,
        pf.monto as monto,
        pf.fecha as fecha,
        convert(varchar,pf.fecha,105) as fechaVista,
        pf.anio as anio,
        ga.idnivelacademico as grado,
        ga.nombre as nombreGrado
        from MT_ProcesoFallo pf
        inner join MX_Estudiante est on pf.idestudiante = est.idestudiante and pf.unineg = est.unineg
        inner join MX_Persona per on est.idestudiante = per.idpersona and est.unineg = per.unineg
        inner join MX_GradoAcademico ga on est.idgradohabilitado = ga.idgradoacademico
        inner join MX_NivelAcademico na on ga.idnivelacademico = na.idnivelacademico
    </sql>
    <resultMap id="procesoFalloRedultado" type="pe.marista.sigma.bean.ProcesoFalloBean" >
        <id property="idProcesoFallo" column="idProcesoFallo" />
        <result property="uniNeg" column="uniNeg" />
        <result property="nombre" column="nombre" />
        <result property="apePat" column="apePat" />
        <result property="apeMat" column="apeMat" />
        <result property="idEstudiante" column="idEstudiante" />
        <result property="codigo" column="codigo" />
        <result property="grado" column="grado" />
        <result property="nombreGrado" column="nombreGrado" />
        <result property="anio" column="anio" />
        <result property="mes" column="mes" />
        <result property="fechaVista" column="fechaVista" />
        <result property="monto" column="monto" />
        <result property="fecha" column="fecha" />
    </resultMap>
    <select id="obtenerFalloUniNeg" parameterType="pe.marista.sigma.bean.ProcesoFalloBean" resultMap="procesoFalloRedultado" >
        <include refid="consultaFallo" />
        where pf.unineg = #{uniNeg}
    </select>
    <select id="obtenerFalloPorBanco" parameterType="map" resultMap="procesoFalloRedultado" >
        <include refid="consultaFallo" />
        where pf.unineg = #{uniNeg} and idprocesobanco = #{idProcesoBanco}
    </select>
</mapper>
