<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="pe.marista.sigma.dao.ResDimensionDAO">    

    <select id="sp_mc_resultadoxdimensiones" resultType="pe.marista.sigma.bean.ResDimensionBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_RESULTADOXDIMENSIONES (
            #{unineg, mode=IN, jdbcType=VARCHAR},
            #{anio, mode=IN, jdbcType=INTEGER}
        )}      

    </select> 
    
    <select id="sp_mc_grp_ocupacionales_no_docentes" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_NO_DOCENTES (
            #{unineg, mode=IN, jdbcType=VARCHAR},            
            #{idTipoPersonal, mode=IN, jdbcType=INTEGER},
            #{idTipoArea, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}
        )}        
    </select>    

    <select id="sp_mc_grp_ocupacionales_dir_adm_for" resultType="pe.marista.sigma.bean.ResDimensionBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_DIR_ADM_FOR (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{idTipoPersonal, mode=IN, jdbcType=INTEGER},
            #{idTipoArea, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}          
    </select>   

    <select id="sp_mc_grp_ocupacionales_general" resultType="pe.marista.sigma.bean.ResSatGeneralBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_GENERAL (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}     
    </select>  
    
    <select id="sp_mc_pie_satisfaccion_general" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_PIE_SATISFACCION_GENERAL (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}           
    </select>                  
    
    <select id="sp_mc_grp_ocupacionales_mantenimiento" resultType="pe.marista.sigma.bean.ResDimensionBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_MANTENIMIENTO (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )} 
    </select>    

    <select id="sp_mc_general_historico" resultType="pe.marista.sigma.bean.HistoricoBean" parameterType="String">
         exec SP_MC_GENERAL_HISTORICO
         @unineg = #{unineg,javaType=String,jdbcType=VARCHAR,mode=IN}        
    </select>
            
    <select id="sp_mc_grp_ocupacionales_docentes" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_DOCENTES (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{idTipoPersonal, mode=IN, jdbcType=INTEGER},
            #{idNivelAcademico, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}      
        )}          
    </select>   

    <select id="sp_mc_grp_ocupacionales_ini_pri_sec" resultType="pe.marista.sigma.bean.ResDimensionBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_INI_PRI_SEC (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{idTipoPersonal, mode=IN, jdbcType=INTEGER},
            #{idNivelAcademico, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}
        )}          
    </select>
    <select id="sp_mc_tipo_sexo" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_TIPO_SEXO (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{sexo, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}  
        )}          
    </select>
    <select id="sp_mc_rango_de_edades" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_RANGO_DE_EDADES (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{idEdad, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}     
        )}          
    </select>                                  
    
    <select id="sp_mc_tiempo_de_servicio" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_TIEMPO_DE_SERVICIO (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{idTiempoServicio, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}          
    </select>      
    <select id="sp_mc_unidadnegocio" resultType="pe.marista.sigma.bean.UniNegBean" parameterType="String">
        exec SP_MC_UNIDADNEGOCIO
    </select>
    <select id="sp_mc_grp_ocupacionales_sector_adm" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="String">
        exec SP_MC_GRP_OCUPACIONALES_SECTOR_ADM
        @anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN} 
    </select>
    <select id="sp_mc_sat_general_dimensiones" resultType="pe.marista.sigma.bean.ConGeneralBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_SAT_GENERAL_DIMENSIONES (
            #{idDimension, mode=IN, jdbcType=VARCHAR},
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}       
    </select>
    <select id="sp_mc_sat_general_unineg" resultType="pe.marista.sigma.bean.ConGeneralBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_SAT_GENERAL_UNINEG (
            #{idDimension, mode=IN, jdbcType=VARCHAR},
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}       
    </select>    
    <select id="sp_mc_satisfaccion_general_actual" resultType="pe.marista.sigma.bean.SatisfaccionGrlBean" parameterType="String">
         exec SP_MC_SATISFACCION_GENERAL_ACTUAL 
         @anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN}        
    </select>  
    <select id="sp_mc_sugerencias" resultType="pe.marista.sigma.bean.SugerenciasBean" parameterType="String">
         exec SP_MC_SUGERENCIAS  
         @anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN}    
    </select>
    
    
    
    
    
    
    
    
    <select id="sp_mc_cant_poblacion" resultType="pe.marista.sigma.bean.PoblacionBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_CANT_POBLACION (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}               
    </select>    
    <select id="sp_mc_grp_ocupacionales_encuestados" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_ENCUESTADOS (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )} 
    </select> 
    <select id="sp_mc_cant_poblacion_sexo" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_CANT_POBLACION_SEXO (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}   
    </select>                        
    <select id="sp_mc_cant_poblacion_rang_edad" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_CANT_POBLACION_RANG_EDAD (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}       
    </select>   
    <select id="sp_mc_cant_poblacion_time_ser" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_CANT_POBLACION_TIME_SER (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}
    </select>   
    <select id="sp_mc_cant_poblacion_grp_ocupacional" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
         { call SP_MC_CANT_POBLACION_GRP_OCUPACIONAL (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}        
        )} 
    </select>
    
    
  
    
    
    <select id="sp_mc_cant_poblacion_nivel_academico" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_NIVEL_ACADEMICO (
            #{unineg, mode=IN, jdbcType=VARCHAR},        
            #{idNivelAcademico, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}     
        )}          
    </select>       
    <select id="sp_mc_cant_poblacion_area" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_AREA (
            #{unineg, mode=IN, jdbcType=VARCHAR},     
            #{idtipoarea, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}      
        )}          
    </select>     
    <select id="sp_mc_cant_poblacion_per_mant" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_PER_MANT (
            #{unineg, mode=IN, jdbcType=VARCHAR},     
            #{anio, mode=IN, jdbcType=INTEGER}      
        )}     
    </select>  

    <select id="sp_mc_cant_poblacion_consolidado" resultType="pe.marista.sigma.bean.CantidadBean" parameterType="String">
         exec SP_MC_CANT_POBLACION_CONSOLIDADO 
         @anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN}        
    </select>      
    <select id="sp_mc_cant_poblacion_cons_unineg" resultType="pe.marista.sigma.bean.PoblacionCons" parameterType="String">
         exec SP_MC_CANT_POBLACION_CONS_UNINEG
         @anio = #{anio,javaType=Integer,jdbcType=INTEGER,mode=IN}   
    </select>
    <select id="sp_mc_cant_poblacion_cons_dim" resultType="pe.marista.sigma.bean.PoblacionCons" parameterType="Map"
        statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_CONS_DIM (
            #{iddimension, mode=IN, jdbcType=VARCHAR},     
            #{anio, mode=IN, jdbcType=INTEGER}      
        )}      
    </select>     
    <select id="sp_mc_cant_poblacion_cons_grupoocu" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_CONS_GRUPOOCU (
            #{iddimension, mode=IN, jdbcType=VARCHAR},     
            #{anio, mode=IN, jdbcType=INTEGER}      
        )}
    </select> 
    <select id="sp_mc_grp_ocupacionales_no_docentes_mant" resultType="pe.marista.sigma.bean.GrPieChartBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_GRP_OCUPACIONALES_NO_DOCENTES_MANT (
            #{unineg, mode=IN, jdbcType=VARCHAR},            
            #{idTipoPersonal, mode=IN, jdbcType=INTEGER},
            #{anio, mode=IN, jdbcType=INTEGER}
        )}        
    </select>   
    <select id="sp_mc_desc_unidadnegocio" resultType="pe.marista.sigma.bean.UniNegBean" parameterType="String">
         exec SP_MC_DESC_UNIDADNEGOCIO
         @unineg = #{unineg,javaType=String,jdbcType=VARCHAR,mode=IN}   
    </select>  
    <select id="sp_mc_cant_poblacion_grp_nivel" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_CANT_POBLACION_GRP_NIVEL (
            #{anio, mode=IN, jdbcType=INTEGER},            
            #{unineg, mode=IN, jdbcType=VARCHAR}
        )}        
    </select>   
    <select id="sp_mc_cargar_tbl_poblaciones" resultType="pe.marista.sigma.bean.CantidadBean" parameterType="String">
        exec SP_MC_CARGAR_TBL_POBLACIONES
    </select>         
    
    
    
    <select id="sp_mc_satisfaccion_general_actual_estatal_particular" resultType="pe.marista.sigma.bean.SatisfaccionGrlBean" parameterType="Map"
    statementType="CALLABLE">
         { call SP_MC_SATISFACCION_GENERAL_ACTUAL_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR},        
            #{anio, mode=IN, jdbcType=INTEGER}
        )}     
    </select>      
    <select id="sp_mc_resultadoxdimensiones_estatal_particular" resultType="pe.marista.sigma.bean.ResDimensionBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_RESULTADOXDIMENSIONES_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR},
            #{anio, mode=IN, jdbcType=INTEGER}
        )}      

    </select>           
    <select id="sp_mc_sat_general_dimensiones_estatal_particular" resultType="pe.marista.sigma.bean.ConGeneralBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_SAT_GENERAL_DIMENSIONES_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR}, 
            #{idDimension, mode=IN, jdbcType=VARCHAR},
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}       
    </select>          

    <select id="sp_mc_sat_general_unineg_estatal_particular" resultType="pe.marista.sigma.bean.ConGeneralBean" parameterType="Map"
    statementType="CALLABLE">
        { call SP_MC_SAT_GENERAL_UNINEG_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR},         
            #{idDimension, mode=IN, jdbcType=VARCHAR},
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}       
    </select>     
                      
    <select id="sp_mc_cant_poblacion_cons_unineg_estatal_particular" resultType="pe.marista.sigma.bean.PoblacionCons" parameterType="Map"
        statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_CONS_UNINEG_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR},         
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}   
    </select>                          

    <select id="sp_mc_cant_poblacion_consolidado_estatal_particular" resultType="pe.marista.sigma.bean.CantidadBean" parameterType="Map"
        statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_CONSOLIDADO_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR},         
            #{anio, mode=IN, jdbcType=INTEGER}        
        )}      
    </select>  

    <select id="sp_mc_cant_poblacion_cons_dim_estatal_particular" resultType="pe.marista.sigma.bean.PoblacionCons" parameterType="Map"
        statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_CONS_DIM_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR},            
            #{iddimension, mode=IN, jdbcType=VARCHAR},     
            #{anio, mode=IN, jdbcType=INTEGER}      
        )}      
    </select>  
    <select id="sp_mc_cant_poblacion_cons_grupoocu_estatal_particular" resultType="pe.marista.sigma.bean.PoblacionGrOcuBean" parameterType="Map"
        statementType="CALLABLE">
        { call SP_MC_CANT_POBLACION_CONS_GRUPOOCU_ESTATAL_PARTICULAR (
            #{tip_colegio, mode=IN, jdbcType=VARCHAR},          
            #{iddimension, mode=IN, jdbcType=VARCHAR},     
            #{anio, mode=IN, jdbcType=INTEGER}      
        )}
    </select>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        
</mapper>