<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.TipoCodigoDAO">  
    <sql id="consultaCampos">
        Select  
        idTipoCodigo,
        idTipo,
        descripcion
        From MO_TipoCodigo     
    </sql>
    <resultMap id="tipoCodigoResultado" type="pe.marista.sigma.bean.TipoCodigoBean">
        <id property="idTipoCodigo" column="idTipoCodigo"/>
        <result property="descripcion" column="descripcion"/>
        <result property="idTipo" column="idTipo"/>
        <result property="creaPor" column="creaPor"/>
        <result property="creaFecha" column="creaFecha"/>
        <result property="modiPor" column="modiPor"/>
    </resultMap>
    <select id="obtenerTodos" resultMap="tipoCodigoResultado">
        <include refid="consultaCampos" />
    </select>
    <!--Tipo Codigo-->
    <select id="obtenerPorTipo" resultMap="tipoCodigoResultado" parameterType="map">
        <include refid="consultaCampos" /> WHERE idTipoCodigo = #{idTipoCodigo}
    </select>
    <!--<select id="obtenerFiltro" resultMap="tipoCodigoResultado" parameterType="pe.marista.sigma.bean.TipoCodigoBean">
        <include refid="consultaCampos" />
        <where>
            <if test="tipoCodigo != null and tipoCodigo != ''">
                upper(tipoCodigo) like concat('%',#{tipoCodigo},'%')
            </if>
            <if test="descripcion != null and descripcion != ''">
                and upper(descripcion) like concat('%',#{descripcion},'%')
            </if>
        </where>
    </select>
    -->
    <select id="obtenerPorId" resultMap="tipoCodigoResultado" parameterType="pe.marista.sigma.bean.TipoCodigoBean">
        <include refid="consultaCampos" />WHERE idTipoCodigo = #{idTipoCodigo}
    </select>
    <insert id="insertar" parameterType="pe.marista.sigma.bean.TipoCodigoBean">
        INSERT INTO MO_TipoCodigo (idTipoCodigo,descripcion,creaPor,creaFecha)
        Values (#{idTipoCodigo},#{descripcion},#{creaPor},getDate())
    </insert> 
    <update id="actualizar" parameterType="pe.marista.sigma.bean.TipoCodigoBean">
        UPDATE MO_TipoCodigo
        SET 
        descripcion = #{descripcion},
        modiPor= #{modiPor}
        Where idTipoCodigo = #{idTipoCodigo}
    </update>
    <delete id="eliminar" parameterType="pe.marista.sigma.bean.TipoCodigoBean">
        Delete From MO_TipoCodigo Where idTipoCodigo = #{idTipoCodigo}
    </delete>
</mapper>
