<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="pe.marista.sigma.dao.TipoSolicitudDAO">
    <sql id="consultaTipoSolicitud"> 
        SELECT tipSol.unineg
        ,tipSol.idTipoSolicitud
        ,tipSol.nombre as nomTS
        ,tipSol.idTipoAmbitosol 
        ,codAmb.codigo as codAmb
        
        ,tipSol.idTipoAutoriza1
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (tipSol.idAutoriza1)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza1 IS NULL then 
        (NULL)
        end) as  idAutorizaPer1
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (select perso1.apepat  from mo_personal perso1 where perso1.idPersonal=tipSol.idautoriza1 and perso1.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza1 IS NULL then 
        (NULL)
        end) as apepatAutoPer1 
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (select perso1.correoCor  from mo_personal perso1 where perso1.idPersonal=tipSol.idautoriza1 and perso1.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza1 IS NULL then 
        (NULL)
        end) as correoCor1 
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (select perso1.apemat  from mo_personal perso1 where perso1.idPersonal=tipSol.idautoriza1 and perso1.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza1 IS NULL then 
        (NULL)
        end) apematAutoPer1
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (select perso1.nombre  from mo_personal perso1 where perso1.idPersonal=tipSol.idautoriza1 and perso1.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza1 IS NULL then 
        (NULL)
        end) as nombreAutoPer1  
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (NULL)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (tipSol.idAutoriza1)
        when tipSol.idTipoAutoriza1 IS NULL then 
        (NULL)
        end) as idAutorizaUniOrg1
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (NULL)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (select uniOrg.nombreuniorg  from MO_UniNegUniOrg uniNegOrg inner join MO_UnidadOrganica uniOrg on uniNegOrg.iduniorg=uniOrg.iduniorg where uniNegOrg.unineg=tipSol.uniNeg and uniNegOrg.iduniorg=tipSol.idautoriza1)
        end) as  nombreUniOrg1 
        ,(case 
        when tipSol.idTipoAutoriza1 = 'P' then 
        (select concat(perso1.apepat,' ',perso1.apemat,' ',perso1.nombre) as nombreCompleto1 from mo_personal perso1 where perso1.idPersonal=tipSol.idautoriza1 and perso1.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza1 = 'U' then 
        (select uniOrg.nombreuniorg as nombreUniNegPer1 from MO_UniNegUniOrg uniNegOrg inner join MO_UnidadOrganica uniOrg on uniNegOrg.iduniorg=uniOrg.iduniorg where uniNegOrg.unineg=tipSol.uniNeg and uniNegOrg.iduniorg=tipSol.idautoriza1)
        end) as  idAutoriza1Vista 
        
        
        ,tipSol.idTipoAutoriza2
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (select perso2.apepat  from mo_personal perso2 where perso2.idPersonal=tipSol.idautoriza2 and perso2.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza2 IS NULL then 
        (NULL)
        end) as apepatAutoPer2
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (select perso2.correoCor  from mo_personal perso2 where perso2.idPersonal=tipSol.idautoriza2 and perso2.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza2 IS NULL then 
        (NULL)
        end) as correoCor2 
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (select perso2.apemat  from mo_personal perso2 where perso2.idPersonal=tipSol.idautoriza2 and perso2.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza2 IS NULL then 
        (NULL)
        end) apematAutoPer2
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (select perso2.nombre  from mo_personal perso2 where perso2.idPersonal=tipSol.idautoriza2 and perso2.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza2 IS NULL then 
        (NULL)
        end) as nombreAutoPer2
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (tipSol.idAutoriza2)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza2 IS NULL then 
        (NULL)
        end) as  idAutorizaPer2
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (NULL)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (tipSol.idAutoriza2)
        when tipSol.idTipoAutoriza2 IS NULL then 
        (NULL)
        end) as idAutorizaUniOrg2
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (NULL)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (select uniOrg.nombreuniorg  from MO_UniNegUniOrg uniNegOrg inner join MO_UnidadOrganica uniOrg on uniNegOrg.iduniorg=uniOrg.iduniorg where uniNegOrg.unineg=tipSol.uniNeg and uniNegOrg.iduniorg=tipSol.idautoriza2)
        end) as  nombreUniOrg2 
        ,(case 
        when tipSol.idTipoAutoriza2 = 'P' then 
        (select concat(perso2.apepat,' ',perso2.apemat,' ',perso2.nombre) as nombreCompleto2 from mo_personal perso2 where perso2.idPersonal=tipSol.idautoriza2 and perso2.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza2 = 'U' then 
        (select uniOrg2.nombreuniorg as nombreUniNegPer2 from MO_UniNegUniOrg uniNegOrg2 inner join MO_UnidadOrganica uniOrg2 on uniNegOrg2.iduniorg=uniOrg2.iduniorg where uniNegOrg2.unineg=tipSol.uniNeg and uniNegOrg2.iduniorg=tipSol.idautoriza2)
        end) as  idAutoriza2Vista 
        
        
        
        ,tipSol.idTipoAutoriza3
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (select perso3.apepat  from mo_personal perso3 where perso3.idPersonal=tipSol.idautoriza3 and perso3.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza3 IS NULL then 
        (NULL)
        end) as apepatAutoPer3
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (select perso3.correoCor  from mo_personal perso3 where perso3.idPersonal=tipSol.idautoriza3 and perso3.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza3 IS NULL then 
        (NULL)
        end) as correoCor3 
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (select perso3.apemat  from mo_personal perso3 where perso3.idPersonal=tipSol.idautoriza3 and perso3.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza3 IS NULL then 
        (NULL)
        end) apematAutoPer3
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (select perso3.nombre  from mo_personal perso3 where perso3.idPersonal=tipSol.idautoriza3 and perso3.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza3 IS NULL then 
        (NULL)
        end) as nombreAutoPer3
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (tipSol.idAutoriza3)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (NULL)
        when tipSol.idTipoAutoriza3 IS NULL then 
        (NULL)
        end) as  idAutorizaPer3
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (NULL)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (tipSol.idAutoriza3)
        when tipSol.idTipoAutoriza3 IS NULL then 
        (NULL)
        end) as idAutorizaUniOrg3
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (select concat(perso3.apepat,' ',perso3.apemat,' ',perso3.nombre) as nombreCompleto3 from mo_personal perso3 where perso3.idPersonal=tipSol.idautoriza3 and perso3.uniNeg=tipSol.uniNeg)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (select uniOrg3.nombreuniorg as nombreUniNegPer3 from MO_UniNegUniOrg uniNegOrg3 inner join MO_UnidadOrganica uniOrg3 on uniNegOrg3.iduniorg=uniOrg3.iduniorg where uniNegOrg3.unineg=tipSol.uniNeg and uniNegOrg3.iduniorg=tipSol.idautoriza3)
        end) as  idAutoriza3Vista 
        ,(case 
        when tipSol.idTipoAutoriza3 = 'P' then 
        (NULL)
        when tipSol.idTipoAutoriza3 = 'U' then 
        (select uniOrg.nombreuniorg  from MO_UniNegUniOrg uniNegOrg inner join MO_UnidadOrganica uniOrg on uniNegOrg.iduniorg=uniOrg.iduniorg where uniNegOrg.unineg=tipSol.uniNeg and uniNegOrg.iduniorg=tipSol.idautoriza3)
        end) as  nombreUniOrg3
        ,tipSol.ans1
        ,tipSol.ans2
        ,tipSol.flgAutoEscala
        ,tipSol.status
        ,tipSol.creaPor
        ,tipSol.creaFecha
        ,tipSol.modiPor 
        FROM  MM_TipoSolicitud tipSol
        inner join MO_Codigo codAmb on tipSol.idtipoAmbitoSol=codAmb.idCodigo  
    </sql> 
    <resultMap id="tipoSolicitudResultado" type="pe.marista.sigma.bean.TipoSolicitudBean"> 
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <id property="idTipoSolicitud" column="idTipoSolicitud"/>
        <result property="nombre" column="nomTS"/>
        <result property="ans1" column="ans1"/>
        <result property="ans2" column="ans2"/>
        <result property="idAutoriza1Vista" column="idAutoriza1Vista"/>
        <result property="idAutoriza2Vista" column="idAutoriza2Vista"/>
        <result property="idAutoriza3Vista" column="idAutoriza3Vista"/>
        <result property="flgAutoEscala" column="flgAutoEscala"/> 
        <result property="idTipoAutoriza1" column="idTipoAutoriza1"/> 
        <result property="idTipoAutoriza2" column="idTipoAutoriza2"/>  
        <result property="idTipoAutoriza3" column="idTipoAutoriza3"/>  
        <result property="status" column="status"/> 
        <result property="creaPor" column="creaPor"/>
        <result property="creaFecha" column="creaFecha"/> 
        <result property="modiPor" column="modiPor"/> 
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>  
        <association property="tipoAmbitoSolBean" column="idTipoAmbitoSol"
                     javaType="pe.marista.sigma.bean.CodigoBean"
                     resultMap="tipoAmbitoResultado"/>
        <!--inicio autoriza 1
<association property="tipoAutoriza1Bean" column="idTipoAutoriza1"
        javaType="pe.marista.sigma.bean.CodigoBean"
        resultMap="tipoAutoriza1Resultado"/> -->
        <association property="idAutorizaPer1Bean" column="idAutorizaPer1" 
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="idAutoriza1PerResultado"/>  
        <association property="idAutorizaUO1Bean" column="idAutorizaUniOrg1" 
                     javaType="pe.marista.sigma.bean.UniNegUniOrgBean"
                     resultMap="idAutoriza1UOResultado"/> 
        <!--inicio autoriza 2 
<association property="tipoAutoriza2Bean" column="idTipoAutoriza2"
        javaType="pe.marista.sigma.bean.CodigoBean"
        resultMap="tipoAutoriza2Resultado"/> -->
        <association property="idAutorizaPer2Bean" column="idAutorizaPer2"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="idAutoriza2PerResultado"/>  
        <association property="idAutorizaUO2Bean" column="idAutorizaUniOrg2"
                     javaType="pe.marista.sigma.bean.UniNegUniOrgBean"
                     resultMap="idAutoriza2UOResultado"/> 
        <!--inicio autoriza 3
<association property="tipoAutoriza3Bean" column="idTipoAutoriza3"
        javaType="pe.marista.sigma.bean.CodigoBean"
        resultMap="tipoAutoriza3Resultado"/> -->
        <association property="idAutorizaPer3Bean" column="idAutorizaPer3"
                     javaType="pe.marista.sigma.bean.PersonalBean"
                     resultMap="idAutoriza3PerResultado"/>  
        <association property="idAutorizaUO3Bean" column="idAutorizaUniOrg3"
                     javaType="pe.marista.sigma.bean.UniNegUniOrgBean"
                     resultMap="idAutoriza3UOResultado"/> 
    </resultMap>
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNeg"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/> 
    </resultMap> 
    <resultMap id="tipoAmbitoResultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idTipoAmbitoSol"/>
        <result property="codigo" column="codAmb"/>
    </resultMap> 
    <!--inicio autoriza 1
    <resultMap id="tipoAutoriza1Resultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idAuto1"/>
        <result property="codigo" column="codAuto1"/> 
    </resultMap>-->
    <resultMap id="idAutoriza1PerResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idAutorizaPer1"/>
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <result property="nombre" column="nombreAutoPer1"/>
        <result property="apepat" column="apepatAutoPer1"/>
        <result property="apemat" column="apematAutoPer1"/>
        <result property="correoCor" column="correoCor1"/>
        <result property="nombreCompleto" column="nombreCompleto1"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioPer1Resultado"/> 
    </resultMap>
    <resultMap id="unidadNegocioPer1Resultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegPer1"/>
        <result property="nombreUniNeg" column="nombreUniNegPer1"/> 
    </resultMap>
    <resultMap id="idAutoriza1UOResultado" type="pe.marista.sigma.bean.UniNegUniOrgBean">
        <id property="unidadOrganicaBean.idUniOrg" column="idAutorizaUniOrg1"/>
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioUO1Resultado"/>
        <association property="unidadOrganicaBean" column="idUniOrg"
                     javaType="pe.marista.sigma.bean.UnidadOrganicaBean"
                     resultMap="unidadOrganicaResultado1"/>
    </resultMap> 
    <resultMap id="unidadOrganicaResultado1" type="pe.marista.sigma.bean.UnidadOrganicaBean">
        <id property="idUniOrg" column="idAutorizaUniOrg1"/>
        <result property="nombreUniOrg" column="nombreUniOrg1"/>
    </resultMap>
    <resultMap id="unidadNegocioUO1Resultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegUO1"/>
        <result property="nombreUniNeg" column="nombreUniNegPer1"/> 
    </resultMap>
    <!--fin autoriza 1-->
    <!--inicio autoriza 2
    <resultMap id="tipoAutoriza2Resultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idAuto2"/>
        <result property="codigo" column="codAuto2"/> 
    </resultMap>-->
    <resultMap id="idAutoriza2PerResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idAutorizaPer2"/>
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <result property="nombre" column="nombreAutoPer2"/>
        <result property="apepat" column="apepatAutoPer2"/>
        <result property="apemat" column="apematAutoPer2"/>
        <result property="nombreCompleto" column="nombreCompleto2"/>
        <result property="correoCor" column="correoCor2"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioPer2Resultado"/> 
    </resultMap>
    <resultMap id="unidadNegocioPer2Resultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegPer2"/>
        <result property="nombreUniNeg" column="nombreUniNegPer2"/> 
    </resultMap>
    <resultMap id="idAutoriza2UOResultado" type="pe.marista.sigma.bean.UniNegUniOrgBean">
        <id property="unidadOrganicaBean.idUniOrg" column="idAutorizaUniOrg2"/>
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioUO2Resultado"/>
        <association property="unidadOrganicaBean" column="idUniOrg"
                     javaType="pe.marista.sigma.bean.UnidadOrganicaBean"
                     resultMap="unidadOrganicaResultado2"/>
    </resultMap> 
    <resultMap id="unidadOrganicaResultado2" type="pe.marista.sigma.bean.UnidadOrganicaBean">
        <id property="idUniOrg" column="idAutorizaUniOrg2"/>
        <result property="nombreUniOrg" column="nombreUniOrg2"/>
    </resultMap>
    <resultMap id="unidadNegocioUO2Resultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegUO2"/>
        <result property="nombreUniNeg" column="nombreUniNegPer2"/> 
    </resultMap>
    <!--fin autoriza 2-->
    <!--inicio autoriza 3
    <resultMap id="tipoAutoriza3Resultado" type="pe.marista.sigma.bean.CodigoBean">
        <id property="idCodigo" column="idAuto3"/>
        <result property="codigo" column="codAuto3"/> 
    </resultMap>-->
    <resultMap id="idAutoriza3PerResultado" type="pe.marista.sigma.bean.PersonalBean">
        <id property="idPersonal" column="idAutorizaPer3"/>
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <result property="nombre" column="nombreAutoPer3"/>
        <result property="apepat" column="apepatAutoPer3"/>
        <result property="apemat" column="apematAutoPer3"/>
        <result property="correoCor" column="correoCor3"/>
        <result property="nombreCompleto" column="nombreCompleto3"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioPer3Resultado"/> 
    </resultMap>
    <resultMap id="unidadNegocioPer3Resultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegPer3"/>
        <result property="nombreUniNeg" column="nombreUniNegPer3"/> 
    </resultMap>
    <resultMap id="idAutoriza3UOResultado" type="pe.marista.sigma.bean.UniNegUniOrgBean">
        <id property="unidadOrganicaBean.idUniOrg" column="idAutorizaUniOrg3"/>
        <id property="unidadNegocioBean.uniNeg" column="uniNeg"/>
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioUO3Resultado"/>
        <association property="unidadOrganicaBean" column="idUniOrg"
                     javaType="pe.marista.sigma.bean.UnidadOrganicaBean"
                     resultMap="unidadOrganicaResultado3"/>
    </resultMap> 
    <resultMap id="unidadOrganicaResultado3" type="pe.marista.sigma.bean.UnidadOrganicaBean">
        <id property="idUniOrg" column="idAutorizaUniOrg3"/>
        <result property="nombreUniOrg" column="nombreUniOrg3"/>
    </resultMap>
    <resultMap id="unidadNegocioUO3Resultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNegUO3"/>
        <result property="nombreUniNeg" column="nombreUniNegPer3"/> 
    </resultMap>
    <!--fin autoriza 3-->
    
    <select id="obtenerTodosTipoSolicitudPorUniNeg" resultMap="tipoSolicitudResultado" parameterType="String">
        <include refid="consultaTipoSolicitud" />
        WHERE tipSol.uniNeg= #{uniNeg} 
    </select> 
    <select id="obtenerPorAmbitoPorUniNeg" resultMap="tipoSolicitudResultado" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        <include refid="consultaTipoSolicitud" />
        WHERE tipSol.uniNeg= #{unidadNegocioBean.uniNeg}  and codAmb.codigo=#{tipoAmbitoSolBean.codigo} and tipSol.status=1
    </select> 
    <select id="obtenerSolGenCajaCH" resultMap="tipoSolicitudResultado" parameterType="map">
        <include refid="consultaTipoSolicitud" />
        WHERE tipSol.uniNeg= #{uniNeg}  and tipSol.nombre in (#{general},#{cajach}) and tipSol.status=1
    </select> 
    <select id="obtenerTipoSolicitudPorNombre" resultMap="tipoSolicitudResultado" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        <include refid="consultaTipoSolicitud" />
        WHERE tipSol.uniNeg= #{unidadNegocioBean.uniNeg}  and tipSol.nombre=#{nombre} 
    </select> 
    <select id="validarTipSolConAuto" resultMap="tipoSolicitudResultado" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        declare @idtiposol int =#{idTipoSolicitud},@unineg varchar(6)=#{unidadNegocioBean.uniNeg}
        <include refid="consultaTipoSolicitud" />
        where idtiposolicitud=@idtiposol and unineg=@unineg and idautoriza1 is not null 
    </select> 
    <select id="obtenerTipoSolicitudPorId" resultMap="tipoSolicitudResultado" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        <include refid="consultaTipoSolicitud" />
        Where tipSol.idTipoSolicitud = #{idTipoSolicitud} and tipSol.uniNeg=#{unidadNegocioBean.uniNeg}
    </select> 
    <insert id="insertarTipoSolicitud" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        INSERT INTO MM_TipoSolicitud
        (idTipoSolicitud,uniNeg,nombre,idTipoAmbitoSol,idTipoAutoriza1
        ,idAutoriza1
        ,ans1,idTipoAutoriza2
        ,idAutoriza2
        ,ans2,idTipoAutoriza3
        ,idAutoriza3
        ,flgAutoEscala,creaPor,creaFecha,status)
        Values
        (0,#{unidadNegocioBean.uniNeg},#{nombre},#{tipoAmbitoSolBean.idCodigo},#{idTipoAutoriza1}
        <if test="idAutorizaPer1Bean.idPersonal != null and idAutorizaPer1Bean.idPersonal != '' and idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg == null">
            ,#{idAutorizaPer1Bean.idPersonal}
        </if>
        <if test="idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg != null    and idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg != '' and idAutorizaPer1Bean.idPersonal == null">
            ,#{idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg}
        </if>
        <if test="idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg == null  and idAutorizaPer1Bean.idPersonal == null">
            ,null
        </if>
        ,#{ans1},#{idTipoAutoriza2}
        <if test="idAutorizaPer2Bean.idPersonal != null and idAutorizaPer2Bean.idPersonal != '' and idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg == null"> 
            ,#{idAutorizaPer2Bean.idPersonal}
        </if>
        <if test="idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg != null    and idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg != '' and idAutorizaPer2Bean.idPersonal == null">
            ,#{idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg} 
        </if>
        <if test="idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg == null  and idAutorizaPer2Bean.idPersonal == null">
            ,null
        </if>
        ,#{ans2},#{idTipoAutoriza3}
        <if test="idAutorizaPer3Bean.idPersonal != null and idAutorizaPer3Bean.idPersonal != '' and idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg == null"> 
            ,#{idAutorizaPer3Bean.idPersonal} 
        </if> 
        <if test="idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg != null    and idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg != '' and idAutorizaPer3Bean.idPersonal == null">
            ,#{idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg}
        </if>
        <if test="idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg == null  and idAutorizaPer3Bean.idPersonal == null">
            ,null
        </if>
        ,#{flgAutoEscala},#{creaPor},getDate(),#{status})
    </insert>
    <update id="modificarTipoSolicitud" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        UPDATE MM_TipoSolicitud 
        set
        nombre=#{nombre},
        idTipoAmbitoSol=#{tipoAmbitoSolBean.idCodigo},
        flgAutoEscala = #{flgAutoEscala},  
        idTipoAutoriza1=#{idTipoAutoriza1},
        idAutoriza1=
        <if test="idAutorizaPer1Bean.idPersonal != null and idAutorizaPer1Bean.idPersonal != '' and idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg == null">
            #{idAutorizaPer1Bean.idPersonal}
        </if>
        <if test="idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg != null    and idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg != '' and idAutorizaPer1Bean.idPersonal == null">
            #{idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg}
        </if>
        <if test="idAutorizaUO1Bean.unidadOrganicaBean.idUniOrg == null  and idAutorizaPer1Bean.idPersonal == null">
            null
        </if>
        ,ans1=#{ans1},
        idTipoAutoriza2=#{idTipoAutoriza2},
        idAutoriza2=
        <if test="idAutorizaPer2Bean.idPersonal != null and idAutorizaPer2Bean.idPersonal != '' and idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg == null"> 
            #{idAutorizaPer2Bean.idPersonal}
        </if>
        <if test="idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg != null    and idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg != '' and idAutorizaPer2Bean.idPersonal == null">
            #{idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg} 
        </if>
        <if test="idAutorizaUO2Bean.unidadOrganicaBean.idUniOrg == null  and idAutorizaPer2Bean.idPersonal == null">
            null
        </if>
        ,ans2=#{ans2},
        idTipoAutoriza3=#{idTipoAutoriza3},
        idAutoriza3= 
        <if test="idAutorizaPer3Bean.idPersonal != null and idAutorizaPer3Bean.idPersonal != '' and idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg == null"> 
            #{idAutorizaPer3Bean.idPersonal} 
        </if> 
        <if test="idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg != null    and idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg != '' and idAutorizaPer3Bean.idPersonal == null">
            #{idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg}
        </if>
        <if test="idAutorizaUO3Bean.unidadOrganicaBean.idUniOrg == null  and idAutorizaPer3Bean.idPersonal == null">
            null
        </if>
        ,status=#{status}
        ,modiPor = #{modiPor}
        Where idTipoSolicitud = #{idTipoSolicitud} and unineg=#{unidadNegocioBean.uniNeg}
    </update>
    <delete id="eliminarTipoSolicitud" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        Delete From MM_TipoSolicitud Where idTipoSolicitud = #{idTipoSolicitud} and unineg=#{unidadNegocioBean.uniNeg}
    </delete> 
    <select id="obtenerTipoSolicitudPorFiltro" resultMap="tipoSolicitudResultado" parameterType="pe.marista.sigma.bean.TipoSolicitudBean">
        <include refid="consultaTipoSolicitud"/>
        <where>
            tipSol.uniNeg = #{unidadNegocioBean.uniNeg}  
            <if test="tipoAmbitoSolBean.idCodigo != null and tipoAmbitoSolBean.idCodigo != 0" >
                and  tipSol.idTipoAmbitosol = #{tipoAmbitoSolBean.idCodigo}
            </if>   
            <if test="status != null " >
                and tipSol.status = #{status}
            </if>    
            <if test="flgAutoEscala!= null " >
                and tipSol.flgAutoEscala = #{flgAutoEscala}
            </if>    
            <if test="nombre != null and nombre != '' "> 
                and upper(tipSol.nombre) like concat('%',#{nombre},'%')  
            </if> 
        </where>
        order by tipSol.idTipoSolicitud desc
    </select>
    <select id="obtenerCorreoCorPorAutorizador" resultType="string">
        declare @unineg varchar(6),@nombre varchar(100) 
        set @unineg=#{uniNeg}
        set @nombre=#{nombre}

        declare @tipo varchar(1), @idautorizador int
        set @tipo = ( select  idtipoautoriza1 from MM_TipoSolicitud  ts 
        where ts.nombre=@nombre AND ts.unineg=@unineg)

        set @idautorizador = ( select  idautoriza1  from MM_TipoSolicitud  ts 
        where ts.nombre=@nombre AND ts.unineg=@unineg)
 
        declare
        @correodef varchar(100)='sigma@gmail.com' 
 
        declare @correo varchar (100)=
        (case when @tipo='U' then (select top 1 per.correocor
        from MO_JefeUniOrg juo
        inner join MO_UnidadOrganica uo on uo.iduniorg = juo.iduniorg
        inner join MO_Personal per on per.idpersonal=juo.idpersonal and juo.unineg=per.unineg 
        where juo.idpersonal=@idautorizador and juo.unineg=@unineg and juo.status=1)
        when @tipo='P' then (select top 1 correocor from MO_Personal where idpersonal=@idautorizador and unineg=@unineg)
        else @correodef end )
        select @correo

    </select>
    
</mapper>
