<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="pe.marista.sigma.dao.TipoPaganteDAO">

    <sql id="consultaCampos" >
        select 
        tp.idtipopagante,
        tp.nroasignaciones,
        tp.nompagante,
        u.unineg,
        u.nombreUniNeg,
        u.ruc,
        u.fecfundacion
        from MO_TipoPagante tp
        inner join MO_UnidadNegocio u on tp.unineg = u.unineg
    </sql>
    
    <!-- EVENTO TIPO PAGANTE -->
    <resultMap id="tipoPaganteResultado" type="pe.marista.sigma.bean.TipoPaganteBean" >
        <id property="idtipoPagante" column="idtipopagante" />
        <result property="nroAsignaciones" column="nroasignaciones" />
        <result property="nomPagante" column="nompagante" />
        <association property="unidadNegocioBean" column="uniNeg"
                     javaType="pe.marista.sigma.bean.UnidadNegocioBean"
                     resultMap="unidadNegocioResultado"/>
    </resultMap>
    
    <!-- UNIDAD DE NEGOCIO RESULTADO -->
    <resultMap id="unidadNegocioResultado" type="pe.marista.sigma.bean.UnidadNegocioBean">
        <id property="uniNeg" column="uniNeg"/>
        <result property="nombreUniNeg" column="nombreUniNeg"/>
        <result property="ruc" column="ruc"/>
        <result property="fecfundacion" column="fecfundacion"/>
    </resultMap>
    
    <select id="obtenerTipoPagante" parameterType="pe.marista.sigma.bean.TipoPaganteBean" resultMap="tipoPaganteResultado" >
        <include refid="consultaCampos" />
        where tp.unineg = #{unidadNegocioBean.uniNeg}
    </select>
    
</mapper> 
