<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="pe.marista.sigma.dao.UnidadOrganicaDAO">  
    
    <sql id="consultaCampos">

        <!--
        select uo.idUniOrg,uo.nombreUniOrg,uo.idTipoUniOrg,uo.unineg 

        select uo.idUniOrg,uo.nombreUniOrg,uo.idTipoUniOrg,uo.iduniorgpadre

        from mo_unidadOrganica uo
        -->
        select uo.idUniOrg,uo.nombreUniOrg,uo.idTipoUniOrg,uo.iduniorgpadre  from mo_unidadOrganica uo

    </sql>
    
    <resultMap id="unidadOrganicaResultado" type="pe.marista.sigma.bean.UnidadOrganicaBean">
        <id property="idUniOrg" column="idUniOrg"/>
        <result property="nombreUniOrg" column="nombreUniOrg"/>
    </resultMap>
    
    <select id="obtenerTodos" resultMap="unidadOrganicaResultado">
        <include refid="consultaCampos" />
    </select>
    <select id="obtenerUnidadOrganicaPorId" resultMap="unidadOrganicaResultado" parameterType="pe.marista.sigma.bean.UnidadOrganicaBean">
        <include refid="consultaCampos" />
        where uo.idUniOrg=#{idUniOrg}
    </select>
    <!-- <select id="obtenerPorUnidadNegocio" parameterType="String" resultMap="unidadOrganicaResultado">
        <include refid="consultaCampos" />
        where unineg = #{uniNeg}
    </select>
    -->
    <select id="obtenerPorFiltro" resultMap="unidadOrganicaResultado" parameterType="pe.marista.sigma.bean.UnidadOrganicaBean">
        <include refid="consultaCampos" />
        <where>
            <if test="uniNeg != null and uniNeg != ''">
                upper(uniNeg) like concat('%',#{uniNeg},'%')
            </if>
            <if test="nombreUniNeg != null and nombreUniNeg != 0">
                upper(nombreUniNeg) like concat('%',#{nombreUniNeg},'%')
            </if>
            <if test="ruc != null and ruc != ''">
                and upper(ruc) like concat('%',#{ruc},'%')
            </if>
            <if test="idTipoUniNeg != null and idTipoUniNeg != 0">
                and upper(idTipoUniNeg) like concat('%',#{idTipoUniNeg},'%')
            </if>
        </where>
    </select>
    
</mapper>
